# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Weitere Informationen
accessibility-text-label-header = Textbeschriftungen und -namen
accessibility-keyboard-header = Tastatur

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = Warnung
accessibility-fail =
    .alt = Fehler
accessibility-best-practices =
    .alt = Standardverfahren

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Verwenden Sie das <code>alt</code>-Attribut zum Beschriften von <div>area</div>-Elementen, welche ein <span>href</span>-Attribut besitzen. <a>Weitere Informationen</a>
accessibility-text-label-issue-dialog = Dialoge sollten beschriftet werden. <a>Weitere Informationen</a>
accessibility-text-label-issue-document-title = Dokumente müssen ein <code>title</code>-Element besitzen. <a>Weitere Informationen</a>
accessibility-text-label-issue-embed = Eingebettete Inhalte müssen beschriftet werden. <a>Weitere Informationen</a>
accessibility-text-label-issue-figure = Abbildungen mit optionaler Legende sollten beschriftet werden. <a>Weitere Informationen</a>
accessibility-text-label-issue-fieldset = <code>fieldset</code>-Elemente müssen beschriftet werden. <a>Weitere Informationen</a>
accessibility-text-label-issue-fieldset-legend2 = Verwenden Sie ein <code>legend</code>-Element zum Beschriften eines <span>fieldset</span>-Elements. <a>Weitere Informationen</a>
accessibility-text-label-issue-form = Formularelemente müssen beschriftet werden. <a>Weitere Informationen</a>
accessibility-text-label-issue-form-visible = Formularelemente sollten eine sichtbare Textbeschriftung besitzen. <a>Weitere Informationen</a>
accessibility-text-label-issue-frame = <code>frame</code>-Elemente müssen beschriftet werden. <a>Weitere Informationen</a>
accessibility-text-label-issue-glyph = Verwenden Sie das <code>alt</code>-Attribut zum Beschriften von <span>mglyph</span>-Elementen. <a>Weitere Informationen</a>
accessibility-text-label-issue-heading = Überschriften müssen beschriftet werden. <a>Weitere Informationen</a>
accessibility-text-label-issue-heading-content = Überschriften sollten sichtbaren Textinhalt besitzen. <a>Weitere Informationen</a>
accessibility-text-label-issue-iframe = Verwenden Sie das <code>title</code>-Attribut zum Beschreiben von <span>iframe</span>-Inhalten. <a>Weitere Informationen</a>
accessibility-text-label-issue-image = Inhalte mit Grafiken müssen beschriftet werden. <a>Weitere Informationen</a>
accessibility-text-label-issue-interactive = Interaktive Elemente müssen beschriftet werden. <a>Weitere Informationen</a>
accessibility-text-label-issue-optgroup-label2 = Verwenden Sie das <code>label</code>-Attribut zum Beschriften eines <span>optgroup</span>-Elements. <a>Weitere Informationen</a>
accessibility-text-label-issue-toolbar = Symbolleisten benötigen eine Beschriftung, falls mehr als eine Symbolleiste vorhanden ist. <a>Weitere Informationen</a>

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has a keyboard accessibility
## issue.

accessibility-keyboard-issue-semantics = Fokussierbare Elemente sollten interaktiv sein. <a>Weitere Informationen</a>
accessibility-keyboard-issue-tabindex = Vermeiden Sie <code>tabindex</code>-Attribute größer als 0. <a>Weitere Informationen</a>
accessibility-keyboard-issue-action = Interaktive Elemente müssen sich mit einer Tastatur aktivieren lassen. <a>Weitere Informationen</a>
accessibility-keyboard-issue-focusable = Interaktive Elemente müssen fokussierbar sein. <a>Weitere Informationen</a>
accessibility-keyboard-issue-focus-visible = Fokussierbare Elemente besitzen eventuell keine Hervorhebung als fokussiert. <a>Weitere Informationen</a>
accessibility-keyboard-issue-mouse-only = Klickbare Elemente müssen fokussierbar und sollten interaktiv sein. <a>Weitere Informationen</a>
