# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Varna povezava ni na voljo
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Brskate v načinu "samo HTTPS" in varna različica HTTPS strani <em>{ $websiteUrl }</em> ni na voljo.
about-httpsonly-insecure-explanation-reasons = Najverjetneje spletno mesto ne podpira HTTPS, možno pa je tudi, da napadalec blokira različico HTTPS.
about-httpsonly-insecure-explanation-exception = Čeprav je varnostno tveganje majhno, ob obisku različice HTTP spletnega mesta ne vnašajte nobenih občutljivih podatkov, kot so gesla, e-poštni naslovi ali podrobnosti kreditnih kartic.
about-httpsonly-button-make-exception = Sprejmi tveganje in nadaljuj na stran
about-httpsonly-title = { -brand-short-name } je odkril morebitno varnostno težavo
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = Brskate v načinu "samo HTTPS" in varna različica HTTPS strani <em>{ $websiteUrl }</em> ni na voljo.
about-httpsonly-title-alert = Opozorilo načina "samo HTTPS"
about-httpsonly-title-connection-not-available = Varna povezava ni na voljo
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Omogočili ste način "samo HTTPS" za izboljšano varnost in varna različica HTTPS strani <em>{ $websiteUrl }</em> ni na voljo.
about-httpsonly-explanation-question = Kaj bi lahko povzročilo to?
about-httpsonly-explanation-nosupport = Najverjetneje spletno mesto ne podpira HTTPS.
about-httpsonly-explanation-risk = Možno je tudi, da je vpleten napadalec. Če se odločite za obisk spletnega mesta, ne vnašajte nobenih občutljivih podatkov, kot so gesla, e-poštni naslovi ali podrobnosti kreditnih kartic.
about-httpsonly-button-accept-and-continue = Sprejmi tveganje in nadaljuj
about-httpsonly-explanation-continue = Če nadaljujete, bo za to stran način "samo HTTPS" začasno izklopljen.
about-httpsonly-button-continue-to-site = Nadaljuj na stran HTTP
about-httpsonly-button-go-back = Nazaj
about-httpsonly-link-learn-more = Več o tem …
