# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Wěsty zwisk k dispoziciji njeje
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Přehladujeće w modusu Jenož-HTTPS a wěsta HTTPS-wersija <em>{ $websiteUrl }</em> k dispoziciji njeje.
about-httpsonly-insecure-explanation-reasons = Najskerje websydło HTTPS njepodpěruje, ale je tež móžno, zo nadpadnik HTTPS-wersiju blokuje.
about-httpsonly-insecure-explanation-exception = Hačrunjež wěstotne riziko je małe, jeli so rozsudźeće HTTPS-wersiju websydła wopytać, njeměł wy sensibelne daty kaž hesła, e-mejlowe adresy abo podrobnosće kreditnych kartow zapodać.
about-httpsonly-button-make-exception = Riziko akceptować a k sydłu pokročować
about-httpsonly-title = { -brand-short-name } je potencielny wěstotny problem wotkrył
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = Přehladujeće w modusu Jenož-HTTPS a wěsta HTTPS-wersija <em>{ $websiteUrl }</em> k dispoziciji njeje.
about-httpsonly-title-alert = Warnowanje modusa Jenož-HTTPS
about-httpsonly-title-connection-not-available = Wěsty zwisk k dispoziciji njeje
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Sće modus Jenož-HTTPS za polěpšenu wěstotu zmóžnił a HTTPS-wersija <em>{ $websiteUrl }</em> k dispoziciji njeje.
about-httpsonly-explanation-question = Što móhło to zawinować?
about-httpsonly-explanation-nosupport = Najskerje websydło prosće HTTPS njepodpěruje.
about-httpsonly-explanation-risk = Je tež móžno, zo nadpadnik je wobdźěleny. Jeli so rozsudźeće websydło wopytać, njeměł wy sensibelne daty kaž hesła, e-mejlowe adresy abo podrobnosće kreditnych kartow zapodać.
about-httpsonly-button-accept-and-continue = Riziko akceptować a pokročować
about-httpsonly-explanation-continue = Jeli pokročujeće, so modus Jenož-HTTPS za tute sydło nachwilu znjemóžni.
about-httpsonly-button-continue-to-site = Dale k HTTP-sydłu
about-httpsonly-button-go-back = Wróćo
about-httpsonly-link-learn-more = Dalše informacije…
