# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Неуспешно установяване на защитена връзка
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Разглеждате в режим „Само HTTPS“. Защитена под HTTPS версия на страницата <em>{ $websiteUrl }</em> е недостъпна.
about-httpsonly-insecure-explanation-reasons = Най-вероятно страницата не се поддържа под HTTPS, но също така е възможно злоумишлено възпрепятстване на версията под HTTPS.
about-httpsonly-insecure-explanation-exception = Въпреки че рискът за сигурността е нисък, ако все пак решите да посетите незащитената версия на страницата не въвеждайте никаква чувствителна информация като пароли, адреси на електронна поща или данни от банкови карти.
about-httpsonly-button-make-exception = Продължаване въпреки риска
about-httpsonly-title = { -brand-short-name } откри възможен проблем в сигурността
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = Разглеждате в режим „Само HTTPS“. Защитена под HTTPS версия на страницата <em>{ $websiteUrl }</em> е недостъпна.
about-httpsonly-explanation-question = Каква би могла да е причината?
about-httpsonly-explanation-nosupport = Най-вероятно страницата не се поддържа под HTTPS.
about-httpsonly-explanation-risk = Също е възможно и злоумишлено действие. Ако все пак решите да посетите незащитената версия на страницата не въвеждайте никаква чувствителна информация като пароли, адреси на електронна поща или данни от банкови карти.
about-httpsonly-button-accept-and-continue = Продължаване въпреки риска
about-httpsonly-button-go-back = Връщане назад
about-httpsonly-link-learn-more = Научете повече…
