# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Conexão segura não disponível
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Você está navegando no modo somente HTTPS e uma versão HTTPS segura de <em>{ $websiteUrl }</em> não está disponível.
about-httpsonly-insecure-explanation-reasons = Provavelmente o site não oferece suporte a HTTPS, mas também é possível que um invasor esteja bloqueando a versão HTTPS.
about-httpsonly-insecure-explanation-exception = Embora o risco à segurança seja baixo, se você decidir visitar a versão HTTP do site, não deve inserir nenhuma informação confidencial, como senhas, e-mails ou detalhes de cartões de crédito.
about-httpsonly-button-make-exception = Aceitar o risco e continuar para o site
about-httpsonly-title = O { -brand-short-name } detectou um possível problema de segurança
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = Você está navegando no modo somente HTTPS e não está disponível uma versão HTTPS segura de <em>{ $websiteUrl }</em>.
about-httpsonly-title-alert = Alerta de modo somente HTTPS
about-httpsonly-title-connection-not-available = Conexão segura não disponível
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Você ativou o modo somente HTTPS para maior segurança e uma versão HTTPS de <em>{ $websiteUrl }</em> não está disponível.
about-httpsonly-explanation-question = O que pode estar causando isso?
about-httpsonly-explanation-nosupport = Provavelmente, o site simplesmente não suporta HTTPS.
about-httpsonly-explanation-risk = Também é possível que um invasor esteja envolvido. Se você decidir visitar o site, não deve inserir nenhuma informação sensível, como senhas, e-mails ou detalhes de cartões de crédito.
about-httpsonly-button-accept-and-continue = Aceitar o risco e continuar
about-httpsonly-explanation-continue = Se você continuar, o modo somente HTTPS será desativado temporariamente neste site.
about-httpsonly-button-continue-to-site = Continuar para o site HTTP
about-httpsonly-button-go-back = Voltar
about-httpsonly-link-learn-more = Saiba mais…
