# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Novas importantes
heading = Cambios no seu perfil no { -brand-short-name }
changed-title = Que cambiou?
changed-desc-profiles = Esta instalación de { -brand-short-name } ten un perfil novo. Un perfil é o conxunto de ficheiros nos que Firefox garda información como marcadores, contrasinais e preferencias do usuario.
changed-desc-dedicated = Para facer máis doado e seguro poder cambiar entre instalacións de Firefox (incluíndo Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition e Firefox Nightly), esta instalación conta agora cun perfil dedicado. Non comparte automaticamente a súa información gardada con outras instalacións de Firefox.
lost = <b>Non perdeu datos nin personalizacións persoais.</b> Se xa gardou información no Firefox neste computador, aínda está dispoñible noutra instalación de Firefox.
options-title = Cales son as miñas opcións?
options-do-nothing = Se non fai nada, os seus datos de perfil en { -brand-short-name } serán diferentes dos datos do perfil noutras instalacións de Firefox.
options-use-sync = Se desexa que todos os seus datos de perfil sexan iguais en todas as instalacións de Firefox, pode usar un { -fxaccount-brand-name } para mantelos en sincronización.
resources = Recursos:
support-link = Uso do Xestor de perfís - Artigo de asistencia
sync-header = Inicie sesión ou cree un { -fxaccount-brand-name }
sync-label = Escriba o seu enderezo de correo electrónico
sync-input =
    .placeholder = Correo electrónico
sync-button = Continuar
sync-terms = Ao continuar, acepta os <a data-l10n-name="terms">Termos de servizo</a> e a <a data-l10n-name="privacy">Política de privacidade</a>.
sync-first = É a primeira vez que utiliza { -sync-brand-name }? Debe iniciar sesión en todas as instalacións de Firefox para sincronizar a súa información.
sync-learn = Máis información
