# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Befeilige ferbining net beskikber
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Jo sneupe yn Allinnich-HTTPS-modus en in befeilige HTTPS-ferzje fan <em>{ $websiteUrl }</em> is net beskikber.
about-httpsonly-insecure-explanation-reasons = Wierskynlik stipet de website HTTPS net, mar it is ek mooglik dat in oanfaller de HTTPS-ferzje blokkearret.
about-httpsonly-insecure-explanation-exception = Hoewol it feilichheidsrisiko leech is, soene jo gjin gefoelige ynformaasje as wachtwurden, e-mailadressen of creditcardgegevens ynfiere moatte as jo beslute de HTTP-ferzje fan de website te brûken.
about-httpsonly-button-make-exception = It risiko oanfurdigje en trochgean nei de website
about-httpsonly-title = { -brand-short-name } hat in potinsjeel befeiligingsprobleem detektearre
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = Jo sneupe yn Allinnich-HTTPS-modus en in befeilige HTTPS-ferzje fan <em>{ $websiteUrl }</em> is net beskikber.
about-httpsonly-title-alert = Allinnich-HTTPS-modus-warskôging
about-httpsonly-title-connection-not-available = Befeilige ferbining net beskikber
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Jo hawwe de Allinnich-HTTPS-modus foar ferbettere befeiliging ynskeakele, en in HTTPS-ferzje fan <em>{ $websiteUrl }</em> is net beskikber.
about-httpsonly-explanation-question = Wat kin dit feroarsaakje?
about-httpsonly-explanation-nosupport = Heechstwierskynlik stipet de website ienfâldichwei gjin HTTPS.
about-httpsonly-explanation-risk = Mooglik is der sprake fan in oanfal. As jo beslute de website te besykjen, soene jo gjin gefoelige gegevens lykas wachtwurden, e-mailadressen of creditcardgegevens ynfiere moatte.
about-httpsonly-button-accept-and-continue = It risiko oanfurdigje en trochgean
about-httpsonly-explanation-continue = As jo trochgean, wurdt de Allinnich-HTTPS-modus foar dizze website tydlik útskeakele .
about-httpsonly-button-continue-to-site = Trochgean nei HTTP-website
about-httpsonly-button-go-back = Tebek
about-httpsonly-link-learn-more = Mear ynfo…
