# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Connectar belatro dispositivo
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Si encara no l'has feito, instala <a data-l10n-name="connect-another-device">Firefox en o tuyo dispositivo mobil</a>.
fxa-qrcode-heading-phase2 = 2. Contino, inicia la sesión en { -sync-brand-short-name } u, en Android, escanyea lo codigo d'emparellamiento dende los achustes de { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Si encara no l'has feito, instala <a data-l10n-name="connect-another-device">Firefox en o tuyo dispositivo mobil</a>.
fxa-qrcode-heading-step2 = 2. Ubre Firefox en o tuyo dispositivo mobil.
fxa-qrcode-heading-step3 = 3. Ubre lo <b>menú</b> (<img data-l10n-name="ios-menu-icon"/> u <img data-l10n-name="android-menu-icon"/>), toca <img data-l10n-name="settings-icon"/> <b>Parametros</b> y tría <b>Activar la sincronización</b>
fxa-qrcode-heading-step4 = 4. Escaneya este codigo:
fxa-qrcode-error-title = Enparellamiento incorrecto.
fxa-qrcode-error-body = Torna-lo a intentar.
