# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## These messages are used as headings in the recommendation doorhanger

cfr-doorhanger-extension-heading = ਸਿਫ਼ਾਰਸ਼ ਕੀਤੀ ਇਕਸਟੈਨਸ਼ਨ
cfr-doorhanger-feature-heading = ਸਿਫਾਰਸ਼ ਕੀਤੇ ਫੀਚਰ
cfr-doorhanger-pintab-heading = ਵਰਤ ਕੇ ਵੇਖੋ: ਟੈਬ ਪਿੰਨ ਕਰੋ

##

cfr-doorhanger-extension-sumo-link =
    .tooltiptext = ਮੈਨੂੰ ਇਹ ਕਿਉਂ ਦਿਖਾਈ ਦੇ ਰਿਹਾ ਹੈ
cfr-doorhanger-extension-cancel-button = ਹੁਣ ਨਹੀਂ
    .accesskey = N
cfr-doorhanger-extension-ok-button = ਹੁਣੇ ਜੋੜੋ
    .accesskey = A
cfr-doorhanger-pintab-ok-button = ਇਸ ਟੈਬ ਨੂੰ ਪਿੰਨ ਕਰੋ
    .accesskey = P
cfr-doorhanger-extension-manage-settings-button = ਸਿਫਾਰਸ਼ੀ ਸੈਟਿੰਗਾਂ ਦਾ ਬੰਦੋਬਸਤ ਕਰੋ
    .accesskey = M
cfr-doorhanger-extension-never-show-recommendation = ਇਹ ਸਿਫਾਰਸ਼ ਮੈਨੂੰ ਨਾ ਦੇਖਾਓ
    .accesskey = S
cfr-doorhanger-extension-learn-more-link = ਹੋਰ ਸਿੱਖੋ
# This string is used on a new line below the add-on name
# Variables:
#   $name (String) - Add-on author name
cfr-doorhanger-extension-author = { $name } ਰਾਹੀਂ
# This is a notification displayed in the address bar.
# When clicked it opens a panel with a message for the user.
cfr-doorhanger-extension-notification = ਸਿਫ਼ਾਰਸ਼ੀ
cfr-doorhanger-extension-notification2 = ਸਿਫਾਰਸ਼ਾਂ
    .tooltiptext = ਇਕਸਟੈਨਸ਼ਨ ਸਿਫਾਰਸ਼ਾਂ
    .a11y-announcement = ਇਕਸਟੈਨਸ਼ਨ ਸਿਫਾਰਸ਼ਾਂ ਮੌਜੂਦ ਹਨ
# This is a notification displayed in the address bar.
# When clicked it opens a panel with a message for the user.
cfr-doorhanger-feature-notification = ਸਿਫਾਰਸ਼
    .tooltiptext = ਭਵਿੱਖ ਦੀ ਸਿਫਾਰਸ਼
    .a11y-announcement = ਭਵਿੱਖ ਦੀ ਸਿਫਾਰਸ਼ ਮੌਜੂਦ ਹੈ

## Add-on statistics
## These strings are used to display the total number of
## users and rating for an add-on. They are shown next to each other.

# Variables:
#   $total (Number) - The rating of the add-on from 1 to 5
cfr-doorhanger-extension-rating =
    .tooltiptext =
        { $total ->
            [one] { $total } ਤਾਰਾ
           *[other] { $total } ਤਾਰੇ
        }
# Variables:
#   $total (Number) - The total number of users using the add-on
cfr-doorhanger-extension-total-users =
    { $total ->
        [one] { $total } ਵਰਤੋਂਕਾਰ
       *[other] { $total } ਵਰਤੋਂਕਾਰ
    }
cfr-doorhanger-pintab-description = ਆਪਣੀ ਸਭ ਤੋਂ ਜ਼ਿਆਦਾ ਵਰਤੋਂ ਵਾਲੀਆਂ ਸਾਈਟਾਂ ਤੱਕ ਆਸਾਨ ਪਹੁੰਚ ਪ੍ਰਾਪਤ ਕਰੋ ਸਾਈਟਾਂ ਨੂੰ ਇੱਕ ਟੈਬ ਵਿੱਚ ਰੱਖੋ (ਭਾਵੇਂ ਤੁਸੀਂ ਮੁੜ ਚਾਲੂ ਕਰੋ)।

## These messages are steps on how to use the feature and are shown together.

cfr-doorhanger-pintab-step1 = ਜਿਸ ਟੈਬ ਨੂੰ ਤੁਸੀਂ ਟੰਗਣਾ ਚਾਹੁੰਦੇ ਹੋ ਉਸ ਉੱਤੇ <b>ਰਾਈਟ-ਕਲਿੱਕ</ b>।
cfr-doorhanger-pintab-step2 = ਮੇਨੂ ਤੋਂ <b>ਟੈਬ ਨੂੰ ਟੰਗੋ</b> ਨੂੰ ਚੁਣੋ।
cfr-doorhanger-pintab-step3 = ਜੇ ਸਾਈਟ ਨੂੰ ਅੱਪਡੇਟ ਕੀਤਾ ਗਿਆ ਤਾਂ ਤੁਸੀਂ ਆਪਣੀ ਟੰਗ ਕੀਤੀ ਟੈਬ ਵਿੱਚ ਨੀਲੀ ਬਿੰਦੀ ਵੇਖੋਗੇ।
cfr-doorhanger-pintab-animation-pause = ਵਿਰਾਮ
cfr-doorhanger-pintab-animation-resume = ਮੁੜ-ਪ੍ਰਾਪਤ

## Firefox Accounts Message

cfr-doorhanger-bookmark-fxa-header = ਆਪਣੇ ਬੁੱਕਮਾਰਕ ਹਰ ਥਾਂ ਉੱਤੇ ਸਿੰਕ ਕਰੋ।
cfr-doorhanger-bookmark-fxa-body = ਵਧੀਆ ਲੱਭੋ! ਹੁਣ ਆਪਣੇ ਮੋਬਾਈਲ ਡਿਵਾਈਸਾਂ ਉੱਤੇ ਇਸ ਬੁੱਕਮਾਰਕ ਬਿਨਾਂ ਨਾ ਰਹੋ। { -fxaccount-brand-name } ਨਾਲ ਸ਼ੁਰੂ ਕਰੋ।
cfr-doorhanger-bookmark-fxa-link-text = …ਬੁੱਕਮਾਰਕ ਹੁਣੇ ਸਿੰਕ ਕਰੋ
cfr-doorhanger-bookmark-fxa-close-btn-tooltip =
    .aria-label = ਬੰਦ ਕਰੋ ਬਟਨ
    .title = ਬੰਦ ਕਰੋ

## Protections panel

cfr-protections-panel-header = ਬਿਨਾਂ ਪਿੱਛਾ ਕਰਵਾਏ ਬਰਾਊਜ਼ ਕਰੋ
cfr-protections-panel-body = ਆਪਣੇ ਡਾਟੇ ਨੂੰ ਖੁਦ ਕੋਲ ਹੀ ਰੱਖੋ। { -brand-short-name } ਤੁਹਾਨੂੰ ਕਈ ਤੁਹਾਡਾ ਆਨਲਾਈਨ ਪਿੱਛਾ ਕਰਨ ਵਾਲੇ ਸਭ ਤੋਂ ਆਮ ਟਰੈਕਰਾਂ ਤੋਂ ਸੁਰੱਖਿਅਤ ਰੱਖਦਾ ਹੈ।
cfr-protections-panel-link-text = ਹੋਰ ਜਾਣੋ

## What's New toolbar button and panel

# This string is used by screen readers to offer a text based alternative for
# the notification icon
cfr-badge-reader-label-newfeature = ਨਵਾਂ ਫੀਚਰ
cfr-whatsnew-button =
    .label = ਨਵਾਂ ਕੀ ਹੈ
    .tooltiptext = ਨਵਾਂ ਕੀ ਹੈ
cfr-whatsnew-panel-header = ਨਵਾਂ ਕੀ ਹੈ
cfr-whatsnew-release-notes-link-text = ਰੀਲਿਜ਼ ਨੋਟਿਸ ਪੜ੍ਹੋ
cfr-whatsnew-fx70-title = { -brand-short-name } ਤੁਹਾਡੀ ਪਰਦੇਦਾਰੀ ਲਈ ਹੋਰ ਮੇਹਨਤ ਕਰ ਰਿਹਾ ਹੈ
cfr-whatsnew-fx70-body =
    ਨਵੇਂ ਅੱਪਡੇਟ ਵਿੱਚ ਟਰੈਕਿੰਗ ਸੁਰੱਖਿਆ ਫ਼ੀਚਰ ਨੂੰ ਵਾਧਾ ਕੀਤਾ ਗਿਆ ਹੈ ਅਤੇ ਇਸ ਨੇ ਹਰ ਸਾਈਟ ਲਈ ਸੁਰੱਖਿਅਤ 
    ਪਾਸਵਰਡ ਬਣਾਉਣਾ ਹੋਰ ਵੀ ਸੌਖਾ ਬਣਾ ਦਿੱਤਾ ਹੈ।
cfr-whatsnew-tracking-protect-title = ਟਰੈਕਰਾਂ ਤੋਂ ਖੁਦ ਨੂੰ ਬਚਾਓ
cfr-whatsnew-tracking-protect-body =
    { -brand-short-name } ਕਈ ਆਮ ਸਮਾਜਿਕ ਅਤੇ ਅੰਤਰ-ਸਾਈਟ ਟਰੈਕਰਾਂ ਉੱਤੇ ਪਾਬੰਦੀ ਲਾਉਂਦਾ ਹੈ, ਜੋ ਕਿ
    ਤੁਹਾਡੇ ਆਨਲਾਈਨ ਮੌਜੂਦਗੀ ਦਾ ਪਿੱਛਾ ਕਰਦੇ ਹਨ।
cfr-whatsnew-tracking-protect-link-text = ਆਪਣੀ ਰਿਪੋਰਟ ਵੇਖੋ
# This string is displayed before a large numeral that indicates the total
# number of tracking elements blocked. Don’t add $blockedCount to your
# localization, because it would result in the number showing twice.
cfr-whatsnew-tracking-blocked-title =
    { $blockedCount ->
        [one] ਟਰੈਕਰ ‘ਤੇ ਪਾਬੰਦੀ ਲਾਈ
       *[other] ਟਰੈਕਰਾਂ ‘ਤੇ ਪਾਬੰਦੀ ਲਾਈ
    }
cfr-whatsnew-tracking-blocked-subtitle = { DATETIME($earliestDate, month: "long", year: "numeric") } ਤੋਂ
cfr-whatsnew-tracking-blocked-link-text = ਰਿਪੋਰਟ ਵੇਖੋ
cfr-whatsnew-lockwise-backup-title = ਆਪਣੇ ਪਾਸਵਰਡਾਂ ਦਾ ਬੈਕਅੱਪ ਲਵੋ
cfr-whatsnew-lockwise-backup-body = ਹੁਣ ਸੁਰੱਖਿਅਤ ਪਾਸਵਰਡ ਤਿਆਰ ਕਰੋ, ਜੋ ਤੁਸੀਂ ਕਿਸੇ ਵੀ ਥਾਂ ਤੋਂ ਲਾਗਇਨ ਕਰਨ ਲਈ ਵਰਤ ਸਕਦੇ ਹੋ।
cfr-whatsnew-lockwise-backup-link-text = ਬੈਕਅੱਪ ਚਾਲੂ ਕਰੋ
cfr-whatsnew-lockwise-take-title = ਆਪਣੇ ਪਾਸਵਰਡ ਆਪਣੇ ਨਾਲ ਲੈ ਜਾਓ
cfr-whatsnew-lockwise-take-body =
    { -lockwise-brand-short-name } ਮੋਬਾਈਲ ਐਪ ਤੁਹਾਡੇ ਬੈਕਅੱਪ ਲਵੇ ਪਾਸਵਰਡਾਂ ਨੂੰ ਸੁਰੱਖਿਅਤ ਢੰਗ
    ਨਾਲ ਕਿਸੇ ਵੀ ਥਾਂ ਤੋਂ ਵਰਤਣ ਦੇ ਸਮਰੱਥ ਕਰਦੀ ਹੈ।
cfr-whatsnew-lockwise-take-link-text = ਐਪ ਲਵੋ

## Search Bar

cfr-whatsnew-searchbar-title = ਘੱਟ ਟਾਈਪ ਕਰੋ, ਐਡਰੈਸ ਬਾਰ ਨਾਲ ਹੋਰ ਲੱਭੋ
cfr-whatsnew-searchbar-body-topsites = ਹੁਣ ਸਿਰਫ਼ ਸਿਰਨਾਵਾਂ ਪੱਟੀ ਚੁਣੋ ਅਤੇ ਡੱਬਾ ਤੁਹਾਡੀਆਂ ਸਿਖਰਲੀਆਂ ਸਾਈਟਾਂ ਦੇ ਲਿੰਕਾਂ ਨਾਲ ਭਰ ਜਾਵੇਗਾ।
cfr-whatsnew-searchbar-icon-alt-text = ਵੱਡਦਰਸ਼ੀ ਸ਼ੀਸ਼ਾ ਆਈਕਾਨ

## Picture-in-Picture

cfr-whatsnew-pip-header = ਬਰਾਊਜ਼ ਕਰਨ ਦੇ ਦੌਰਾਨ ਵੀਡਿਓ ਵੇਖੋ
cfr-whatsnew-pip-body = ਤਸਵੀਰ-ਵਿੱਚ-ਤਸਵੀਰ ਵਿਡੀਓ ਨੂੰ ਤਰਦੀ ਵਿੰਡੋ ਵਿੱਚ ਬਦਲ ਦਿੰਦੀ ਹੈ, ਜਿਸ ਨੂੰ ਤੁਸੀਂ ਹੋਰ ਟੈਬਾਂ ਵਿੱਚ ਕੰਮ ਕਰਨ ਦੌਰਾਨ ਵੇਖ ਸਕਦੇ ਹੋ।
cfr-whatsnew-pip-cta = ਹੋਰ ਸਿੱਖੋ

## Permission Prompt

cfr-whatsnew-permission-prompt-header = ਘੱਟ ਤੰਗ ਕਰਨ ਵਾਲੇ ਸਾਈਟ ਪੌਪ-ਅੱਪ
cfr-whatsnew-permission-prompt-body = { -brand-shorter-name } ਹੁਣ ਸਾਈਟਾਂ ਨੂੰ ਤੁਹਾਨੂੰ ਪੌਪ-ਅੱਪ ਸੁਨੇਹੇ ਭੇਜਣ ਤੋਂ ਪੁੱਛਣ ਤੋਂ ਆਪਣੇ-ਆਪ ਹੀ ਰੋਕਦਾ ਹੈ।
cfr-whatsnew-permission-prompt-cta = ਹੋਰ ਸਿੱਖੋ

## Fingerprinter Counter

# This string is displayed before a large numeral that indicates the total
# number of tracking elements blocked. Don’t add $fingerprinterCount to your
# localization, because it would result in the number showing twice.
cfr-whatsnew-fingerprinter-counter-header =
    { $fingerprinterCount ->
        [one] ਫਿੰਗਰਪਰਿੰਟਰ ਉੱਤੇ ਪਾਬੰਦੀ ਲਾਈ
       *[other] ਫਿੰਗਰਪਰਿੰਟਰਾਂ ਉੱਤੇ ਪਾਬੰਦੀ ਲਾਈ
    }
cfr-whatsnew-fingerprinter-counter-body = { -brand-shorter-name } ਫਿੰਗਰਪਰਿੰਟਾਂ ਉੱਤੇ ਪਾਬੰਦੀ ਲਾਉਂਦਾ ਹੈ, ਜੋ ਕਿ ਤੁਹਾਡੇ ਡਿਵਾਈਸ ਬਾਰੇ ਖ਼ੁਫ਼ੀਆ ਢੰਗ ਨਾਲ ਜਾਣਕਾਰੀ ਇਕੱਤਰ ਕਰਦੇ ਹਨ ਅਤੇ ਤੁਹਾਡੇ ਬਾਰੇ ਇੱਕ ਪਾਸੜ ਇਸ਼ਤਿਹਾਰੀ ਤਸਵੀਰ ਬਣਾਉਣ ਦਾ ਕੰਮ ਕਰਦੇ ਹਨ।
# Message variation when fingerprinters count is less than 10
cfr-whatsnew-fingerprinter-counter-header-alt = ਫਿੰਗਰਪਰਿੰਟਰ
cfr-whatsnew-fingerprinter-counter-body-alt = { -brand-shorter-name } ਫਿੰਗਰਪਰਿੰਟਾਂ ਉੱਤੇ ਪਾਬੰਦੀ ਲਾ ਸਕਦਾ ਹੈ, ਜੋ ਕਿ ਤੁਹਾਡੇ ਡਿਵਾਈਸ ਬਾਰੇ ਖ਼ੁਫ਼ੀਆ ਢੰਗ ਨਾਲ ਜਾਣਕਾਰੀ ਇਕੱਤਰ ਕਰਦੇ ਹਨ ਅਤੇ ਤੁਹਾਡੇ ਬਾਰੇ ਇੱਕ ਪਾਸੜ ਇਸ਼ਤਿਹਾਰੀ ਤਸਵੀਰ ਬਣਾਉਣ ਦਾ ਕੰਮ ਕਰਦੇ ਹਨ।

## Bookmark Sync

cfr-doorhanger-sync-bookmarks-header = ਇਸ ਬੁੱਕਮਾਰਕ ਨੂੰ ਆਪਣੇ ਫ਼ੋਨ ‘ਤੇ ਲਵੋ
cfr-doorhanger-sync-bookmarks-body = ਆਪਣੇ ਬੁੱਕਮਾਰਕ, ਪਾਸਵਰਡ, ਅਤੀਤ ਅਤੇ ਹੋਰ ਨੂੰ ਹਰ ਥਾਂ ਆਪਣੇ ਨਾਲ { -brand-product-name } ‘ਚ ਸਾਈਨ ਇਨ ਕਰਕੇ ਲੈ ਜਾਓ।
cfr-doorhanger-sync-bookmarks-ok-button = { -sync-brand-short-name } ਚਾਲੂ ਕਰੋ
    .accesskey = T

## Login Sync

cfr-doorhanger-sync-logins-header = ਮੁੜ ਕੇ ਪਾਸਵਰਡ ਕਦੇ ਵੀ ਨਾ ਗੁਆਓ
cfr-doorhanger-sync-logins-body = ਆਪਣੇ ਸਾਰੇ ਡਿਵਾਈਸਾਂ ‘ਤੇ ਆਪਣੇ ਪਾਸਵਰਡ ਸੁਰੱਖਿਅਤ ਢੰਗ ਨਾਲ ਸੰਭਾਲੋ ਅਤੇ ਸਿੰਕ ਕਰੋ।
cfr-doorhanger-sync-logins-ok-button = { -sync-brand-short-name } ਚਾਲੂ ਕਰੋ
    .accesskey = T

## Send Tab

cfr-doorhanger-send-tab-header = ਸ਼ੁਰੂ ਕਰਨ ਲਈ ਇਹ ਪੜ੍ਹੋ
cfr-doorhanger-send-tab-recipe-header = ਇਹ ਨੁਸਖੇ ਨੂੂੰ ਰਸੋਈ 'ਚ ਲੈ ਜਾਓ
cfr-doorhanger-send-tab-body = ਟੈਬ ਭੇਜੋ ਤੁਹਾਨੂੰ ਇਹ ਲਿੰਕ ਨੂੰ ਤੁਹਾਡੇ ਫ਼ੋਨ ਜਾਂ ਕਿਸੇ ਵੀ ਥਾਂ, ਜਿੱਥੇ ਤੁਸੀਂ { -brand-product-name } ਵਿੱਚ ਸਾਈਨ ਇਨ ਕਰ ਸਕਦੇ ਹੋ, ਵਿੱਚ ਸੌਖੀ ਤਰ੍ਹਾਂ ਸਾੰਝਾ ਕਰਨ ਦਿੰਦੀ ਹੈ।
cfr-doorhanger-send-tab-ok-button = ਟੈਬ ਭੇਜਣ ਦੀ ਕੋਸ਼ਿਸ਼ ਕਰੋ
    .accesskey = T

## Firefox Send

cfr-doorhanger-firefox-send-header = ਇਹ PDF ਨੂੰ ਸੁਰੱਖਿਅਤ ਢੰਗ ਨਾਲ ਸਾਂਝਾ ਕਰੋ
cfr-doorhanger-firefox-send-body = ਸਿਰੇ-ਤੋਂ-ਸਿਰੇ ਤੱਕ ਇੰਕ੍ਰਿਪਸ਼ਨ ਅਤੇ ਲਿੰਕ, ਜੋ ਤੁਹਾਡੇ ਵਲੋਂ ਕੰਮ ਪੂਰਾ ਕਰਨ ਉੱਤੇ ਲੁਪਤ ਹੋ ਜਾਂਦਾ ਹੈ, ਨਾਲ ਸੂਹਾਂ ਲੈਣ ਵਾਲੀਆਂ ਅੱਖਾਂ ਤੋਂ ਆਪਣੇ ਸੰਵੇਦਨਸ਼ੀਲ ਦਸਤਾਵੇਜ਼ਾਂ ਨੂੰ ਸੁਰੱਖਿਅਤ ਰੱਖੋ।
cfr-doorhanger-firefox-send-ok-button = { -send-brand-name } ਵਰਤ ਕੇ ਵੇਖੋ
    .accesskey = T

## Social Tracking Protection

cfr-doorhanger-socialtracking-ok-button = ਸੁਰੱਖਿਆਵਾਂ ਵੇਖੋ
    .accesskey = P
cfr-doorhanger-socialtracking-close-button = ਬੰਦ ਕਰੋ
    .accesskey = C
cfr-doorhanger-socialtracking-dont-show-again = ਮੈਨੂੰ ਇਹ ਵਰਗੇ ਸੁਨੇਹੇ ਹੋਰ ਨਾ ਦਿਖਾਓ
    .accesskey = D
cfr-doorhanger-socialtracking-heading = { -brand-short-name } ਨੇ ਸਮਾਜਿਕ ਨੈੱਟਵਰਕ ਨੂੰ ਤੁਹਾਡਾ ਪਿੱਛਾ ਕਰਨ ਤੋਂ ਰੋਕਿਆ
cfr-doorhanger-socialtracking-description = ਤੁਹਾਡੀ ਪਰਦੇਦਾਰੀ ਜ਼ਰੂਰੀ ਹੈ। { -brand-short-name } ਹੁਣ ਸਧਾਰਨ ਆਮ ਸਮਾਜਿਕ ਮੀਡਿਆ ਟਰੈਕਰਾਂ ਉੱਤੇ ਪਾਬੰਦੀ ਲਗਾਉਂਦਾ ਹੈ, ਉਨਾਂ ਵਲੋਂ ਤੁਹਾਡੀ ਆਨਲਾਈਨ ਮੌਜੂਦਗੀ ਬਾਰੇ ਇਕੱਤਰ ਕੀਤੇ ਜਾਣ ਵਾਲੇ ਡਾਟੇ ਨੂੰ ਸੀਮਤ ਕਰਦਾ ਹੈ।
cfr-doorhanger-fingerprinters-heading = { -brand-short-name } ਨੇ ਇਸ ਸਫ਼ੇ ਤੋਂ ਫਿੰਗਰਪਰਿੰਟਰ ਉੱਤੇ ਪਾਬੰਦੀ ਲਾਈ
cfr-doorhanger-fingerprinters-description = ਤੁਹਾਡੀ ਪਰਦੇਦਾਰੀ ਜ਼ਰੂਰੀ ਹੈ। { -brand-short-name } ਹੁਣ ਫਿੰਗਰਪਰਿੰਟਰਾਂ ਉੱਤੇ ਪਾਬੰਦੀ ਲਾਉਂਦਾ ਹੈ, ਜੋ ਕਿ ਤੁਹਾਡਾ ਪਿੱਛਾ ਕਰਨ ਲਈ ਤੁਹਾਡੇ ਡਿਵਾਈਸ ਬਾਰੇ ਵਿਲੱਖਣ ਪਛਾਣਕਰਨ ਯੋਗ ਜਾਣਕਾਰੀ ਦੇ ਹਿੱਸਿਆਂ ਨੂੰ ਇਕੱਤਰ ਕਰਦੇ ਹਨ।
cfr-doorhanger-cryptominers-heading = { -brand-short-name } ਨੇ ਇਸ ਸਾਈਟ ਤੋਂ ਕ੍ਰਿਪਟੋਮਾਈਨਰ ਉੱਤੇ ਪਾਬੰਦੀ ਲਗਾਈ ਹੈ
cfr-doorhanger-cryptominers-description = ਤੁਹਾਡੀ ਪਰਦੇਦਾਰੀ ਜ਼ਰੂਰੀ ਹੈ। { -brand-short-name } ਹੁਣ ਕ੍ਰਿਪਟੋਮਾਈਨਰਾਂ ਉੱਤੇ ਪਾਬੰਦੀ ਲਾਉਂਦਾ ਹੈ, ਜੋ ਕਿ ਤੁਹਾਡੇ ਸਿਸਟਮ ਦੀ ਕੰਪਿਊਟਿੰਗ ਤਾਕਤ ਨੂੰ ਡਿਜ਼ਿਟਲ ਧਨ ਮਾਇਨ ਕਰਨ ਲਈ ਵਰਤਦੇ ਹਨ।

## Enhanced Tracking Protection Milestones

# Variables:
#   $blockedCount (Number) - The total count of blocked trackers. This number will always be greater than 1.
#   $date (String) - The date we began recording the count of blocked trackers
cfr-doorhanger-milestone-heading =
    { $blockedCount ->
       *[other] { -brand-short-name } ਨੇ { $date } ਤੱਕ  <b>{ $blockedCount }</b> ਉੱਤੇ ਪਾਬੰਦੀ ਲਾਈ ਹੈ।!
    }
cfr-doorhanger-milestone-ok-button = ਸਾਰੇ ਵੇਖੋ
    .accesskey = S
cfr-doorhanger-milestone-close-button = ਬੰਦ ਕਰੋ
    .accesskey = C

## What’s New Panel Content for Firefox 76


## Lockwise message

cfr-whatsnew-lockwise-header = ਅਸਾਨੀ ਨਾਲ ਸੁਰੱਖਿਅਤ ਪਾਸਵਰਡ ਬਣਾਓ
cfr-whatsnew-lockwise-body = ਹਰ ਖਾਤੇ ਲਈ ਵਿਲੱਖਣ, ਸੁਰੱਖਿਅਤ ਪਾਸਵਰਡ ਸੋਚਣੇ ਔਖੇ ਹਨ। ਜਦੋਂ ਪਾਸਵਰਡ ਬਣਾਉਣਾ ਹੋਵੇ ਤਾਂ { -brand-shorter-name } ਵਲੋਂ ਸੁਰੱਖਿਅਤ ਤਿਆਰ ਕੀਤੇ ਪਾਸਵਰਡ ਨੂੰ ਵਰਤਣ ਲਈ ਪਾਸਵਰਡ ਖੇਤਰ ਨੂੰ ਚੁਣੋ।
cfr-whatsnew-lockwise-icon-alt = { -lockwise-brand-short-name } ਆਈਕਨ

## Vulnerable Passwords message

cfr-whatsnew-passwords-header = ਕਮਜ਼ੋਰ ਪਾਸਵਰਡਾਂ ਬਾਰੇ ਚੇਤਾਵਨੀਆਂ ਲਵੋ
cfr-whatsnew-passwords-body = ਹੈਕਰਾਂ ਨੂੰ ਪਤਾ ਹੈ ਕਿ ਲੋਕ ਇਕੋ ਪਾਸਵਰਡ ਵਾਰ-ਵਾਰ ਵਰਤਦੇ ਹਨ। ਜੇ ਤੁਸੀਂ ਇਕੋ ਪਾਸਵਰਡ ਕਈ ਸਾਈਤਾਂ ਲਈ ਵਰਤਿਆ ਹੈ ਅਤੇ ਉਹਨਾਂ ਸਾਈਟਾਂ ਵਿੱਚੋਂ ਇੱਕ ਡਾਟਾ ਸੰਨ੍ਹ ਵਿੱਚ ਸੀ ਤਾਂ ਤੁਹਾਨੂੰ ਉਹਨਾਂ ਸਾਈਟਾਂ ਉੱਤੇ ਆਪਣੇ ਪਾਸਵਰਡ ਨੂੰ ਬਦਲਣ ਲਈ { -lockwise-brand-short-name } ਵਿੱਚ ਚੇਤਾਵਨੀ ਮਿਲੇਗੀ।
cfr-whatsnew-passwords-icon-alt = ਕਮਜ਼ੋਰ ਪਾਸਵਰਡ ਕੁੰਜੀ ਆਈਕਾਨ

## Picture-in-Picture fullscreen message

cfr-whatsnew-pip-fullscreen-header = ਤਸਵੀਰ-ਵਿੱਚ-ਤਸਵੀਰ ਨੂੰ ਪੂਰੀ ਸਕਰੀਨ ਉੱਤੇ ਲੈ ਜਾਓ
cfr-whatsnew-pip-fullscreen-body = ਜਦੋਂ ਤੁਸੀਂ ਵੀਡੀਓ ਨੂੰ ਤਰਦੀ ਵਿੰਡੋ ਵਿੱਚ ਅੱਡ ਕਰਦੇ ਹੋ ਤਾਂ ਹੁਣ ਤੁਸੀਂ ਉਸ ਵਿੰਡੋ ਉੱਤੇ ਦੋ ਵਾਰ ਕਲਿੱਕ ਕਰਕੇ ਪੂਰੀ ਸਕਰੀਨ ਉੱਤੇ ਭੇਜ ਸਕਦੇ ਹੋ।
cfr-whatsnew-pip-fullscreen-icon-alt = ਤਸਵੀਰ-ਚ-ਤਸਵੀਰ ਆਈਕਾਨ

## Protections Dashboard message

cfr-whatsnew-protections-header = ਸੁਰੱਖਿਆ ਲਈ ਪੰਛੀ ਝਾਤ
cfr-whatsnew-protections-body = ਸੁਰੱਖਿਆ ਡੈਸ਼ਬੋਰਡ ਵਿੱਚ ਡਾਟਾ ਸੰਨ੍ਹ ਲੱਗਣ ਅਤੇ ਪਾਸਵਰਡ ਇੰਤਜ਼ਾਮ ਦੇ ਬਾਰੇ ਰਿਪੋਰਟਾਂ ਦਾ ਸਾਰ ਹੁੰਦਾ ਹੈ। ਤੁਸੀਂ ਹੁਣ ਪਤਾ ਲਗਾ ਸਕਦੇ ਹੋ ਕਿ ਕਿੰਨੀਆਂ ਲੱਗੀਆਂ ਸੰਨ੍ਹ ਨੂੰ ਤੁਸੀਂ ਠੀਕ ਕਰ ਚੁੱਕੇ ਹੋ ਅਤੇ ਇਹ ਵੀ ਵੇਖ ਸਕਦੇ ਹੋ ਕਿ ਤੁਹਾਡੇ ਵਲੋਂ ਸੰਭਾਲੇ ਪਾਸਵਰਡ ਡਾਟਾ ਸੰਨ੍ਹ ਲੱਗਣ ਵਿੱਚ ਨਸ਼ਰ ਹੋ ਚੁੱਕੇ ਹਨ।
cfr-whatsnew-protections-cta-link = ਸੁਰੱਖਿਆ ਡੈਸ਼ਬੋਰਡ ਨੂੰ ਵੇਖੋ
cfr-whatsnew-protections-icon-alt = ਢਾਲ ਚਿੰਨ੍ਹ

## Better PDF message

cfr-whatsnew-better-pdf-header = ਬੇਹਤਰ PDF ਤਜਰਬਾ
cfr-whatsnew-better-pdf-body = ਆਪਣੇ ਕੰਮ ਨੂੰ ਨਿਰੰਤਰ ਜਾਰੀ ਰੱਖਦੇ ਹੋਏ ਹੁਣ PDF ਦਸਤਾਵੇਜ਼ { -brand-short-name } ਵਿੱਚ ਸਿੱਧਾ ਖੋਲ੍ਹ ਸਕਦੇ ਹੋ।

## DOH Message

cfr-doorhanger-doh-body = ਤੁਹਾਡੀ ਪਰਦੇਦਾਰੀ ਮਹੱਤਵਪੂਰਨ ਹੈ। ਜਦੋਂ ਤੁਸੀਂ ਬਰਾਊਜ਼ ਕਰਦੇ ਹੋ ਤਾਂ ਤੁਹਾਨੂੰ ਸੁਰੱਖਿਅਤ ਰੱਖਣ ਲਈ ਹੁਣ { -brand-short-name } ਤੁਹਾਡੀਆਂ DNS ਬੇਨਤੀਆਂ ਨੂੰ ਸੁਰੱਖਿਅਤ ਢੰਗ ਨਾਲ ਰਾਊਟ ਕਰਦਾ ਹੈ।
cfr-doorhanger-doh-header = ਵੱਧ ਸੁਰੱਖਿਅਤ, ਇੰਕ੍ਰਿਪਟ ਕੀਤੀ DNS ਖੋਜ
cfr-doorhanger-doh-primary-button = ਠੀਕ ਹੈ, ਸਮਝ ਗਏ
    .accesskey = O
cfr-doorhanger-doh-secondary-button = ਅਸਮਰੱਥ ਕਰੋ
    .accesskey = D

## Fission Experiment Message

cfr-doorhanger-fission-body-approved =
    ਤੁਹਾਡੀ ਪਰਦੇਦਾਰੀ ਪਹਿਲਾਂ ਹੈ। { -brand-short-name } ਹੁਣ ਵੈੱਬਸਾਈਟਾਂ ਨੂੰ
    ਇੱਕ ਦੂਜੇ ਤੋਂ ਪੂਰੀ ਤਰ੍ਹਾਂ ਅਲਹਿਦਾ ਕਰ ਦਿੰਦਾ ਹੈ, ਜਿਸ ਨਾਲ ਹੈਕਰਾਂ ਲਈ ਪਾਸਵਰਡ,
    ਕਰੈਡਿਟ ਕਾਰਡ ਨੰਬਰ ਤੇ ਹੋਰ ਸੰਵੇਦਨਸ਼ੀਲ ਜਾਣਕਾਰੀ ਚੋਰੀ ਕਰਨਾ ਔਖਾ ਹੋ ਜਾਂਦਾ ਹੈ।
cfr-doorhanger-fission-header = ਸਾਈਟ ਅਲਹਿਦਗੀ
cfr-doorhanger-fission-primary-button = ਠੀਕ ਹੈ, ਸਮਝ ਗਏ
    .accesskey = O
cfr-doorhanger-fission-secondary-button = ਹੋਰ ਜਾਣੋ
    .accesskey = L

## What's new: Cookies message

cfr-whatsnew-clear-cookies-header = ਚੋਰ ਟਰੈਕਿੰਗ ਤਰਕੀਬਾਂ ਤੋਂ ਆਟੋਮੈਟਿਕ ਸੁਰੱਖਿਆ
cfr-whatsnew-clear-cookies-body = ਕੁਝ ਟਰੈਕਰ ਤੁਹਾਨੂੰ ਦੂਜੀਆਂ ਵੈਬਸਾਈਟਾਂ ਤੇ ਭੇਜਦੇ ਹਨ, ਜੋ ਕੂਕੀਜ਼ ਨੂੰ ਗੁਪਤ ਰੂਪ ਵਿੱਚ ਸੈੱਟ ਕਰਦੇ ਹਨ। { -brand-short-name } ਹੁਣ ਆਪਣੇ ਆਪ ਉਹਨਾਂ ਕੂਕੀਜ਼ ਨੂੰ ਸਾਫ਼ ਕਰ ਦਿੰਦਾ ਹੈ ਤਾਂ ਜੋ ਤੁਹਾਡਾ ਪਿੱਛਾ ਨਾ ਹੋ ਸਕੇ।
cfr-whatsnew-clear-cookies-image-alt = ਕੂਕੀਜ਼ ਨੇ ਦਿਖਾਉਣ ਤੋਂ ਪਾਬੰਦੀ ਲਾਈ

## What's new: Media controls message

cfr-whatsnew-media-keys-header = ਹੋਰ ਮੀਡੀਆ ਕੰਟਰੋਲ
cfr-whatsnew-media-keys-button = ਸਿੱਖੋ ਕਿ ਕਿਵੇਂ
