# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: „Masonry“ išdėstymas
experimental-features-css-masonry-description = Įjungia eksperimentinio CSS „Masonry“ išdėstymo palaikymą. Paskaitykite <a data-l10n-name="explainer">paaiškinimą</a>, kur pateikiamas aukšto lygmens aprašymas šiam funkcionalumui. Norėdami palikti atsiliepimą, pakomentuokite <a data-l10n-name="w3c-issue">šią „GitHub“ problemą</a>, arba <a data-l10n-name="bug">šią klaidą</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Šis naujas API suteikia žemo lygio palaikymą norint atlikti skaičiavimus ir grafinius atvaizdavimus naudojant <a data-l10n-name="wikipedia">vaizdo procesorių (GPU)</a>, esantį naudotojo įrenginyje ar kompiuteryje. <a data-l10n-name="spec">Specifikacija</a> yra vis dar kuriama. Sužinoti daugiau galite skaitydami apie <a data-l10n-name="bugzilla">klaidą 1602129</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Media: AVIF
experimental-features-media-avif-description = Su šia funkcija „{ -brand-short-name }“ palaiko AV1 vaizdo failų (AVIF) formatą. Tai yra nejudančio vaizdo failų formatas, išnaudojantis AV1 vaizdo suspaudimo algoritmus, siekiant sumažinti paveikslo dydį. Sužinoti daugiau galite skaitydami apie <a data-l10n-name="bugzilla">klaidą 1443863</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = Mūsų <a data-l10n-name="mdn-inputmode">inputmode</a> globalaus atributo įgyvendinimas buvo atnaujintas pagal <a data-l10n-name="whatwg">„WHATWG“ specifikaciją</a>, tačiau mums dar reikia atlikti kitų pakeitimų, pvz., padaryti jį pasiekiamą per „contenteditable“ turinį. Sužinoti daugiau galite skaitydami apie <a data-l10n-name="bugzilla">klaidą 1205133</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-link-preload =
    .label = Web API: <link rel="preload">
# Do not translate "rel", "preload" or "link" here, as they are all HTML spec
# values that do not get translated.
experimental-features-web-api-link-preload-description = <a data-l10n-name="rel">rel</a> atributas su reikšme <code>"preload"</code> ant <a data-l10n-name="link">&lt;link&gt;</a> elemento yra skirtas padėti suteikti daugiau našumo, leidžiant jums atsiųsti resursus ankstesnėje tinklalapio įkėlimo stadijoje. Taip užtikrinama, kad jie bus pasiekiami anksčiau, ir bus mažesnė tikimybė stabdyti pačio tinklalapio atvaizdavimą. Sužinoti daugiau galite skaitydami <a data-l10n-name="readmore">„Išankstinis turinio įkėlimas su <code>rel="preload"</code>“</a>, arba apie <a data-l10n-name="bugzilla">klaidą 1583604</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-focus-visible =
    .label = CSS: pseudoklasė: :focus-visible
experimental-features-css-focus-visible-description = Leidžia „focus“ stiliams būtų taikomiems tokiems elementams, kaip mygtukai ir formų elementai tik tada, kai jie aktyvuojami naudojantis klaviatūra (pvz., pereinant tarp elementų su „Tab“), ir ne tada, kad jie aktyvuojami naudojantis pele ar kitu rodymo įrenginiu. Sužinoti daugiau galite skaitydami apie <a data-l10n-name="bugzilla">klaidą 1617600</a>.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Slapukai: SameSite=Lax (numatyta)
experimental-features-cookie-samesite-lax-by-default2-description = Slapukams taikyti „SameSite=Lax“ kaip numatytąją reikšmę, jei atributas „SameSite“ nenurodytas. Programuotojai turi išimtinai pasirinkti dabartinį neriboto naudojimo funkcionalumą, išskirtinai nurodydami „SameSite=None“.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Slapukai: SameSite=None reikalauja atributo „secure“
experimental-features-cookie-samesite-none-requires-secure2-description = Slapukai su atributu „SameSite=None“ reikalauja atributo „secure“. Šiam funkcionalumui reikalinga „Slapukai: SameSite=Lax (numatyta)“.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = „about:home“ paleisties podėlis
experimental-features-abouthome-startup-cache-description = Podėlis, skirtas pirminiam „about:home“ dokumentui, kuris yra numatytasis pradžios tinklalapis. Šio podėlio paskirtis yra pagerinti paleisties našumą.
