# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = ព័ត៌មាន​អំពី​ដំណោះស្រាយ​បញ្ហា
page-subtitle = ទំព័រ​នេះ មាន​ព័ត៌មាន​បច្ចេកទេស​ដែល​អាច​មាន​ប្រយោជន៍ នៅ​ពេល​ដែល​អ្នក ព្យាយាម​ដោះស្រាយ​បញ្ហា ។ ប្រសិនបើ​អ្នក​កំពុង​រក​ចម្លើយ​សម្រាប់​សំណួរ​ទូទៅ អំពី { -brand-short-name } ពិនិត្យមើល <a data-l10n-name="support-link">តំបន់​បណ្ដាញ​គាំទ្រ</a> របស់​យើង ។

crashes-title = របាយការណ៍​ការ​គាំង
crashes-id = លេខ​សម្គាល់​របាយការណ៍
crashes-send-date = បាន​ដាក់​ស្នើ
crashes-all-reports = របាយការណ៍​ការ​គាំង​ទាំងអស់
crashes-no-config = កម្មវិធី​នេះ​មិន​ទាន់​បាន​កំណត់​រចនាសម្ព័ន្ធ​ដើម្បី​បង្ហាញ​របាយការណ៍​ការ​គាំ​ទេ។
extensions-title = ផ្នែក​បន្ថែម
extensions-name = ឈ្មោះ
extensions-enabled = បាន​អនុញ្ញាត
extensions-version = កំណែ
extensions-id = លេខ​សម្គាល់
support-addons-name = ឈ្មោះ
support-addons-version = កំណែ
support-addons-id = លេខ​សម្គាល់
app-basics-title = មូលដ្ឋាន​គ្រឹះ​របស់​កម្មវិធី
app-basics-name = ឈ្មោះ
app-basics-version = កំណែ
app-basics-build-id = លេខ​សម្គាល់​ការ​បង្កើត
app-basics-update-channel = ធ្វើ​បច្ចុប្បន្នភាព​ឆានែល
app-basics-update-history = ប្រវត្តិ​ធ្វើ​បច្ចុប្បន្នភាព
app-basics-show-update-history = បង្ហាញ​ប្រវត្តិ​បច្ចុប្បន្នភាព
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] ថត​​​ទម្រង់
       *[other] ថត​ទម្រង់
    }
app-basics-enabled-plugins = កម្មវិធី​ជំនួយ​ដែល​បាន​បើក
app-basics-build-config = ស្ថាបនា​ការ​កំណត់​រចនាសម្ព័ន្ធ
app-basics-user-agent = ភ្នាក់ងារ​អ្នកប្រើ
app-basics-memory-use = អង្គ​ចងចាំ​ដែល​ប្រើ
app-basics-performance = ដំណើរការ
app-basics-service-workers = Service Workers ដែល​បាន​ចុះ​ឈ្មោះ
app-basics-multi-process-support = វីនដូ​ដំណើរការ​ច្រើន
app-basics-safe-mode = របៀប​សុវត្តិភាព
modified-key-prefs-title = ចំណូលចិត្ត​ដែល​កែប្រែ​សំខាន់
modified-prefs-name = ឈ្មោះ
modified-prefs-value = តម្លៃ
user-js-title = ចំណូល​ចិត្ត user.js
user-js-description = ថត​ទម្រង់​របស់​អ្នក​មាន <a data-l10n-name="user-js-link">user.js file</a> រួម​នឹង​ចំណូលចិត្ត​ដែល​មិន​ត្រូវ​បាន​បង្កើត​ដោយ { -brand-short-name } ។
locked-key-prefs-title = ចំណូលចិត្ត​ដែល​បាន​ចាក់សោ​សំខាន់
locked-prefs-name = ឈ្មោះ
locked-prefs-value = តម្លៃ
graphics-title = ក្រាហ្វិក
a11y-title = មធ្យោបាយ​ងាយស្រួល
a11y-activated = បាន​ធ្វើ​ឲ្យ​សកម្ម
a11y-force-disabled = ការពារ​ពី​ការ​ចូល​ដំណើរការ
library-version-title = កំណែ​បណ្ណាល័យ
copy-text-to-clipboard-label = ចម្លង​អត្ថបទ​ទៅ​ក្ដារ​តម្បៀត​ខ្ទាស់
copy-raw-data-to-clipboard-label = ចម្លង​ទិន្នន័យ​ដើម​ទៅ​ក្ដារ​តម្បៀត​ខ្ទាស់
sandbox-title = Sandbox
safe-mode-title = សាកល្បង​របៀប​សុវត្ថិភាព
restart-in-safe-mode-label = ចាប់ផ្ដើម​ឡើងវិញ​ដោយ​បិទ​កម្មវិធី​បន្ថែម...

## Media titles


##


## Remote Debugging
##
## The Firefox remote protocol provides low-level debugging interfaces
## used to inspect state and control execution of documents,
## browser instrumentation, user interaction simulation,
## and for subscribing to browser-internal events.
##
## See also https://firefox-source-docs.mozilla.org/remote/


##

# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days = របាយការណ៍​ភាព​ជាប់​​គាំង​សម្រាប់ { $days } ថ្ងៃ​ចុងក្រោយ

# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes = { $minutes } នាទី​​មុន

# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours = { $hours } ម៉ោង​​មុន

# Variables
# $days (integer) - Number of days since crash
crashes-time-days = { $days } ថ្ងៃ​​មុន

# Variables
# $reports (integer) - Number of pending reports
pending-reports = គ្រប់​របាយការណ៍​ភាព​ជាប់​​គាំង​ទាំងអស់ (រួម​មាន​ការ​គាំង​ដែល​កំពុង​រង់ចាំ { $reports } នៅ​ក្នុង​ចន្លោះ​​ពេល​ណា​មួយ)

raw-data-copied = បាន​ចម្លង​ទិន្នន័យ​ដើម​ទៅកាន់​ក្ដារ​តម្បៀត​ខ្ទាស់
text-copied = បាន​ចម្លង​អត្ថបទ​ទៅកាន់​ក្ដារ​តម្បៀត​ខ្ទាស់

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = បាន​ទប់ស្កាត់​សម្រាប់​កំណែ​កម្មវិធី​បញ្ជា​ក្រាហ្វិក​របស់​អ្នក ។
blocked-gfx-card = បាន​ទប់ស្កាត់​សម្រាប់​កាត​ក្រាហ្វិក​របស់​អ្នក ដោយសារតែ​បញ្ហា​កម្មវិធី​បញ្ជា​ដែល​មិន​បាន​ដោះស្រាយ ។
blocked-os-version = បាន​ទប់ស្កាត់​សម្រាប់​កំណែ​ប្រព័ន្ធ​ប្រតិបត្តិការ​របស់​អ្នក ។
blocked-mismatched-version = បានបិទ​សម្រាប់​កំណែ​កម្មវិធី​បញ្ជា​ក្រាហ្វិក​របស់​អ្នក​ដែល​ខុស​គ្នា​រវាង​​​បញ្ជី​ឈ្មោះ និង DLL ។
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = បាន​ទប់ស្កាត់​សម្រាប់​កំណែ​កម្មវិធី​បញ្ជា​ក្រាហ្វិក​របស់​អ្នក ។ សាកល្បង​ធ្វើ​បច្ចុប្បន្នភាព​កម្មវិធី​បញ្ជា​ក្រាហ្វិក​របស់​អ្នក​ទៅកាន់​កំណែ { $driverVersion } ឬ​ថ្មី​ជាង ។

# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = ប៉ារ៉ាម៉ែត្រ ClearType

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

gpu-vendor-id = លេខសម្គាល់​អ្នក​លក់
gpu-device-id = លេខសម្គាល់​ឧបករណ៍
gpu-subsys-id = លេខ​សម្គាល់ Subsys
gpu-driver-version = កំណែ​របស់​កម្មវិធី​បញ្ជា
gpu-driver-date = កាលបរិច្ឆេទ​របស់​កម្មវិធី​បញ្ជា

min-lib-versions = កំណែ​ទាប​បំផុត​ដែល​អាច​ដំណើរ​ការ​បាន
loaded-lib-versions = កំណែ​ដែល​កំពុង​ប្រើ

has-seccomp-bpf = Seccomp-BPF (System Call Filtering)
has-seccomp-tsync = ការ​ធ្វើ​សម​កាល​កម្ម​ស្រិត Seccomp
has-user-namespaces = សំណុំ​ឈ្មោះ​អ្នក​ប្រើ
has-privileged-user-namespaces = សំណុំ​ឈ្មោះ​អ្នក​ប្រើ​សម្រាប់​ដំណើរការ​មាន​សិទ្ធិ
can-sandbox-content = Sandboxing ដំណើរការ​មាតិកា
can-sandbox-media = Sandboxing កម្មវិធី​ជំនួយ​មេឌៀ

# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }

async-pan-zoom = Asynchronous Pan/Zoom
apz-none = គ្មាន
wheel-enabled = បាន​បើក​ការ​បញ្ចូល​ដោយ​កង់​កណ្ដុរ
touch-enabled = បាន​បើក​ការ​បញ្ចូល​ដោយ​ប៉ះ

## Variables
## $preferenceKey (string) - String ID of preference

wheel-warning = បាន​បិទ​ការ​បញ្ចូល​ដោយ​កង់​កណ្ដុរ async ដោយ​សារ​ចំណូល​ចិត្ត​មិន​គាំទ្រ៖ { $preferenceKey }
touch-warning = បាន​បិទ​ការ​បញ្ចូល​ដោយ​ប៉ះ async ដោយ​សារ​ចំណូល​ចិត្ត​មិន​គាំទ្រ៖ { $preferenceKey }

## Strings representing the status of the Enterprise Policies engine.

