# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Rmed asefrek n tmahilt tarmitant CSS Masonry Layout. Wali <a data-l10n-name="explainer">asegzi-a</a> i uglam s uswir εlayen n tmahilt-a. I wakken ad d-tefkeḍ tamuɣli-k/m, ttxil-k/m wennet deg <a data-l10n-name="w3c-issue">ugur-a ɣef GitHub</a> neɣ <a data-l10n-name="bug">abug-a</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = API-agi tamaynut tettmuddu asefrek n uswir ameẓẓyan i usiḍen n uselken d uskan n unuḍaf s useqdec n <a data-l10n-name="wikipedia">uferdis asesfer n unuḍaf (GPU)</a> n yibenk n useqdac neɣ n uselkim. <a data-l10n-name="spec">alugen</a> mazal-it iteddu yettnerni. Wali <a data-l10n-name="bugzilla">abug 1602129</a> i wugar n telqayt.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Amedya: AVIF
experimental-features-media-avif-description = S tmahilt-a yettwaremden, { -brand-short-name } yessefrak amasal AV1 n ufaylu n tugna (AVIF). Wagi d amasal n ufaylu n tuqna ireṣṣan i yessexdamen tizemmar n yilguritmen n uskussem n tvidyut AV1 i usemẓi n teɣzi n tugna. Wali <a data-l10n-name="bugzilla">abug 1443863</a> i wugar n telqayt.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = API web: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = Asebded-nneɣ i yimyerr amatu <a data-l10n-name="mdn-inputmode">inputmode</a> yettuleqqem almend n <a data-l10n-name="whatwg">ulugen WHATWG</a>, maca mazal nesra ad neg kra n yisnifal daɣen, d amedya ad t-nerr yella deg ugbur ara yettwaẓergen. Wali <a data-l10n-name="bugzilla">abug1205133</a> i wugar n telqayt.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-link-preload =
    .label = Web API: <link rel="preload">
# Do not translate "rel", "preload" or "link" here, as they are all HTML spec
# values that do not get translated.
experimental-features-web-api-link-preload-description = Imyerr <a data-l10n-name="rel">rel</a> s wazal <code>"preload"</code> ɣef uferdis <a data-l10n-name="link">&lt;link&gt;</a> yella-d i tallalt n usnerni n temlellit ayen ara ak·akem-yeǧǧen ad d-tesidreḍ tiɣbula qbel deg wallus n tudert n usebter, s uḍman n tilin-nsent rnu ur ssewḥalent ara asumer n usebter. Γer <a data-l10n-name="readmore">“agbur seld asali s <code>rel="preload"</code>”</a> neɣ wali <a data-l10n-name="bugzilla">abug 1583604</a> i wugar n telqayt.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-focus-visible =
    .label = CSS: Pseudo-class: :focus-visible
experimental-features-css-focus-visible-description = Yessirig aseddu n wanawen n ufukus i yiferdisen am tqeffalin d yisenqad n tferkit, ala mi ara yilin ttwafernen i useqdec n unasiw (am. mi ara tgeḍ tarigla gar yiferdisen), maca mačči am mi ara ttwafernent s useqdec n tɣerdayt neɣ ibenk-nniḍen n usigez. Wali <a data-l10n-name="bugzilla">abug1617600</a> i wugar n telqayt.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-beforeinput =
    .label = Web API: beforeinput Event
# The terms "beforeinput", "input", "textarea", and "contenteditable" are technical terms
# and shouldn't be translated.
experimental-features-web-api-beforeinput-description = Tadyant s umata <a data-l10n-name="mdn-beforeinput">beforeinpt</a> tekker ɣef <a data-l10n-name="mdn-input">&lt;input&gt;</a> d <a data-l10n-name="mdn-textarea">&lt;textarea&gt;</a> yiferdisen, neɣ kra n uferdis iwumi yettwarmed yimyerr <a data-l10n-name="mdn-contenteditable">contenteditable</a>, send kan asnifel n wazal n uferdis.Tadyant ad teǧǧ isnasen n web ad  surfen tikli tamezwert n yiminig i temyigawt n useqdac, am., isnasen web zemren ad sfesxen asekcem n useqdac kan i yisekkilen yettwafernen neɣ zemren ad sniflen aḍris n wanaw kan inetḍen s yiɣunab yettuɣeblen.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = Timerna n umeṣkaw ɣer ugrudem <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> d tegrumma n yisenfal yemgaraden yemcudden, yezmer ad ttwarnunt srid tferkiyin timaynutin n uɣanib s war timerna n tferkit HTML. Aya ad yessishel timerna n tferkiyin n uɣanib ara yettwallsen deg useqdec i useqdec d <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Wali <a data-l10n-name="bugzilla">abug1520690</a> i wugar n telqayt.
experimental-features-devtools-color-scheme-simulation =
    .label = Ifecka n uneflay: Aserwes n tegrumma n yiniten
experimental-features-devtools-color-scheme-simulation-description = Yerna taxtiṛt n tuttra n yizenziɣen n yiniten yemgaraden ara ak-akem-yeǧǧen ad teskeydeḍ ilugan n yimidyaten <a data-l10n-name="mdn-preferscolorscheme">@prefers-color-scheme</a>. Aseqdec n tuttra n umidyat-a ad yeǧǧ tiferkit-ik·m n uɣanib ad terr ma yella aseqdac ad yefren agrudem n useqdac amceɛlal neɣ aberkan. Tamahilt-a ad ak·akem-teǧǧ ad teskeydeḍ tangalt-ik·im war ma tesnifleḍ iɣewwaren deg yiminig-ik·im (neɣ anagraw n wammud, ma yella iminig yeṭṭafar aɣewwar n uzenziɣ n yiniten ɣef uswir n unagraw). Wali <a data-l10n-name="bugzilla1">abug1550804</a> d <a data-l10n-name="bugzilla2">wabug1137699</a> i wugar n telqayt.
experimental-features-devtools-execution-context-selector =
    .label = Ifecka n uneflay: Amsefren n usatal n uselkem
experimental-features-devtools-execution-context-selector-description = Tamahilt-a teskanay-d taqeffalt deg yizirig n tladna n tdiwent ara ak·akem-yeǧǧen ad tesnifleḍ amnaḍ ideg ara tettwaselkem tenfalit ara teskecmeḍ. Wali <a data-l10n-name="bugzilla1">abug 1605154</a> d <a data-l10n-name="bugzilla2">wabug 1605153</a> i wugar n telqayt.
experimental-features-devtools-compatibility-panel =
    .label = Ifecka n uneflay: Agalis n umṣada
experimental-features-devtools-compatibility-panel-description = Agalis adisan n umaswaḍ n usebter i d-yeskanayen talɣut s telqayt n waddaden n umṣada gar yiminigen n usnas-inek·inem. Wali <a data-l10n-name="bugzilla">abug 1584464</a> i wugar n telqayt.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Inagan n tuqqna: SameSite=Lax s wudem amezwer
experimental-features-cookie-samesite-lax-by-default2-description = Ḥseb inagan n tuqqna am “SameSite=Lax” s wudem amezwer ma yella ulac imyerr n “SameSite” yettwafernen. Ineflayen ilaq ad qeblen addad-a amiran n useqdec war tilas s uwekked n tidet ɣef “SameSite=”.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Inagan n tuqqna: SameSite=None yesra imyerr aɣelsan
experimental-features-cookie-samesite-none-requires-secure2-description = Inagan n tuqqna s yimyerr “SameSite=None” sran imyerr aɣelsan. Tamahilt-a tesra “Inagan n tuqqna: SameSite=Lax by default”.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = ɣef: tuffirt n usenker agensan
experimental-features-abouthome-startup-cache-description = Tuffirt i ugbur amezwaru ɣef:isemli agejdan i d-yulin s wudem amewer deg usenker. Iswi seg tuffra-a  d asnerni n temlellit n usenker.
experimental-features-print-preview-tab-modal =
    .label = Allus n ufeṣṣel send asiggez
experimental-features-print-preview-tab-modal-description = Yeskanay taskant s wallus n ufeṣṣel send asiggez, yerna yettarra taskant send asiggez tella ɣef macOS. Yezmer waya ad d-yeglu s truẓi yernu ur ttilin ara akk deg-s yiɣewwaren icudden ɣer usiggez. I unekcum ɣer meṛṛa iɣewwaren i icudden ɣer usiggez, fren "Siggez s useqdec n tbewwaḍt n udiwenni n unagraw..." si sdaxel n ugalis n usiggez.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Inagan n tuqqna: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Sesfer inagan n tuqqna seg yiwet n taɣult, maca s yizenzaɣ yemgaraden (am. http://example.com d https://example.com) am gar yismal deg wadeg n yiwen n usmel. Yessiǧhid taɣellist, d acu yezmer ad d-yeglu s truẓi.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Ifecka n uneflay: Tamseɣtayt n unmahal n umeẓlu
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Yermed tallalt tarmitant i yimahalen n umeẓlu deg ugalis n temseɣtit. Tamahilt-a yezmer ad terr ifecka n tneflit ẓẓayit, tessalay daɣen asadur n tkatut.
# Desktop zooming experiment
experimental-features-graphics-desktop-zooming =
    .label = Udlifen: Asemɣer/Asemẓi n tuṭṭfa talggaɣt
experimental-features-graphics-desktop-zooming-description = Rmed tallelt n tuṭṭfa n usemɣer/asemẓi talggaɣt deg ugdil analan akked telqayt n ugertil analan.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = Rmed/Sens imesli amatu n WebRTC
experimental-features-webrtc-global-mute-toggles-description = Rnu senqaden ɣer umatar n beṭṭu amatu n WebRTC ara yessirgen iseqdacen ad sensen imesli s umata n usawaḍ d tkamiṛat nsen.
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Rmed Wrap, d asenfar i usnerni n tmellit n JavaScript d useqdec n tkatut.
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (aɛzal n usmel)
experimental-features-fission-description = Fission (aɛzal n usmel) d tamahilt tarmitant deg { -brand-short-name } i umuddu n tissi-nniḍen n uḥareb mgal abugen n tɣellist. S uɛzal n yal asmel deg ukala i yettwaɛezlen, Fission tettarra anekcum ɣer yisebtar-nniḍen wuɣur i trezzuḍ yewɛer aṭas i yir ismal web. Wagi d asenfel agejdan asegdan deg { -brand-short-name }, nekkni ad ak·akem-nesnemmer ɣef usekyed d tuzna n wuguren i tzemreḍ ad d-temlileḍ. I wugar n telqayt, wali <a data-l10n-name="wiki">awiki</a>.
