# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Ligação segura Indisponível
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Está a navegar no modo apenas HTTPS e não está disponível nenhuma versão segura HTTPS de <em>{ $websiteUrl }</em>.
about-httpsonly-insecure-explanation-reasons = O mais provável é que o site não forneça suporte ao HTTPS, mas também é possível que um invasor esteja a bloquear a versão HTTPS.
about-httpsonly-insecure-explanation-exception = Embora o risco para a segurança seja baixo, se decidir visitar a versão HTTP do site, não introduza informações confidenciais, como palavras-passe, e-mails ou detalhes de cartão de crédito.
about-httpsonly-button-make-exception = Aceitar o risco e continuar para o site
about-httpsonly-title = O { -brand-short-name } detetou um possível problema de segurança
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = Está a navegar no modo exclusivamente HTTPS e não está disponível nenhuma versão HTTPS segura de <em>{ $websiteUrl }</em>.
about-httpsonly-title-alert = Alerta modo Apenas HTTPS
about-httpsonly-title-connection-not-available = Ligação segura não disponível
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Ativou o modo Apenas HTTPS para uma maior segurança e não está disponível uma versão HTTPS de <em>{ $websiteUrl }</em>.
about-httpsonly-explanation-question = O que pode estar na origem disto?
about-httpsonly-explanation-nosupport = Provavelmente, o site simplesmente não suporta HTTPS.
about-httpsonly-explanation-risk = Também é possível que um atacante esteja envolvido. Se decidir visitar o site, não deve introduzir quaisquer informações sensíveis, como palavras-passe, e-mails ou detalhes de cartões de crédito.
about-httpsonly-button-accept-and-continue = Aceitar o risco e continuar
about-httpsonly-explanation-continue = Se você continuar, o modo Apenas HTTPS será temporariamente desativado para este site.
about-httpsonly-button-continue-to-site = Continuar para site HTTP
about-httpsonly-button-go-back = Retroceder
about-httpsonly-link-learn-more = Saber mais…
