# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Jeikekatu eipurukuaa’ỹva
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Eikundahahína HTTPS ayvu añoitépe, ha ndaipóri peteĩva HTTPS hekorosãva <em>{ $websiteUrl }</em> rehegua.
about-httpsonly-insecure-explanation-reasons = Ikatuvevahína pe ñanduti renda ndojokupytýi HTTPS ndive, hákatu avei ikatu peteĩ mba’evaiapoha ojoko peteĩva HTTPS.
about-httpsonly-insecure-explanation-exception = Tekorosã hasýramo jepe imarãvo, eikesérõ peteĩva HTTP ñanduti rendápe, aníke eme’ẽ marandu kañyguáva avavépe, ãva ha’e ñe’ẽñemi, ñanduti veve térã mba’emimi kuatia’atã ñemurã rehegua.
about-httpsonly-button-make-exception = Emoneĩ jekyhyje ha eho tendápe
about-httpsonly-title = { -brand-short-name } ohechakuaa ikatuha oiko apañuãi
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = Eikundaha HTTPS ayvu añópe, ha ndaipóri peteĩva HTTPS hekorosãva <em>{ $websiteUrl }</em> ndojepurukuaái.
about-httpsonly-title-alert = HTTPS ayvúpe kyhyjerã
about-httpsonly-title-connection-not-available = Jeikekatu eipurukuaa’ỹva
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Emyandyhína HTTPS ayvu añoitéva hekorosãve hag̃ua hákatu ndaipori HTTPS ipyahúva <em>{ $websiteUrl }</em>.
about-httpsonly-explanation-question = ¿Mba’éicha oikokuaa kóva?
about-httpsonly-explanation-nosupport = Pe ikatúva hína ñanduti renda ndojokupytýi HTTPS ndive.
about-httpsonly-explanation-risk = Ikatu avei mba’evaiapoha ojapo. Eikeséramo ñanduti rendápe, aníke eme’ẽ marandu kañyguáva, taha’e ñe’ẽñemi, ñanduti veve térã mba’emimi kuatia’atã ñemurã reheguáva.
about-httpsonly-button-accept-and-continue = Emoneĩ imarãkuaaha ha eku’ejey
about-httpsonly-explanation-continue = Eiméramo pype, pe HTTPS ayvu añóva oguéta sapy’ami ko tendápe g̃uarã.
about-httpsonly-button-continue-to-site = Epyta ko HTTP rendápe
about-httpsonly-button-go-back = Guevijey
about-httpsonly-link-learn-more = Eikuaave…
