# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = ముఖ్యమైన వార్తలు
heading = మీ { -brand-short-name } ప్రొఫైలుకి మార్పులు
changed-title = ఏమి మారింది?
changed-desc-profiles = { -brand-short-name } యొక్క ఈ స్థాపన కొత్త ప్రొఫైలును కలిగివుంది. ఇష్టాంశాలు, సంకేతపదాలు, వాడుకరి అభిరుచుల వండి సమాచారాన్ని Firefox ఫైళ్ళుగా భద్రపరిచే చోటే ఈ ప్రొఫైలు.
changed-desc-dedicated = Firefox స్థాపనల మధ్య (Firefox, Firefox ESR, Firefox బీటా, Firefox డెవలపర్ ఎడిషన్, Firefox నైట్లీ) మారడాన్ని తేలిక, సురక్షితం చేసేందుకు, ఈ స్థాపనకు ఇప్పుడు ప్రత్యేక ప్రొఫైలు కేటాయించబడింది. ఇది మీ ఇతర Firefox స్థాపనల మధ్య సమాచారాన్ని సంయంచాలకంగా పంచుకోదు.
lost = <b>వ్యక్తిగత డేటా లేదా అభిమతీకరణలను మీరు కోల్పోలేదు.<b> మీరు ఇప్పటికే ఈ కంప్యూటర్‌లో Firefoxకు సమాచారాన్ని భద్రపరచి ఉంటే, అది ఇంకా మరొక Firefox స్థాపనలో అందుబాటులో ఉంది.
options-title = నా ఎంపికలు ఏమిటి?
options-do-nothing = మీరు ఏమీ చేయకపోతే, { -brand-short-name } లోని మీ ప్రొఫైల్ డేటా ఇతర Firefox స్థాపనల ప్రొఫైలు డేటా నుండి వేరుగా ఉంటుంది.
options-use-sync = అన్ని Firefox స్థాపనలలోనూ మీ ప్రొఫైలు డేటా అంతా ఒకటిగా ఉండాలనుకుంటే, వాటన్నిటినీ సింక్రనించుకోడానికి మీరు { -fxaccount-brand-name } వాడుకోవచ్చు.
resources = వనరులు:
support-link = ప్రొఫైల్ మేనేజర్ వాడుకోవడం - తోడ్పాటు వ్యాసం
sync-header = ప్రవేశించండి లేదా { -fxaccount-brand-name } సృష్టించుకోండి
sync-label = మీ ఈమెయిలును ఇవ్వండి
sync-input =
    .placeholder = ఈమెయిలు
sync-button = కొనసాగించు
sync-terms = కొనసాగడం ద్వారా, మీరు <a data-l10n-name="terms"></a>సేవా నిబంధనలు</a>, <a data-l10n-name="privacy"> గోప్యతా నోటీసు </a>లకు అంగీకరిస్తున్నారు.
sync-first = { -sync-brand-name }‌ని వాడటం మొదటిసారా? మీ సమాచారాన్ని సింక్రనించుకోడానికి మీ ప్రతీ Firefox లోనూ ప్రవేశించివుండాలి.
sync-learn = ఇంకా తెలుసుకోండి
