# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry жаймасы
experimental-features-css-masonry-description = Эксперименталды CSS Masonry Layout мүмкіндігіне қолдауды іске қосады. Жоғары деңгейлі сипаттамасын <a data-l10n-name="explainer">түсіндірушіні</a> қараңыз. Кері байланыс хабарламасын қалдыру үшін, <a data-l10n-name="w3c-issue">бұл GitHub мәселесінде</a> немесе <a data-l10n-name="bug">бұл ақаулықта</a> түсіндірмені қалдырыңыз.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Media: AVIF
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cookie файлдары: Үнсіз келісім бойынша SameSite=Lax
experimental-features-cookie-samesite-lax-by-default2-description = Егер "SameSite" атрибуты көрсетілмесе, cookie файлдарын "SameSite=Lax" ретінде қарастыру. Әзірлеушілер ағымдағы шектелмеген қолдану жағдайына "SameSite=None" көрсету арқылы қосылуы керек.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cookie файлдары: SameSite=None secure атрибутын талап етеді
experimental-features-cookie-samesite-none-requires-secure2-description = "SameSite=None" атрибуты бар cookie файлдары secure атрибутын талап етеді. Бұл мүмкіндік, үнсіз келісім бойынша, "Cookies: SameSite=Lax " талап етеді.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = about:home іске қосылу кэші
experimental-features-abouthome-startup-cache-description = Іске қосылғанда, автоматты түрде жүктелетін about:home құжаты үшін кэш. Кэштің мақсаты - іске қосылу өнімділігін жақсарту.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Әзірлеуші құралдары: Service Worker-ді жөндеу
# Desktop zooming experiment
experimental-features-graphics-desktop-zooming =
    .label = Графика: Smooth Pinch Zoom
experimental-features-graphics-desktop-zooming-description = Сенсорлық экрандарда және дәл сенсорлық тақталарда тегіс масштабтауды іске қосу.
