# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Connectar un autre periferic
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. S’es pas encara fach, installatz <a data-l10n-name="connect-another-device">Firefox sus vòstre periferic mobil</a>.
fxa-qrcode-heading-phase2 = 2. Puèi connectatz-vos a { -sync-brand-short-name } o sos Android escanerizatz lo còdi d’associacion dels paramètres de { -sync-brand-short-name } estant.
fxa-qrcode-heading-step1 = 1. S’es pas ja lo cas, installatz <a data-l10n-name="connect-another-device">Firefox sus vòstre periferic mobil</a>.
fxa-qrcode-heading-step2 = 2. Dobrissètz Firefox sus vòstre periferic mobil.
fxa-qrcode-heading-step3 = 3. dobrissètz <b>menú</b> (<img data-l10n-name="ios-menu-icon"/> o <img data-l10n-name="android-menu-icon"/>), tocatz <img data-l10n-name="settings-icon"/> <b>Paramètres</b> e causissètz <b>Activar la sincronizacion</b>
fxa-qrcode-heading-step4 = 4. Numerizatz aqueste còdi :
fxa-qrcode-error-title = Fracàs de l’associacion.
fxa-qrcode-error-body = Tornar ensajar
