# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = 다른 기기 연결
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. 아직 설치하지 않았다면, <a data-l10n-name="connect-another-device">모바일 기기에 Firefox를 설치하세요</a>.
fxa-qrcode-heading-phase2 = 2. 그런 다음 { -sync-brand-short-name }에 로그인하거나, Android에서 { -sync-brand-short-name } 설정 내에서 페어링 코드를 스캔하세요.
fxa-qrcode-heading-step1 = 1. 아직 설치하지 않았다면, <a data-l10n-name="connect-another-device">모바일 기기에 Firefox를 설치하세요</a>.
fxa-qrcode-heading-step2 = 2. 모바일 기기에서 Firefox를 여세요.
fxa-qrcode-heading-step3 = 3. <b>메뉴</b> (<img data-l10n-name="ios-menu-icon"/> 또는 <img data-l10n-name="android-menu-icon"/>)를 열고, <img data-l10n-name="settings-icon"/> <b>설정</b>을 누르고 <b>Sync 켜기</b>를 선택하세요.
fxa-qrcode-heading-step4 = 4. 다음 코드를 스캔하세요:
fxa-qrcode-error-title = 페어링에 실패했습니다.
fxa-qrcode-error-body = 다시 시도하세요.
