# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Kết nối thiết bị khác
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Cài đặt <a data-l10n-name="connect-another-device">Firefox trên thiết bị di động</a> của bạn nếu chưa có.
fxa-qrcode-heading-phase2 = 2. Sau đó đăng nhập vào { -sync-brand-short-name }, hoặc trên Android quét mã ghép nối bên trong cài đặt { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Cài đặt <a data-l10n-name="connect-another-device">Firefox trên thiết bị di động</a> nếu bạn chưa có.
fxa-qrcode-heading-step2 = 2. Mở Firefox trên thiết bị di động của bạn.
fxa-qrcode-heading-step3 = 3. Mở <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> hoặc <img data-l10n-name="android-menu-icon"/>), chạm vào <img data-l10n-name="settings-icon"/> <b>Cài đặt</b> và chọn <b>Bật đồng bộ hóa</b>
fxa-qrcode-heading-step4 = 4. Quét mã này:
fxa-qrcode-error-title = Ghép đôi không thành công.
fxa-qrcode-error-body = Thử lại.
