# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = អំពី { -brand-full-name }

releaseNotes-link = អ្វី​ដែល​ថ្មី

update-checkForUpdatesButton =
    .label = ពិនិត្យរក​មើល​បច្ចុប្បន្នភាព
    .accesskey = C

update-updateButton =
    .label = ចាប់ផ្ដើម​ឡើងវិញ​ដើម្បី​ធ្វើ​បច្ចុប្បន្នភាព { -brand-shorter-name }
    .accesskey = R

update-checkingForUpdates = កំពុង​ពិនិត្យរកមើល​បច្ចុប្បន្នភាព...
update-downloading = <img data-l10n-name="icon"/>កំពុង​ទាញ​យក​បច្ចុប្បន្នភាព—  <label data-l10n-name="download-status"/>
update-applying = កំពុង​អនុវត្ត​បច្ចុប្បន្នភាព...

update-failed = ការ​ធ្វើ​បច្ចុប្បន្នភាព​បាន​បរាជ័យ។ <label data-l10n-name="failed-link">ទាញ​យក​កំណែ​ថ្មី​បំផុត</label>
update-failed-main = ការ​ធ្វើ​បច្ចុប្បន្នភាព​បាន​បរាជ័យ។ <a data-l10n-name="failed-link-main">ទាញ​យក​កំណែ​ថ្មី​បំផុត</a>

update-adminDisabled = ការ​ធ្វើ​បច្ចុប្បន្នភាព​ត្រូវ​បាន​បិទ​ដោយ​អ្នក​គ្រប់គ្រង​ប្រព័ន្ធ​របស់​អ្នក
update-noUpdatesFound = { -brand-short-name } ​គឺ​ទាន់​សម័យ
update-otherInstanceHandlingUpdates = { -brand-short-name } កំពុង​ត្រូវ​បាន​ធ្វើ​បច្ចុប្បន្នភាព​ដោយ​​ធាតុ​ផ្សេង

update-manual = បច្ចុប្បន្នភាព​មាន​នៅ <label data-l10n-name="manual-link"/>

update-unsupported = អ្នក​មិន​អាច​ធ្វើ​បច្ចុប្បន្នភាព​បន្ថែម​ទៀត​​ក្នុង​ប្រព័ន្ធ​នេះ​បាន​ទេ។ <label data-l10n-name="unsupported-link">ស្វែងយល់​បន្ថែម</label>

update-restarting = កំពុង​ចាប់ផ្ដើម​ឡើង​វិញ

channel-description = បច្ចុប្បន្ន​អ្នក​កំពុង​ស្ថិត​នៅ​លើ​ <label data-l10n-name="current-channel"></label> ធ្វើ​បច្ចុប្បន្នភាព​ឆានែល។

warningDesc-version = { -brand-short-name } ជា​ការ​ពិសោធន៍ និង​មិន​មាន​​ស្ថិរ​ភាព​ទេ។

community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> ជា <label data-l10n-name="community-exp-creditsLink">សហគមន៍​សកល</label> ដែល​ធ្វើការ​ជាមួយ​​គ្នា​ដើម្បី​ធ្វើ​ឲ្យ​តំបន់​បណ្ដាញ​បើក​ចំហ សាធារណៈ និង​អាច​ចូល​ដំណើរ​ការ​បាន​គ្រប់គ្នា ។

community-2 = { -brand-short-name } ត្រូវ​បាន​រចនា​ដោយ <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label><label data-l10n-name="community-creditsLink">សហគមន៍​សកល</label> ដែល​ធ្វើការ​ជាមួយ​​គ្នា​ដើម្បី​ធ្វើ​ឲ្យ​តំបន់​បណ្ដាញ​បើក​ចំហ សាធារណៈ និង​អាច​ចូល​ដំណើរ​ការ​បាន​គ្រប់គ្នា។

helpus = ចង់​ជួយ?<label data-l10n-name="helpus-donateLink">ជួយ​ឧបត្ថម្ភ</label> ឬ <label data-l10n-name="helpus-getInvolvedLink">ចូលរួម​ចំណែក!</label>

bottomLinks-license = ព័ត៌មាន​អាជ្ញាប័ណ្ណ
bottomLinks-rights = សិទ្ធិ​អ្នកប្រើ
bottomLinks-privacy = គោលនយោបាយ​ភាព​ឯកជន

# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-bit)

# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-bit)
