# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Yn galluogi cefnogaeth i nodwedd arbrofol Cynllun Masonry CSS. Gw. yr <a data-l10n-name="explainer">esboniwr</a> i gael disgrifiad lefel uchel o'r nodwedd. I ddarparu adborth, rhowch sylwadau yn <a data-l10n-name="w3c-issue">y mater GitHub hwn</a> neu <a data-l10n-name="bug">y byg hwn</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Mae'r API newydd hwn yn darparu cefnogaeth lefel isel ar gyfer perfformio cyfrifiant a rendro graffeg gan ddefnyddio <a data-l10n-name="wikipedia">Uned Prosesu Graffeg (GPU)</a> dyfais neu gyfrifiadur y defnyddiwr. Mae'r <a data-l10n-name="spec">fanyleb </a> yn dal i fod yn waith ar y gweill. Gweler <a data-l10n-name="bugzilla">bug 1602129</a> am fwy o fanylion.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Media: AVIF
experimental-features-media-avif-description = Gyda'r nodwedd hon wedi'i galluogi, mae { -brand-short-name } yn cefnogi fformat Ffeil Delwedd AV1 (AVIF). Mae hwn yn fformat ffeil delwedd llonydd sy'n trosoli galluoedd yr algorithmau cywasgu fideo AV1 i leihau maint delwedd. Gweler <a data-l10n-name="bugzilla">bug 1443863</a> am fwy o fanylion.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = Mae ein gweithrediad o'r priodoledd byd-eang <a data-l10n-name="mdn-inputmode">inputmode</a> wedi'i ddiweddaru yn unol â <a data-l10n-name="whatwg">manyleb WHATWG</a>, ond mae angen i ni wneud newidiadau eraill o hyd hefyd, fel sicrhau ei fod ar gael ar gynnwys adolygadwy. Gweler <a data-l10n-name="bugzilla">bug 1205133</a> am fwy o fanylion.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-link-preload =
    .label = Web API: <link rel="preload">
# Do not translate "rel", "preload" or "link" here, as they are all HTML spec
# values that do not get translated.
experimental-features-web-api-link-preload-description = Bwriad y briodoledd <a data-l10n-name="rel">rel</a> gyda gwerth <code>"preload"</code> ar <a data-l10n-name="link">&lt;dolen&gt;</a> yw helpu i ddarparu enillion perfformiad trwy adael i chi lwytho adnoddau i lawr yn gynharach yng nghylch bywyd y dudalen, gan sicrhau eu bod ar gael yn gynharach a'u bod yn llai tebygol o rwystro rendro tudalennau. Darllenwch <a data-l10n-name="readmore">“Rhag-lwytho cynnwys gyda<code> rel =" preload "</code>”</a> neu gweler <a data-l10n-name="bugzilla">bug 1583604</a> am fwy o fanylion.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-focus-visible =
    .label = CSS: Pseudo-class: :focus-visible
experimental-features-css-focus-visible-description = Yn caniatáu i arddulliau ffocws gael eu cymhwyso i elfennau fel botymau a rheolyddion ffurf, dim ond pan fyddan nhw'n canolbwyntio gan ddefnyddio'r bysellfwrdd (e.e. wrth dabio rhwng elfennau), ac nid pan fyddan nhw'n canolbwyntio gan ddefnyddio llygoden neu ddyfais bwyntio arall. Gweler <a data-l10n-name="bugzilla">bug 1617600</a> am fwy o fanylion.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-beforeinput =
    .label = Web API: beforeinput Event
# The terms "beforeinput", "input", "textarea", and "contenteditable" are technical terms
# and shouldn't be translated.
experimental-features-web-api-beforeinput-description = Mae'r digwyddiad cyffredinol <a data-l10n-name="mdn-beforeinput">beforeinput</a> yn cael ei danio ar ddigwyddiad <a data-l10n-name="mdn-input">&lt;input&gt;</a> a < a data-l10n-name = "mdn-textarea">&lt;textarea&gt;</a> elfennau, neu unrhyw elfen y mae ei briodoledd <a data-l10n-name="mdn-contenteditable">cynnwys adolygadwy</a> wedi'i alluogi, yn union cyn i werth yr elfen newid. Mae'r digwyddiad yn caniatáu i apiau gwe ddiystyru ymddygiad rhagosodedig y porwr ar gyfer rhyngweithio â defnyddwyr, e.e., gall apiau gwe ddiddymu mewnbwn defnyddiwr yn unig ar gyfer nodau penodol neu gallan nhw addasu gludo testun â steil yn unig gydag arddulliau cymeradwy.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = Mae ychwanegu adeiladwr at y rhyngwyneb <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> yn ogystal ag amrywiaeth o newidiadau cysylltiedig yn ei gwneud hi'n bosibl creu taflenni arddull newydd yn uniongyrchol heb orfod ychwanegu'r ddalen at yr HTML. Mae hyn yn ei gwneud hi'n llawer haws creu taflenni arddull y mae modd eu hailddefnyddio i'w defnyddio gyda <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Gweler <a data-l10n-name="bugzilla">bug 1520690</a> am fwy o fanylion.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-session-api =
    .label = Web API: Media Session API
experimental-features-media-session-api-description = Ar hyn o bryd mae gweithrediad cyfan { -brand-short-name } yr Media Session API yn arbrofol. Defnyddir yr API hwn i addasu'r broses o drin hysbysiadau sy'n gysylltiedig â'r cyfryngau, i reoli digwyddiadau a data sy'n ddefnyddiol ar gyfer cyflwyno rhyngwyneb defnyddiwr ar gyfer rheoli chwarae cyfryngau, ac i gael metadata ffeiliau cyfryngau. Gweler <a data-l10n-name="bugzilla">bug 1112032</a> am fwy o fanylion.
experimental-features-devtools-color-scheme-simulation =
    .label = Developer Tools: Color Scheme Simulation
experimental-features-devtools-color-scheme-simulation-description = Yn ychwanegu opsiwn i efelychu gwahanol gynlluniau lliw sy'n eich galluogi i brofi <a data-l10n-name="mdn-preferscolorscheme">@prefers-color-scheme</a> ymholiadau cyfryngau. Mae defnyddio'r ymholiad cyfryngau hwn yn caniatáu i'ch taflen arddull ymateb i p'un a yw'n well gan y defnyddiwr ryngwyneb defnyddiwr ysgafn neu dywyll. Mae'r nodwedd hon yn caniatáu ichi brofi'ch cod heb orfod newid gosodiadau yn eich porwr (neu system weithredu, os yw'r porwr yn dilyn gosodiad cynllun lliw ar draws y system). Gweler <a data-l10n-name="bugzilla1">bug 1550804</a> a <a data-l10n-name="bugzilla2">bug 1137699</a> am fwy o fanylion.
experimental-features-devtools-execution-context-selector =
    .label = Developer Tools: Execution Context Selector
experimental-features-devtools-execution-context-selector-description = Mae'r nodwedd hon yn dangos botwm ar linell orchymyn y consol sy'n caniatáu i chi newid y cyd-destun y gweithredir yr ymadrodd a nodwch ynddo. Gweler <a data-l10n-name="bugzilla1">bug 1605154</a> a <a data-l10n-name="bugzilla2">bug 1605153</a> am fwy o fanylion.
experimental-features-devtools-compatibility-panel =
    .label = Developer Tools: Compatibility Panel
experimental-features-devtools-compatibility-panel-description = Panel ochr ar gyfer yr Arolygydd Tudalen sy'n dangos gwybodaeth i chi sy'n manylu ar statws cydnawsedd traws-borwr eich ap. Gweler <a data-l10n-name="bugzilla">bug 1584464</a> am fwy o fanylion.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cwcis: SameSite=Lax by default
experimental-features-cookie-samesite-lax-by-default2-description = Trin cwcis fel “SameSite = Lax” by default os nad oes priodoledd “SameSite” wedi'i nodi. Rhaid i ddatblygwyr ddewis y cyflwr cyfredol o ddefnydd anghyfyngedig trwy ddewis yn benodol “SameSite = None”.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cwcis: mae SameSite=none angen priodoledd ddiogel
experimental-features-cookie-samesite-none-requires-secure2-description = Mae cwcis â phriodoledd “SameSite=None” angen y briodoledd ddiogel. Mae'r nodwedd hon yn gofyn am “Cookies: SameSite=Lax by default”.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = about:home startup cache
experimental-features-abouthome-startup-cache-description = Storfa ar gyfer y ddogfen gychwynnol about:home sy'n cael ei llwytho yn ragosodedig wrth gychwyn. Pwrpas y storfa yw gwella perfformiad cychwyn.
experimental-features-print-preview-tab-modal =
    .label = Ailgynllunio'r Rhagolwg Argraffu
experimental-features-print-preview-tab-modal-description = Mae rhagolwg argraffu wedi'i ailgynllunio ac yn cynnig rhagolwg argraffu ar y macOS. Gall hyn o bosibl gyflwyno toriadau ac nid yw'n cynnwys yr holl osodiadau sy'n gysylltiedig ag argraffu. I gael mynediad at yr holl osodiadau sy'n gysylltiedig ag argraffu, dewiswch "Argraffu gan ddefnyddio deialog y system..." o fewn y panel Argraffu.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Trin cwcis o'r un parth, ond gyda gwahanol gynlluniau (e.e. http://example.com a https://example.com) fel traws-gwefan yn lle'r un wefan. Yn gwella diogelwch, ond o bosibl yn cyflwyno toriadau.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Developer Tools: Service Worker debugging
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Yn galluogi cefnogaeth arbrofol i Weithwyr Gwasanaeth yn y panel Dadfygiwr. Efallai y bydd y nodwedd hon yn arafu'r Offer Datblygwr ac yn cynyddu'r defnydd o gof.
# Desktop zooming experiment
experimental-features-graphics-desktop-zooming =
    .label = Graffeg: Chwyddo Pinsio Llyfn
experimental-features-graphics-desktop-zooming-description = Galluogi cefnogaeth i binsio llyfn chwyddo ar sgriniau cyffwrdd a phadiau cyffwrdd manwl gywir.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = Toglau Tewi WebRTC Cyffredinol
experimental-features-webrtc-global-mute-toggles-description = Ychwanegwch ffyrdd o reoli dangosydd rhannu WebRTC i gyd sy'n caniatáu i ddefnyddwyr dewi eu llif meicroffon a chamera.
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Galluogi Warp, project i wella perfformiad JavaScript a defnydd o'r cof.
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (Ynysu Gwefan)
experimental-features-fission-description = Mae Fission (ynysu gwefan) yn nodwedd arbrofol yn { -brand-short-name } er mwyn darparu haen ychwanegol o ddiogelwch yn erbyn bygiau diogelwch. Trwy ynysu pob gwefan i broses ar wahân, mae Fission yn ei gwneud hi'n anoddach i wefannau maleisus gael mynediad at wybodaeth o dudalennau eraill rydych chi'n ymweld â nhw. Mae hwn yn newid pensaernïol mawr yn { -brand-short-name } ac rydym yn gwerthfawrogi eich bod yn profi ac yn adrodd am unrhyw faterion y gallech ddod ar eu traws. Am fwy o fanylion, darllenwch <a data-l10n-name="wiki">y wiki</a>.
