# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Acerca de tus derechos
rights-intro = { -brand-full-name } es software libre y de código abierto, creado por una comunidad de miles de personas a lo largo del mundo. Hay algunas cosas que debe saber:
rights-intro-point-1 = { -brand-short-name } está disponible bajo los términos de la <a data-l10n-name="mozilla-public-license-link">Licencia Pública de Mozilla (MPL)</a>. Esto significa que puede usar, copiar y compartir { -brand-short-name } con otras personas. También tiene la posibilidad de modificar el código fuente de { -brand-short-name } como desee a fin de que éste se ajuste a sus necesidades. La Licencia Pública de Mozilla también le otorga el derecho a distribuir esas versiones modificadas.
rights-intro-point-2 = No se le ha concedido ningún derecho de marca o licencia sobre las marcas registradas de la fundación Mozilla o cualquier parte, incluyendo sin limitaciones el nombre y logo de Firefox. Puede encontrar información adicional sobre las marcas registradas <a data-l10n-name="mozilla-trademarks-link">aquí</a>.
rights-intro-point-3 = Algunas características de { -brand-short-name }, como el informe de errores, dan la oportunidad de dar sus comentarios a { -vendor-short-name }. Al elegir enviar sus comentarios, le da permiso a { -vendor-short-name } para usar esa opinión para mejorar sus productos, publicarla en sus sitios web y distribuirla.
rights-intro-point-4 = Como usaremos su información personal y los comentarios enviados a  { -vendor-short-name } a través de { -brand-short-name } se describen en la <a data-l10n-name="mozilla-privacy-policy-link">política de privacidad de { -brand-short-name }</a>.
rights-intro-point-4-unbranded = Cualquier política de privacidad aplicable a este producto debe aparecer aquí.
rights-intro-point-5 = Algunas características de { -brand-short-name } hacen uso de servicios de información basados en la web, sin embargo, no podemos garantizar que sean 100 % exactas o libres de errores. Más detalles, incluyendo información sobre como deshabilitar las características que usan estos servicios, pueden encontrarse en los <a data-l10n-name="mozilla-service-terms-link">términos del servicio</a>.
rights-intro-point-5-unbranded = Si este producto incorpora servicios web, cualquier término de servicio aplicable para los servicios debe ser enlazado a la sección de <a data-l10n-name="mozilla-website-services-link">Servicios del sitio web</a> sección.
rights-intro-point-6 = Para poder reproducir ciertos tipos de contenidos en video, { -brand-short-name } descarga ciertos módulos de desencriptación de contenidos de terceros.
rights-webservices-header = Servicios de información basados en web de { -brand-full-name }
rights-webservices = { -brand-full-name } usa servicios de información basados en la web ("Servicios") para proveer algunas de las características que puede usar en esta versión binaria de { -brand-short-name } bajo los términos descriptos debajo. Si no desea usar alguno de los servicios o los términos no son aceptables, puede deshabilitar las características o servicio(s). Las instrucciones sobre como deshabilitar una característica o servicio en particular pueden encontrarse <a data-l10n-name="mozilla-disable-service-link">aquí</a>. Otras características y Servicios pueden ser desactivados en las preferencias de la aplicación.
rights-safebrowsing = <strong>Navegación segura: </strong>No se recomienda deshabilitar la navegación segura porque puede resultar en la visita a sitios inseguros.  Si desea dehabilitar esta característica por completo, siga estos pasos:
rights-safebrowsing-term-1 = Abrir las preferencias de la aplicación
rights-safebrowsing-term-2 = Seleccionar la pestaña Seguridad
rights-safebrowsing-term-3 = Desmarque la opción para "{ enableSafeBrowsing-label }"
enableSafeBrowsing-label = Bloquear contenido peligroso y fraudulento
rights-safebrowsing-term-4 = La navegación segura ahora está deshabilitada
rights-locationawarebrowsing = <strong>Navegación basada en ubicación: </strong>siempre es opcional.  Nunca se envía información de ubicación sin su permiso.  Si desea deshabilitar esta característica por completo, siga estos pasos:
rights-locationawarebrowsing-term-1 = En la barra de direcciones ingrese <code>about:config</code>
rights-locationawarebrowsing-term-2 = Ingrese geo.enabled
rights-locationawarebrowsing-term-3 = Haz doble clic en la preferencia geo.enabled
rights-locationawarebrowsing-term-4 = La navegación basada en ubicación ahora está deshabilitada
rights-webservices-unbranded = Aquí debe incluirse un resumen de los servicios de sitios web que el producto incorpora, junto con instrucciones de cómo deshabilitarlos.
rights-webservices-term-unbranded = Aquí se deberán indicar los términos de servicio de este producto.
rights-webservices-term-1 = { -vendor-short-name } y sus colaboradores, licenciatarios y socios trabajan para proveer los servicios más actualizados y libres de errores. Por ejemplo, el servicio de navegación segura puede no identificar algunos sitios riesgosos y puede identificar algunos sitios seguros por error y en el servicio de Location Aware, todas las ubicaciones devueltas por los proveedores del servicio son estimadas y ni nosotros ni el proveedor del servicio garantizan la exactitud de los lugares previstos.
rights-webservices-term-2 = { -vendor-short-name } puede discontinuar o cambiar los servicios según considere oportuno.
rights-webservices-term-3 = Puede usar estos servicios con esta versión de { -brand-short-name }, y { -vendor-short-name } le da los derechos para hacerlo. { -vendor-short-name } y sus licenciatarios se reservan todos los demás derechos en cuanto a los servicios. Estos términos no tienen la intención de limitar ningún derecho otorgado por una licencia de código abierto aplicable a { -brand-short-name } y las versiones correspondientes en base al código de { -brand-short-name }.
rights-webservices-term-4 = <strong>Los servicios son ofrecidos "tal como está."  { -vendor-short-name }, sus contribuyentes, licenciatarios y distribuidores rechazan toda clase de garantía, explícita o implícita, incluidas, sin perjuicio de lo antes mencionado, las garantías de que el servicio es comercializable y que cumple con sus necesidades particulares. Usted acepta el riesgo que implica seleccionar este servicio para su propósito así como a la calidad y el desempeño del servicio. Algunas jurisdicciones no permiten la exclusión o limitación de las garantías implícitas, por lo tanto, esta exención de responsabilidad puede no ser aplicable en su caso.</strong>
rights-webservices-term-5 = <strong>Excepto cuando sea obligatorio ante la Ley, { -vendor-short-name }, sus contribuyentes, licenciatarios y distribuidores no podrán ser responsables por ningún daño o perjuicio indirecto, especial, incidental, resultante, punitivo o ejemplar relacionado con el uso de { -brand-short-name } y los servicios. La responsabilidad colectiva bajo estos términos no podrá exceder los U$S500 (quinientos dólares estadounidenses). Algunas jurisdicciones no permiten la exclusión o limitación de ciertos daños, Por consiguiente que esta exclusión y limitación puede no ser aplicable en su caso.</strong>
rights-webservices-term-6 = { -vendor-short-name } puede actualizar estos términos según sea necesario de vez en cuando. Estos términos no pueden ser modificados o cancelados sin el consentimiento por escrito de { -vendor-short-name }.
rights-webservices-term-7 = Estos términos están regidos por las leyes del estado de California, EE.UU., excluyendo sus conflictos con otras estipulaciones de la ley. Si cualquier sección de estos términos no es válida o aplicable, las secciones restantes continuarán teniendo plena vigencia. En caso de existir un conflicto entre una versión traducida de estos términos y la versión en idioma inglés, la versión en inglés será la que tendrá validez.
