# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = In oar apparaat ferbine
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Ynstallearje <a data-l10n-name="connect-another-device">Firefox op jo mobile apparaat</a> as jo dat noch net dien hawwe.
fxa-qrcode-heading-phase2 = 2. Meld jo oan by { -sync-brand-short-name }, of scan yn Android de keppelingskoade fan de ynstellingen fan { -sync-brand-short-name } út.
fxa-qrcode-heading-step1 = 1. Ynstallearje <a data-l10n-name="connect-another-device">Firefox op jo mobile apparaat</a> as jo dat noch net dien hawwe.
fxa-qrcode-heading-step2 = 2. Iepenje Firefox op jo mobile apparaat.
fxa-qrcode-heading-step3 = 3. Iepenje it <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> of <img data-l10n-name="android-menu-icon"/>), tik op <img data-l10n-name="settings-icon"/> <b>Ynstellingen</b></b> en selektearje <b>Sync ynskeakelje</b>
fxa-qrcode-heading-step4 = 4. Scan dizze koade:
fxa-qrcode-error-title = Keppeljen mislearre.
fxa-qrcode-error-body = Probearje it opnij.
