# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = เชื่อมต่ออุปกรณ์อื่น
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. ติดตั้ง <a data-l10n-name="connect-another-device">Firefox บนอุปกรณ์มือถือของคุณ</a>หากคุณยังไม่ได้ติดตั้ง
fxa-qrcode-heading-phase2 = 2. จากนั้นลงชื่อเข้า { -sync-brand-short-name } หรือบน Android ให้สแกนโค้ดการจับคู่จากภายในการตั้งค่า { -sync-brand-short-name }
fxa-qrcode-heading-step1 = 1. ติดตั้ง <a data-l10n-name="connect-another-device">Firefox บนอุปกรณ์มือถือของคุณ</a>หากคุณยังไม่ได้ติดตั้ง
fxa-qrcode-heading-step2 = 2. เปิด Firefox บนอุปกรณ์มือถือของคุณ
fxa-qrcode-heading-step3 = 3. เปิด<b>เมนู</b> (<img data-l10n-name="ios-menu-icon"/> หรือ <img data-l10n-name="android-menu-icon"/>) แตะ <img data-l10n-name="settings-icon"/> <b>การตั้งค่า</b> แล้วเลือก <b>เปิด Sync</b>
fxa-qrcode-heading-step4 = 4. สแกนรหัสนี้:
fxa-qrcode-error-title = การจับคู่ไม่สำเร็จ
fxa-qrcode-error-body = ลองอีกครั้ง
