# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Ulac tuqqna taɣelsant
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Tettinigeḍ deg uskar HTTPS kan, yerna lqem n HTTPS aɣelsan n <em>{ $websiteUrl }</em> ulac.
about-httpsonly-insecure-explanation-reasons = Ahat, asmel web ur isefrak ara HTTPS, maca yezmer lḥal amaker ad isewḥel lqem HTTPS.
about-httpsonly-insecure-explanation-exception = Γas akken ugur n tɣellist yenqes aṭas, ma yella tenwiḍ ad terzuḍ ɣer lqem HTTP n usmel web, ur ilaq ara ad teskecmeḍ kra seg talɣut tabaḍnit am wawalen uffiren, imaylen neɣ ttfaṣil n tkarḍa n usellek.
about-httpsonly-button-make-exception = Qbel ugur syen kemmel ɣef usmel
about-httpsonly-title = { -brand-short-name } Yufa-d yezmer ad yili wugur n tɣellist
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = Tettinigeḍ deg uskar HTTPS kan, yerna lqem n HTTPS aɣelsan n <em>{ $websiteUrl }</em> ulac-it.
about-httpsonly-title-alert = Alɣu n uskar HTTPS-Only
about-httpsonly-title-connection-not-available = Ulac tuqqna taɣellsant
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Tremdeḍ askarHTTPS-Only  i tɣellist ifazen, yerna ulac lqem n HTTPS n { $websiteUrl }.
about-httpsonly-explanation-question = D acu i d-yeglan s wugur-a?
about-httpsonly-explanation-nosupport = Ahat, asmel web ur isefrak ara s sshala HTTPS.
about-httpsonly-explanation-risk = Yezmer daɣen yella uẓeddam yettekkan. Ma yella tenwiḍ ad terzuḍ ɣer usmel web, ur ilaq ara ad teskecmeḍ kra seg talɣut tabaḍnit am wawalen uffiren, imaylen neɣ ttfaṣil n tkarḍa n usellek.
about-httpsonly-button-accept-and-continue = Qbel ugur, tkemmleḍ
about-httpsonly-explanation-continue = Ma tkemmleḍ, askar HTTPS-Only ad yettwasens i kra n wakud i usmel-a.
about-httpsonly-button-continue-to-site = Kemmel ɣer usmel HTTP
about-httpsonly-button-go-back = Uɣal ɣer deffir
about-httpsonly-link-learn-more = Issin ugar…
