# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Připojit další zařízení
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Pokud jste tak ještě neučinili, <a data-l10n-name="connect-another-device">nainstalujte si Firefox na své mobilní zařízení</a>.
fxa-qrcode-heading-phase2 = 2. Následně se přihlaste k { -sync-brand-short-name(case: "dat") }, nebo v Androidu naskenujte párovací kód z nastavení { -sync-brand-short-name(case: "dat") }.
fxa-qrcode-heading-step1 = 1. Pokud jste tak ještě neučinili, <a data-l10n-name="connect-another-device">nainstalujte si Firefox na své mobilní zařízení</a>.
fxa-qrcode-heading-step2 = 2. Otevřete Firefox na svém mobilním zařízení.
fxa-qrcode-heading-step3 = 3. Otevřete <b>nabídku</b> (<img data-l10n-name="ios-menu-icon"/> nebo <img data-l10n-name="android-menu-icon"/>), v ní vyberte <img data-l10n-name="settings-icon"/> <b>Nastavení</b> a <b>Zapnout synchronizaci</b>
fxa-qrcode-heading-step4 = 4. Naskenujte tento kód:
fxa-qrcode-error-title = Párování se nezdařilo.
fxa-qrcode-error-body = Zkuste to znovu.
