# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = A prepaus de Glean
about-glean-description = Lo <a data-l10n-name="glean-sdk-doc-link">SDK Glean</a> es una bibliotèca de collecta de donadas utilizada dins los produits Mozilla. Aqueste pagina es pels desvolopaires e provaires que requièron de <a data-l10n-name="fog-debug-doc-link">configurar l’estat de desbogatge e de jornalizacion dins le SDK Glean</a>.
about-glean-warning = Una marrida utilizacion d’aquesta interfàcia pòt copar { -brand-short-name }.
tag-pings-label = Etiquetar totes los pings enviats amb aquesta apelacion
log-pings-label = Enregistrar la cargar bruta del ping abans mandadís ?
send-pings-label = Enviar lo ping nomenat
controls-button-label = Enviar los paramètres
