# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Connexion segura indisponibla
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Vòstre navegador es en mòde HTTPS-Only e cap de version de HTTPS securizada de <em>{ $websiteUrl }</em> es pas disponibla.
about-httpsonly-insecure-explanation-reasons = Probable que lo site web prend pas en carga HTTPS mas es tanben possible qu’una atacaire bloque la version HTTPS.
about-httpsonly-insecure-explanation-exception = Malgrat que lo risc de seguretat siá bas, se decidissètz de visitar la version HTTP del site web, val mai evitar de dintrar d’informacions sensiblas coma de senhals, adreças electronicas o de cartas bancàrias.
about-httpsonly-button-make-exception = Acceptar lo risc e contunhar sul site
about-httpsonly-title = { -brand-short-name } a detectat un problèma de seguretat potencial
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = Vòstre navegador es en mòde HTTPS-Only e cap de version de HTTPS securizada de <em>{ $websiteUrl }</em> es pas disponibla.
about-httpsonly-title-alert = Alèrta mòde HTTPS solament
about-httpsonly-title-connection-not-available = Connexion segura pas disponibla
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Avètz activat lo mòde HTTPS solament e cap de version de HTTPS de <em>{ $websiteUrl } es pas disponibla.
about-httpsonly-explanation-question = Qué poiriá èsser la causa ?
about-httpsonly-explanation-nosupport = Fòrt probablament lo site web pren simplament pas en carga lo HTTPS.
about-httpsonly-explanation-risk = Es tanben possible qu’un malfactor siá implicat, se decidissètz de visitar lo site web, val mai evitar de dintrar d’informacions sensiblas coma de senhals, adreças electronicas o de cartas bancàrias.
about-httpsonly-button-accept-and-continue = Acceptar lo risc e contunhar
about-httpsonly-explanation-continue = Se contunhatz, lo mòde HTTPS solament serà desactivat temporàriament per aqueste site.
about-httpsonly-button-continue-to-site = Contunhar cap al site HTTP
about-httpsonly-button-go-back = Tornar
about-httpsonly-link-learn-more = Ne saber mai…
