# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Басқа құрылғыны байланыстыру
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Әлі жасамасаңыз, <a data-l10n-name="connect-another-device">мобильді құрылғыңызда Firefox-ты орнатыңыз</a>.
fxa-qrcode-heading-phase2 = 2. Одан кейін { -sync-brand-short-name } ішіне кіріңіз, немесе Android-та { -sync-brand-short-name } ішінен жұптау кодын сканерлеңіз.
fxa-qrcode-heading-step1 = 1. Әлі жасамасаңыз, <a data-l10n-name="connect-another-device">мобильді құрылғыңызда Firefox орнатыңыз</a>.
fxa-qrcode-heading-step2 = 2. Мобильді құрылғыңызда Firefox ашыңыз.
fxa-qrcode-heading-step3 = 3. <b>Мәзірді</b> ашып, (<img data-l10n-name="ios-menu-icon"/> немесе <img data-l10n-name="android-menu-icon"/>), <img data-l10n-name="settings-icon"/> <b>Баптаулар</b> басыңыз және <b>Синхрондауды іске қосу</b> таңдаңыз
fxa-qrcode-heading-step4 = 4. Кодты сканерлеңіз:
fxa-qrcode-error-title = Жұптау сәтсіз аяқталды.
fxa-qrcode-error-body = Қайтадан көру.
