# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Man Okel ta ri Jikïl Ütz Okem
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Atokinäq pa k'amaya'l xa xe pa rub'eyal HTTPS, chuqa' jun jikïl HTTPS ruwäch <em>{ $websiteUrl }</em> man wachel ta.
about-httpsonly-insecure-explanation-reasons = Rik'in jub'a' chi ri ajk'amaya'l ruxaq man nuk'äm ta ri' rik'in ri HTTPS, po rik'in jub'a' chuqa' xa jun ojqanel niq'aton ri HTTPS ruwäch.
about-httpsonly-insecure-explanation-exception = Qitzij chi ri ruk'ayewal jikomal qajinäq ok, we nana'ojij natz'ët ri HTTP ruwäch ajk'amaya'l ruxaq, k' chi man natz'ib'aj ta majun awetamab'al, achi'el ewan taq tzij, ataqoya'l o retal rutarjeta akredito.
about-httpsonly-button-make-exception = Xinwetamaj ri K'ayewal chuqa' Tinsamajij el ri Ruxaq
about-httpsonly-title = { -brand-short-name } Xril jun Nïm Ruk'ayewal Chajinïk
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = Atokinäq pa k'amaya'l xa xe pa rub'eyal HTTPS, chuqa' jun jikïl HTTPS ruwäch <em>{ $websiteUrl }</em> man wachel ta.
about-httpsonly-title-alert = Rutzijol K'ayewal pa HTTPS-Only B'anikil
about-httpsonly-title-connection-not-available = Man Okel ta ri Jikïl Okem
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Xatzïj ri HTTPS-Only Rub'anikil richin nutziläx ri jikomal chuqa' jun HTTPS ruwäch <em>{ $websiteUrl }</em> man wachel ta.
about-httpsonly-explanation-question = ¿Achike ta k'a ri nib'ano re'?
about-httpsonly-explanation-nosupport = Rik'in jub'a' chi ri ajk'amaya'l ruxaq xa man nuk'äm ta ri' rik'in ri HTTPS.
about-httpsonly-explanation-risk = Chuqa' rik'in jub'a' nisamäj jun aj ojqanel. We nab'ij chi natz'ët ri ajk'amaya'l ruxaq, k'o chi man natz'ib'aj ta awetamab'al xa xe awichin achi'el, ewan taq tzij, taqoya'l chuqa' retal credit card.
about-httpsonly-button-accept-and-continue = Xinwetamaj ri K'ayewal chuqa' Tinsamajij el
about-httpsonly-explanation-continue = We k'a nasamajij na, HTTPS-Only Rub'anikil xtichup jutimej pa re ruxaq re'.
about-httpsonly-button-continue-to-site = Tik'oje' na pa HTTP Ruxaq
about-httpsonly-button-go-back = Titzolin
about-httpsonly-link-learn-more = Tetamäx ch'aqa' chik…
