# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = Etamab'äl richin yesol taq k'ayewal
page-subtitle =   Pa re ruxaq re' k'o samajel etamab'äl chupam, ri nito'on we nawajo' nasöl jun k'ayewal. Richin nawïl kitzijol relik taq k'utunïk chi rij { -brand-short-name }, kab'etz'eton pa qa <a data-l10n-name="support-link">ruxaq k'amaya'l richin to'ïk</a>.
crashes-title = Rutzijol taq sachoj
crashes-id = Nimaläj rub'i' ri rutzijol
crashes-send-date = Taqon
crashes-all-reports = Konojel ri taq rutzijol sachoj
crashes-no-config = Re samajel re' man nuk'un ta richin yeruk'üt pe taq rutzijol sachoj.
extensions-title = Taq k'amal
extensions-name = B'i'aj
extensions-enabled = Tzijon
extensions-version = Ruwäch
extensions-id = ID
support-addons-title = Taq tz'aqat
support-addons-name = B'i'aj
support-addons-type = Ruwäch
support-addons-enabled = Tzijon
support-addons-version = Ruwäch
support-addons-id = ID
security-software-title = Software de seguridad
security-software-type = Ruwäch
security-software-name = B'i'aj
security-software-antivirus = Chapöy chikopil
security-software-antispyware = Chapöy nachanel
security-software-firewall = Chupuq'aq'
features-title = { -brand-short-name } Taq rub'anikil
features-name = B'i'aj
features-version = Ruwäch
features-id = ID
processes-title = Näj taq Tajin
processes-type = Ruwäch
processes-count = Ajilab'äl
app-basics-title = Ri najowäx richin runuk'ulem ri chokoy
app-basics-name = B'i'aj
app-basics-version = Ruwäch
app-basics-build-id = Nimaläj rub'i' molïk
app-basics-distribution-id = Jachonïk ID
app-basics-update-channel = Rub'ey taq k'exoj ruwäch
# This message refers to the folder used to store updates on the device,
# as in "Folder for updates". "Update" is a noun, not a verb.
app-basics-update-dir =
    { PLATFORM() ->
        [linux] Rucholajem K'exoj
       *[other] Rumolb'al K'exoj
    }
app-basics-update-history = Kinatab'al taq k'exoj ruwäch
app-basics-show-update-history = Tik'ut Kinatab'al taq K'exoj
# Represents the path to the binary used to start the application.
app-basics-binary = Ruwinari Chokoy
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] Rucholb'äl Ruwäch B'i'aj
       *[other] Rumolwuj Ruwäch B'i'aj
    }
app-basics-enabled-plugins = Tzijon taq nak'ab'äl
app-basics-build-config = Runuk'ulem Molïk
app-basics-user-agent = Rub'anel ri winäq
app-basics-os = OS
app-basics-memory-use = Rokisaxik rupam rujolom
app-basics-performance = Rub'eyal nisamäj
app-basics-service-workers = Samajela' pa samaj tz'ib'an kib'i'
app-basics-profiles = Taq ruwäch b'i'aj
app-basics-launcher-process-status = Rub'anik K'aqonel
app-basics-multi-process-support = Rutzuwach k'ïy tajin
app-basics-fission-support = Fission Windows
app-basics-remote-processes-count = Näj taq Tajin
app-basics-enterprise-policies = Ajk'aymolojel taq Na'ojil
app-basics-location-service-key-google = Google K'ojlib'äl Ewan Rutzij Samaj
app-basics-safebrowsing-key-google = Google Safebrowsing Key
app-basics-key-mozilla = Mozilla k'ojlib'äl ewan rutzij samaj
app-basics-safe-mode = Ütz rub'anikil
show-dir-label =
    { PLATFORM() ->
        [macos] Tik'ut pe pan ilonel
        [windows] Tijaq yakwuj
       *[other] Tijaq ri cholb'äl
    }
environment-variables-title = Ruk'ojlib'al Jalb'äl
environment-variables-name = B'i'aj
environment-variables-value = Retal
experimental-features-title = Soltojtob'enel taq Rub'anikil
experimental-features-name = B'i'aj
experimental-features-value = Retal
modified-key-prefs-title = K'exon nimaläj taq ajowanïk
modified-prefs-name = B'i'aj
modified-prefs-value = Retal
user-js-title = taq Ajowanïk pa user.js
user-js-description = Ri amolyakb'äl ruwäch b'i'aj k'o jun <a data-l10n-name="user-js-link">archivo user.js</a> chupam, ri rachib'ilan taq ajowanïk man enuk'un ta ruma ri { -brand-short-name }.
locked-key-prefs-title = Q'eleb'en kisamaj ri nimaläj taq ajowanïk
locked-prefs-name = B'i'aj
locked-prefs-value = Retal
graphics-title = Taq wachib'äl
graphics-features-title = Taq b'anikil
graphics-diagnostics-title = Nik'oxïk
graphics-failure-log-title = Majun taq tz'ib'anïk
graphics-gpu1-title = GPU #1
graphics-gpu2-title = GPU #2
graphics-decision-log-title = Runa'oj tz'ib'anïk
graphics-crash-guards-title = Tzaqoj Chajïy q'ajon taq b'anikil
graphics-workarounds-title = Tz'aqat taq soloj
# Windowing system in use on Linux (e.g. X11, Wayland).
graphics-window-protocol = Rub'eyal Tzuwäch
# Desktop environment in use on Linux (e.g. GNOME, KDE, XFCE, etc).
graphics-desktop-environment = Ruk'ojlib'al Ajkematz'ib'
place-database-title = Taq kik'ojlem cholxe'el tzij
place-database-integrity = Ch'ajch'ojri'ïl
place-database-verify-integrity = Tinik'öx ch'ajch'ojri'ïl
a11y-title = Okel
a11y-activated = Tzijïl
a11y-force-disabled = Tichajïx apo ri okel
a11y-handler-used = Handler Etz'ab'al Okisan
a11y-instantiator = Okem Chanin
library-version-title = Taq ruwäch richin wujb'äl
copy-text-to-clipboard-label = Tiwachib'ëx ri rucholajem tzij pa molwuj
copy-raw-data-to-clipboard-label = Kewachib'ëx kikuta'm taq tzij pa molwuj
sandbox-title = Tzayanib'äl
sandbox-sys-call-log-title = Xutun ri kiq'inoj taq oyonïk
sandbox-sys-call-index = #
sandbox-sys-call-age = K'a jujun nich'ramaj
sandbox-sys-call-pid = PID
sandbox-sys-call-tid = TID
sandbox-sys-call-proc-type = Ruwa tajinïk
sandbox-sys-call-number = Syscall
sandbox-sys-call-args = Taq rutzijol
safe-mode-title = Titojtob'ëx ütz rub'anikil
restart-in-safe-mode-label = Titikirisäx chik kik'in ri chupül taq tz'aqat…
clear-startup-cache-title = Titojtob'ëx niyuj ri rujumej ruyakoj tikirib'äl
clear-startup-cache-label = Tiyuj rujumejyak tikirib'äl…
startup-cache-dialog-title = Tiyuj rujumejyak tikirib'äl
startup-cache-dialog-body = Titikirisäx chik { -brand-short-name } richin niyuj ri rujumej ruyakoj tikirib'äl. Re re' man xtujäl ta ri anuk'ulem chuqa' man xkeruyüj ta ri taq k'amal e'atz'aqatisan pa { -brand-short-name }.
restart-button-label = Titikirisäx chik

## Media titles

audio-backend = Q'ojom Backend
max-audio-channels = Nima'q taq b'ey
sample-rate = Ajowan Q'ijun Tz'etb'äl
roundtrip-latency = Rulatensya b'enam chuqa' tzolojnem (junaman jech'unïk)
media-title = K'ïy k'oxom
media-output-devices-title = Elem taq Okisaxel
media-input-devices-title = Okib'äl taq Okisaxel
media-device-name = B'i'aj
media-device-group = Molaj
media-device-vendor = K'ayinel
media-device-state = Amaq'
media-device-preferred = Ichinanel
media-device-format = B'anikil
media-device-channels = Taq b'ey
media-device-rate = Rajil
media-device-latency = Rub'anikil k'o wi
media-capabilities-title = Kisamaj K'oxom
# List all the entries of the database.
media-capabilities-enumerate = Ticholajïx cholxe'el

##

intl-title = Elniminïk & Tzalq'omanri'ïl
intl-app-title = Kinuk'ulem Chokoy
intl-locales-requested = K'utun taq Tzalq'omanïk
intl-locales-available = Wachel taq Tzalq'omanïk
intl-locales-supported = Kitzaq'omanik Cholkema'
intl-locales-default = Tzalq'omanïk kan k'o wi
intl-os-title = Samajel taq Q'inoj
intl-os-prefs-system-locales = Kitzalq'omanik Q'inoj
intl-regional-prefs = Aj wawe' taq Ajowab'äl

## Remote Debugging
##
## The Firefox remote protocol provides low-level debugging interfaces
## used to inspect state and control execution of documents,
## browser instrumentation, user interaction simulation,
## and for subscribing to browser-internal events.
##
## See also https://firefox-source-docs.mozilla.org/remote/

remote-debugging-title = Näj Ruchojmirisanem (Chromium Rub'eyal Samaj)
remote-debugging-accepting-connections = Kek'ul taq okem
remote-debugging-url = URL

##

# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days =
    { $days ->
        [one] Kitzijol taq sachoj richin ri ruk'isib'äl { $days } q'ij
       *[other] Kitzijol taq sachoj kichin ri ruk'isib'äl { $days } taq q'ij
    }
# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes =
    { $minutes ->
        [one] tik'o { $minutes } ch'utiramaj
       *[other] tik'o { $minutes } taq ch'utiramaj
    }
# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours =
    { $hours ->
        [one] tik'o { $hours } ramaj
       *[other] tik'o { $hours } taq ramaj
    }
# Variables
# $days (integer) - Number of days since crash
crashes-time-days =
    { $days ->
        [one] tik'o { $days } q'ij
       *[other] tik'o { $days } taq q'ij
    }
# Variables
# $reports (integer) - Number of pending reports
pending-reports =
    { $reports ->
        [one] Konojel ri taq rutzijol sachoj (tz'aqatisan { $reports } oyob'en sachoj pa ri ramaj jikib'an)
       *[other] Konojel ri taq rutzijol samaj (tz'aqatisan { $reports } oyob'en taq sachoj pa ri ramaj jikib'an)
    }
raw-data-copied = Rukuta'm tzij wachib'en pa molwuj
text-copied = Rucholajem tzij wachib'en pa molwuj

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = Q'eleb'en rusamaj richin ri ruwäch awajchajinel wachib'alil.
blocked-gfx-card = Q'eleb'en kisamajixik ch'utiwuj awachib'alil ruma man esolon ta taq ruk'ayewal ri ajchajinel.
blocked-os-version = Q'eleb'en rusamaj richin ri ruwäch q'inoj asamaj.
blocked-mismatched-version = Q'aton ruma ri jaloj ruwäch awajchajinel wachib'äl chi kikojol ri rutz'ib'axik chuqa' ri DLL.
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = Q'eleb'en rusamaj richin ri ruwäch awajchajinel wachib'alil. Tatojtob'ej nak'ëx ri awajchajinel wachib'alil rik'in ri ruwäch { $driverVersion } o ri jun chik k'ak'a'.
# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = Taq ko'öl retab'al ClearType
compositing = Ch'akulan
hardware-h264 = Ch'akulakem H264 Relesaxik na'oj
main-thread-no-omtc = nimaläj b'akoj, majun OMTC
yes = Ja'
no = Manäq
unknown = Man etaman ta ruwäch
virtual-monitor-disp = Ruwa Tzuwäch Kemtzijil

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

found = Xrïl
missing = Sachon
gpu-process-pid = GPUProcessPid
gpu-process = GPUProcess
gpu-description = Tzijoxikil
gpu-vendor-id = ID k'ayinel
gpu-device-id = ID okisaxel
gpu-subsys-id = ID Subsys
gpu-drivers = K'alab'anela'
gpu-ram = RAM
gpu-driver-vendor = Ruk'ayinel Driver
gpu-driver-version = Ruwäch ri okisaxel
gpu-driver-date = Ruq'ijul ri okisaxel
gpu-active = Tzijïl
webgl1-wsiinfo = WebGL 1 WSI Info Chajinel
webgl1-renderer = WebGL 1 runuk'uwachinel chajinel
webgl1-version = WebGL 1 Ruwa chajinel
webgl1-driver-extensions = WebGL 1 taq ruk'amal chajinel
webgl1-extensions = WebGL 1 K'amal
webgl2-wsiinfo = WebGL 1 WSI Info chajinel
webgl2-renderer = WebGL 2 runuk'uwachinel chajinel
webgl2-version = WebGL 2 Ruwa chajinel
webgl2-driver-extensions = WebGL 2 taq ruk'amal chajinel
webgl2-extensions = WebGL 2 taq ruk'amal
blocklisted-bug = Ri q'ëq cholb'äl ruma taq k'ayewal etaman kiwäch
# Variables
# $bugNumber (string) - String of bug number from Bugzilla
bug-link = sachoj { $bugNumber }
# Variables
#   $bugNumber (string) - Bug number on Bugzilla
support-blocklisted-bug = Pa ri rucholajem q'atoj ruma k'ayewal etaman kiwa: <a data-l10n-name="bug-link">{ $bugNumber }</a>
# Variables
# $failureCode (string) - String that can be searched in the source tree.
unknown-failure = Q'ëq cholb'äl: rub'itz'ib' sachoj { $failureCode }
d3d11layers-crash-guard = D3D11 Chojmirisanel
d3d11video-crash-guard = D3D11 Silowachib'äl ewanel rusik'ixik
d3d9video-crash-guard = D3D9 Silowachib'äl Ewanel rusik'ixik
glcontext-crash-guard = OpenGL
wmfvpxvideo-crash-guard = WMF VPX Silowachib'äl Ewanel Rusik'ixik
reset-on-next-restart = K'a xtitzolïx na ri Rutikirisaxik chik
gpu-process-kill-button = Tik'isb'ëx ri GPU Tajin
gpu-device-reset = Titzij chik Okisaxel
gpu-device-reset-button = Rutikirisaxik chik ri Rokisaxel Chuq'ub'äl
uses-tiling = Tokisäx Ch'utiwäch
content-uses-tiling = Tokisäx Ch'utiwäch (Rupam)
off-main-thread-paint-enabled = Off Nïm Rub'ey Rachwinäq Tzijon
off-main-thread-paint-worker-count = Off Main Thread Painting Worker Tajiläx
target-frame-rate = Retal Ruchi' Rub'ey:
min-lib-versions = Ch'uti'n ruwäch oyob'en
loaded-lib-versions = Ruwäch tajin nokisäx
has-seccomp-bpf = Seccomp-BPF (Ruq'inoj chayunel taq oyonïk)
has-seccomp-tsync = Ruximojri'ïl wachinel Seccomp
has-user-namespaces = Ruk'ojlemal kib'i' winäq
has-privileged-user-namespaces = Kik'ojlemal kib'i' winäq kichin ri taq tajin kichin wi
can-sandbox-content = Tzanayib'äl richin rusamajixik ruwäch taq rupam
can-sandbox-media = Tzanayib'äl kichin ri taq ruk'amal k'ïy k'oxom
content-sandbox-level = Rupam b'eyal Sandbox rupalem
effective-content-sandbox-level = Rupam b'eyal Sandbox ütz rupalem
sandbox-proc-type-content = rupam
sandbox-proc-type-file = rupam yakb'äl
sandbox-proc-type-media-plugin = q'ojom nak'ab'äl
sandbox-proc-type-data-decoder = sik'inel tzij
startup-cache-title = Rukache' Tikirib'äl
startup-cache-disk-cache-path = Rub'ey Rukache' Seteb'äl
startup-cache-ignore-disk-cache = Tirepüx Rukache' Seteb'äl
startup-cache-found-disk-cache-on-init = Rukache' Seteb'äl Xilitäj toq Xtikirisäx
startup-cache-wrote-to-disk-cache = Xtz'ib'äx chi re ri Rukache' Seteb'äl
launcher-process-status-0 = Tzijon
launcher-process-status-1 = Xchup ruma sachoj
launcher-process-status-2 = Xb'an chi xchup
launcher-process-status-unknown = Man etaman ta täq rub'anikil
# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }
multi-process-status-0 = Tzijon ruma ri winäq
multi-process-status-1 = Tzijon wi pe
multi-process-status-2 = Chupun
multi-process-status-4 = Chupun kuma ri taq samajib'äl richin okel
multi-process-status-6 = Xchuputäj ruma xatz'ib'aj rucholajem tzij ri man koch'el ta
multi-process-status-7 = Xchuputäj kuma ri taq tz'aqat
multi-process-status-8 = Xb'an chi xchup
multi-process-status-unknown = Man etaman ta rub'anikil
# Variables
# $fissionWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
fission-windows = { $fissionWindows }/{ $totalWindows }
fission-status-experiment-control = Xchup ruma ri tojtob'enel
fission-status-experiment-treatment = Xtzij ruma ri tojtob'enel
fission-status-disabled-by-e10s-env = Xchup ruma ri k'ojlib'äl
fission-status-enabled-by-env = Xtzij ruma ri k'ojlib'äl
fission-status-disabled-by-safe-mode = Xchup ruma ri jikïl b'anikil
fission-status-enabled-by-default = Xtzij wi pe
fission-status-disabled-by-default = Xchup wi pe
fission-status-enabled-by-user-pref = Xtzij ruma ri okisanel
fission-status-disabled-by-user-pref = Xchup ruma ri okisanel
fission-status-disabled-by-e10s-other = E10s chupun
async-pan-zoom = Asynchronous Pan/Zoom
apz-none = majun
wheel-enabled = xuya' q'ij xok ri seton
touch-enabled = chapoj richin nitzij ri okitz'ib'
drag-enabled = chupul ruqirirexik rukajtz'ik q'axanel
keyboard-enabled = tzijon pitz'b'äl
autoscroll-enabled = tzijon autoscroll
zooming-enabled = xtz'ij rusum eqal ch'opoj

## Variables
## $preferenceKey (string) - String ID of preference

wheel-warning = xchuputäj ri rokitz'ib' seton meximojri'ïl ruma chi ri pref man nuköch' ta: { $preferenceKey }
touch-warning = xchuputäj ri rokitz'ib' chapoj meximojri'ïl ruma chi ri pref man nuköch' ta: { $preferenceKey }

## Strings representing the status of the Enterprise Policies engine.

policies-inactive = Chupül
policies-active = Tzijïl
policies-error = Sachoj

## Printing section

support-printing-title = Nitz'ajb'äx
support-printing-troubleshoot = Kisolik taq k'ayewal
support-printing-clear-settings-button = Tiyuj kinuk'ulem yakon taq tz'ajb'anïk
support-printing-modified-settings = Kinuk'ulem jalon taq tz'ajb'anïk
support-printing-prefs-name = B'i'aj
support-printing-prefs-value = Retal
