# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Başka bir cihaz bağla
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = Firefox’u hâlâ mobil cihazınıza yüklemediyseniz <a data-l10n-name="connect-another-device">şimdi yükleyin</a>.
fxa-qrcode-heading-phase2 = Ardından { -sync-brand-short-name }’e giriş yapın veya Android kullanıyorsanız { -sync-brand-short-name } ayarlarına girip eşleştirme kodunu tarayın.
fxa-qrcode-heading-step1 = 1. Firefox’u henüz mobil cihazınıza yüklemediyseniz <a data-l10n-name="connect-another-device">şimdi yükleyin</a>.
fxa-qrcode-heading-step2 = 2. Mobil cihazınızda Firefox’u açın.
fxa-qrcode-heading-step3 = <b>Menüyü</b> (<img data-l10n-name="ios-menu-icon"/> veya <img data-l10n-name="android-menu-icon"/>) açın, <b>Ayarlar’a</b> <img data-l10n-name="settings-icon"/> dokunun ve <b>Sync’i aç</b>’ı seçin
fxa-qrcode-heading-step4 = 4. Bu kodu tarayın:
fxa-qrcode-error-title = Eşleştirme başarısız oldu.
fxa-qrcode-error-body = Yeniden deneyin.
