# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = მხარდაჭერილს გახდის საცდელ შესაძლებლობას სახელწოდებით CSS Masonry Layout. იხილეთ მაღალი დონის <a data-l10n-name="explainer">განმარტებითი</a> აღწერა, ამ შესაძლებლობის. უკუკავშირისთვის, გთხოვთ გამოხმაურება დატოვოთ <a data-l10n-name="w3c-issue">GitHub-ის ამ საკითხის</a> ან <a data-l10n-name="bug">ამ ხარვეზის</a> განხილვაში.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = ახალი API უზრუნველყოფს დაბალი დონის მხარდაჭერას გამოთვლისა და გრაფიკული გამოსახვისთვის, <a data-l10n-name="wikipedia">ვიდეო პროცესორის (GPU)</a> გამოყენებით, მომხმარებლის მოწყობილობიდან. <a data-l10n-name="spec">მახასიათებლები</a> ჯერ კიდევ მუშავდება. ვრცლად, იხილეთ <a data-l10n-name="bugzilla">ხარვეზი 1602129</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Media: AVIF
experimental-features-media-avif-description = ამ შესაძლებლობის ჩართვით, { -brand-short-name } მხარს უჭერს AV1 Image File (AVIF) სახეობას. ესაა სურათის ფაილის სახეობა, რომელიც იყენებს AV1 ვიდეო შეკუმშვის ალგორითმის შესაძლებლობებს, ზომის შესამცირებლად. ვრცლად, იხილეთ <a data-l10n-name="bugzilla">ხარვეზი 1443863</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = ჩვენ მიერ დანერგილი <a data-l10n-name="mdn-inputmode">inputmode</a> საერთო თვისება განახლდა <a data-l10n-name="whatwg">WHATWG-მახასიათებლების</a> მიხედვით, თუმცა კვლავ გვესაჭიროება დამატებითი ცვლილებიც, თუნდაც ხელმისაწვდომობა შიგთავსის ჩასწორების (contenteditable) შესაძლებლობის. ვრცლად, იხილეთ <a data-l10n-name="bugzilla">ხარვეზი 1205133</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-link-preload =
    .label = Web API: <link rel="preload">
# Do not translate "rel", "preload" or "link" here, as they are all HTML spec
# values that do not get translated.
experimental-features-web-api-link-preload-description = <a data-l10n-name="rel">rel</a> თვისება მნიშვნელობით <code>"preload"</code> ელემენტზე <a data-l10n-name="link">&lt;link&gt;</a> განკუთვნილია წარმადობის გასაუმჯობესებლად, მასალების ადრეულად ჩამოტვირთვის საშუალებით გვერდის გახსნამდე და დამოწმებით, რომ დროულადაა ხელმისაწვდომი და არ ზღუდავს გვერდის გამოსახვას. წაიკითხეთ <a data-l10n-name="readmore">„შიგთავსის წინასწარ ჩასატვირთი <code>rel="preload"</code>“</a> ან ვრცლად იხილეთ <a data-l10n-name="bugzilla">ხარვეზი 1583604</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-focus-visible =
    .label = CSS: Pseudo-class: :focus-visible
experimental-features-css-focus-visible-description = საშუალებას იძლევა ფოკუსში მოქცევისას გაფორმება მიენიჭოს ისეთ ელემენტებს, როგორებიცაა ღილაკები და ველების სამართავები მხოლოდ მაშინ, თუ ფოკუსში მოსაქცევად კლავიატურაა გამოყენებული (მაგალითად  tab-ღილაკით გადასვლისას) და არა თაგვი ან სხვა მიმთითებელი მოწყობილობა. ვრცლად, იხილეთ <a data-l10n-name="bugzilla">ხარვეზი 1617600</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-beforeinput =
    .label = Web API: beforeinput Event
# The terms "beforeinput", "input", "textarea", and "contenteditable" are technical terms
# and shouldn't be translated.
experimental-features-web-api-beforeinput-description = საერთო <a data-l10n-name="mdn-beforeinput">beforeinput</a>-ხდომილობას აამოქმედებს <a data-l10n-name="mdn-input">&lt;input&gt;</a> და <a data-l10n-name="mdn-textarea">&lt;textarea&gt;</a> ელემენტები, ან ნებისმიერი <a data-l10n-name="mdn-contenteditable">contenteditable</a>-თვისების მქონე დაუყოვნებლივ, სანამ მნიშვნელობა შეეცვლება. ამ ხდომილობით შესაძლებლობა ეძლევა ვებაპლიკაციებს, ჩაანაცვლოს ბრაუზერის ნაგულისხმევი ქცევა მომხმარებლის მოქმედებისას, მაგ. ვებაპს შეეძლება გაუუქმოს მომხმარებელს შეტანის საშუალება გარკვეული სიმბოლოებისთვის ან გადააკეთოს ჩასმული ტექსტის გაფორმება, დასაშვები გაფორმებით.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = აგებულების შემსწორებლის დამატება <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a>-გარსზე, აგრეთვე მასთან დაკავშირებული სხვა მრავალი ცვლილება, შესაძლებელს ხდის პირდაპირ შეიქმნას სტილის ახალი ცხრილები, HTML-ზე დართვის გარეშე. რაც მეტად გააადვილებს, მრავალჯერადი გამოყენების სტილის ცხრილების შექმნას, <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>-თან გამოსაყენებლად. ვრცლად, იხილეთ <a data-l10n-name="bugzilla">ხარვეზი 1520690</a>.
experimental-features-devtools-color-scheme-simulation =
    .label = Developer Tools: Color Scheme Simulation
experimental-features-devtools-color-scheme-simulation-description = ამატებს შესაძლებლობას, ფერთა სხვადასხვა სქემის წარმოსადგენად, რომლითაც მოისინჯება <a data-l10n-name="mdn-preferscolorscheme">@prefers-color-scheme</a> მედიამოთხოვნები. ეს მედიამოთხოვნა, საშუალებას მისცემს თქვენი სტილის ცხრილს, საპასუხოდ შეიცვალოს იმისდა მიხედვით, მომხმარებელი მუქ სამომხმარებლო გარსს აირჩევს თუ ნათელს. ამის მეშვეობით, კოდს შეამოწმებთ ბრაუზერის პარამეტრების შეუცვლელად (ან საოპერაციო სისტემის პარამეტრების, თუ ბრაუზერი მას ექვემდებარება). ვრცლად, იხილეთ <a data-l10n-name="bugzilla1">ხარვეზი 1550804</a> და <a data-l10n-name="bugzilla2">ხარვეზი 1137699</a>.
experimental-features-devtools-execution-context-selector =
    .label = Developer Tools: Execution Context Selector
experimental-features-devtools-execution-context-selector-description = ეს შესაძლებლობა გამოაჩენს ღილაკს ბრძანებათა ველში, რომლითაც შესაძლებელი იქნება შეიცვალოს კონტექსტი, შეყვანილი გამოსახულების გასაშვებად. ვრცლად, იხილეთ <a data-l10n-name="bugzilla1">ხარვეზი 1605154</a> და <a data-l10n-name="bugzilla2">ხარვეზი 1605153</a>.
experimental-features-devtools-compatibility-panel =
    .label = Developer Tools: Compatibility Panel
experimental-features-devtools-compatibility-panel-description = გვერდითი არე საიტის დაკვირვების ხელსაწყოში, რომელიც აჩვენებს დაწვრილებით მონაცემებს აპლიკაციის მრავალ ბრაუზერთან თავსებადობის მდგომარეობას. ვრცლად, იხილეთ <a data-l10n-name="bugzilla">ხარვეზი 1584464</a>.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = ფუნთუშები: SameSite=Lax ნაგულისხმევად
experimental-features-cookie-samesite-lax-by-default2-description = განესაზღვროს ფუნთუშებს „SameSite=Lax“ ნაგულისხმევად თუ არცერთი „SameSite” თვისება არაა მინიჭებული. შემმუშავებლებს თუ სურთ არსებული შეუზღუდავი გამოყენების შენარჩუნება, მკაცრად უნდა მიუთითონ „SameSite=None“.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = ფუნთუშები: SameSite=none საჭიროებს დაცულ თვისებას
experimental-features-cookie-samesite-none-requires-secure2-description = ფუნთუშები თვისებით „SameSite=None“ საჭიროებს დაცულ თვისებას. ამ შესაძლებლობის წინაპირობაა „ფუნთუშები: SameSite=Lax ნაგულისხმევად”.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = about:home გაშვების კეში
experimental-features-abouthome-startup-cache-description = დროებით შენახული მონაცემები, საწყისი about:home დოკუმენტისთვის, რომლებიც იტვირთება გაშვებისას. ამ კეშის მიზანია, მეტად აასწრაფოს პროგრამის გაშვება.
experimental-features-print-preview-tab-modal =
    .label = ამობეჭდვის განახლებული შეთვალიერება
experimental-features-print-preview-tab-modal-description = წარდგენა ამობეჭდვის განახლებული შესათვალიერებელი ფანჯრის და macOS-ზე მხარდაჭერის დამატების. ამას, შესაძლოა ახლდეს ხარვეზები და რაღაც პარამეტრების ნაკლებობა. ამობეჭდვის ყველა პარამეტრთან წვდომისთვის, აირჩიეთ „ამობეჭდვა სისტემის ფანჯრიდან…“ ამობეჭდვის არეში.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = განისაზღვროს ფუნთუშები იმავე მისამართიდან, თუმცა განსხვავებული სქემით (მაგ. http://example.com და https://example.com) როგორც „cross-site“ და არა „same-site”. გააუმჯობესებს უსაფრთხოებას, თუმცა გაზრდის გაუმართაობის ალბათობას.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Developer Tools: Service Worker debugging
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = ჩართავს საცდელ მხარდაჭერას Service Workers-ისთვის გასამართ არეში. შესაძლოა, ამ შესაძლებლობამ შეანელოს Developer Tools და გაზარდოს მეხსიერების მოხმარება.
# Desktop zooming experiment
experimental-features-graphics-desktop-zooming =
    .label = გრაფიკა: Smooth Pinch Zoom
experimental-features-graphics-desktop-zooming-description = ჩართვა თითების ჟესტებით გლუვი მოახლოების, შეხების აღმქმელი ეკრანებისა და დაფებისთვის.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = WebRTC Global Mute Toggles
experimental-features-webrtc-global-mute-toggles-description = ამატებს სამართავს WebRTC-ის ერთიან საზიარო მაჩვენებელში, რომლითაც მომხმარებელს შეუძლია ერთიანად დაადუმოს მიკროფონისა და კამერის არხები.
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = ჩაირთვება Warp, პროექტი, JavaScript-ის წარმადობისა და მეხსიერების გამოყენების გასაუმჯობესებლად.
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (საიტის გამიჯვნა)
experimental-features-fission-description = Fission (საიტის გამიჯვნა) არის ახალი საცდელი შესაძლებლობა, რომლითაც { -brand-short-name } გთავაზობთ დაცვის დამატებით ფენას, უსაფრთხოების სისუსტეების წინააღმდეგ. თითოეული საიტის ცალ-ცალკე პროცესებად გაშვებით, Fission ურთულებს მავნე ვებსაიტებს, სხვა მონახულებულ გვერდებთან წვდომას. ჩვენ და { -brand-short-name } მეტად მოხარულნი ვიქნებით, თუ გამოცდით და მოგვახსენებთ ხარვეზებს, რომელთაც წააწყდებით. ვრცლად, დამატებით იხილეთ <a data-l10n-name="wiki">ვიკი</a>.
