# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Yab dirica me mung
    .accesskey = m
about-private-browsing-search-placeholder = Yeny Kakube
about-private-browsing-info-title = Itye ii Dirica me Mung
about-private-browsing-info-myths = Lok goba mapol kare ikom yeny i mung
about-private-browsing =
    .title = Yeny Kakube
about-private-browsing-not-private = Kombedi pe itye i dirica me mung.
about-private-browsing-info-description = { -brand-short-name } jwayo yeny ki gin mukato me yeny mamegi ka i kato woko ki i purugram onyo i loro dirica ki dirica matino weng me Yeny i Mung. Kadi bed ni man pe weko i bedo ma pe ingene bot kakube onyo lumi intanet mamegi, weko bedo yot me gwoko ngo ma itimo iwiyamo i mung ki bot ngat mukene ma tiyo ki kompuita man.
about-private-browsing-turn-on-vpn = Tem { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } aye injin yeny makwongo mamegi ii Dirica me Mung
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Me yero injin yeny mukene cit i <a data-l10n-name="link-options">Ter</a>
       *[other] Me yero injin yeny mukene cit i <a data-l10n-name="link-options">Ter</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Lor
