# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = 即将进入的是诈骗网站
safeb-blocked-malware-page-title = 访问此网站可能损害您的计算机
safeb-blocked-unwanted-page-title = 网站可能含有有害程序
safeb-blocked-harmful-page-title = 即将进入的网站可能含有恶意软件
safeb-blocked-phishing-page-short-desc = 此页面可能试图诱导您安装恶意软件，透露密码、信用卡号等个人信息，或诱导您做其他风险行为，{ -brand-short-name } 已拦截。
safeb-blocked-malware-page-short-desc = 此页面可能试图安装会窃取或删除您电脑上个人资料的恶意软件，{ -brand-short-name } 已拦截。
safeb-blocked-unwanted-page-short-desc = 此页面可能试图诱导您安装损害上网体验的程序（例如说修改您的浏览器主页、展示扰人的广告），{ -brand-short-name } 已拦截。
safeb-blocked-harmful-page-short-desc = { -brand-short-name } 已拦截此页面，其可能会尝试安装危险的应用，从而窃取或删除您的信息（例如照片、密码、邮件、金融权证等）。
safeb-palm-advisory-desc = 安全信息由 <a data-l10n-name='advisory_provider'>{ $advisoryname }</a> 提供。
safeb-palm-accept-label = 返回
safeb-palm-see-details-label = 查阅详情
safeb-blocked-phishing-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> 被<a data-l10n-name='error_desc_link'>举报为诈骗网站</a>。您可以<a data-l10n-name='report_detection'>反映侦测有误</a>，或<a data-l10n-name='ignore_warning_link'>忽略此风险</a>并继续前往这个不安全的网站。
safeb-blocked-phishing-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> 被<a data-l10n-name='error_desc_link'>举报为诈骗网站</a>。您可以<a data-l10n-name='report_detection'>反映侦测有误</a>。
safeb-blocked-phishing-page-learn-more = 到 <a data-l10n-name='learn_more_link'>www.antiphishing.org</a> 可以详细了解诈骗网站和钓鱼。到 <a data-l10n-name='firefox_support'>support.mozilla.org</a> 可以详细了解 { -brand-short-name } 防范钓鱼和恶意软件的机制。
safeb-blocked-malware-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> 被<a data-l10n-name='error_desc_link'>举报含有恶意软件</a>。您可以<a data-l10n-name='report_detection'>反映侦测有误</a>或<a data-l10n-name='ignore_warning_link'>忽略此风险</a>并继续前往这个不安全的网站。
safeb-blocked-malware-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> 被<a data-l10n-name='error_desc_link'>举报含有恶意软件</a>。您可以<a data-l10n-name='report_detection'>反映侦测有误</a>。
safeb-blocked-malware-page-learn-more = 到 <a data-l10n-name='learn_more_link'>StopBadware.org</a> 可以详细了解有害的网页内容（包括病毒和其他恶意软件），网站上还介绍了保护您的电脑的小知识。到 <a data-l10n-name='firefox_support'>support.mozilla.org</a> 可以详细了解 { -brand-short-name } 防范钓鱼和恶意软件的机制。
safeb-blocked-malware-page-error-desc-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> 被<a data-l10n-name='error_desc_link'>举报包含恶意软件</a>。您可以<a data-l10n-name='ignore_warning_link'>忽略此风险</a>并继续前往这个不安全的网站。
safeb-blocked-malware-page-error-desc-no-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> 被<a data-l10n-name='error_desc_link'>举报包含恶意软件</a>。
safeb-blocked-malware-page-learn-more-sumo = 访问 <a data-l10n-name='firefox_support'>support.mozilla.org</a> 详细了解 { -brand-short-name } 的钓鱼网站与恶意网站防护功能。
safeb-blocked-unwanted-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> 被<a data-l10n-name='error_desc_link'>举报含有有害软件</a>。您可以<a data-l10n-name='ignore_warning_link'>忽略此风险</a>并继续前往这个不安全的网站。
safeb-blocked-unwanted-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> 被<a data-l10n-name='error_desc_link'>举报含有有害软件</a>。
safeb-blocked-unwanted-page-learn-more = 查阅 <a data-l10n-name='learn_more_link'>流氓软件政策</a> 可以详细了解有害和流氓的软件。到 <a data-l10n-name='firefox_support'>support.mozilla.org</a> 可以详细了解 { -brand-short-name } 防范钓鱼和恶意软件的机制。
safeb-blocked-harmful-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> 被<a data-l10n-name='error_desc_link'>举报含有风险软件</a>。您可以<a data-l10n-name='ignore_warning_link'>忽略此风险</a>并继续前往这个不安全的网站。
safeb-blocked-harmful-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> 被<a data-l10n-name='error_desc_link'>举报含有潜在有害的软件</a>。
safeb-blocked-harmful-page-learn-more = 访问 <a data-l10n-name='firefox_support'>support.mozilla.org</a> 详细了解 { -brand-short-name } 的钓鱼网站与恶意网站防护功能。
safeb-palm-notdeceptive =
    .label = 这不是诈骗网站…
    .accesskey = d
