# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = Tungkol sa Glean
about-glean-description = Ang <a data-l10n-name="glean-sdk-doc-link">Glean SDK</a> ay isang data collection library na ginagamit sa mga produkto ng Mozilla. Ang pahinang ito ay para sa mga developer at tester na nangangailangan <a data-l10n-name="fog-debug-doc-link">mag-configure ng debugging at logging state sa Glean SDK</a>.
about-glean-warning = Ang maling paggamit sa interface na ito ay maaaring makapagpa-crash sa { -brand-short-name }.
tag-pings-label = I-tag lahat ng mga napadalang ping gamit ang tag na ito
log-pings-label = Mag-log ng ping payload bago ipadala?
send-pings-label = Ipadala ang nakapangalang ping
controls-button-label = Mga Submit Setting
