# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Makket stipe foar de eksperimintele funksje CSS Masonry Layout mooglik. Lês de <a data-l10n-name="explainer">útlis</a> foar in globale beskriuwing fan de funksje. Pleats in opmerking yn <a data-l10n-name="w3c-issue">dit GitHub-issue</a> of <a data-l10n-name="bug">dizze bug</a> om kommentaar te leverjen.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Dizze nije API biedt stipe op leech nivo foar it útfieren fan berekkeningen en grafyske werjefte mei help fan de <a data-l10n-name="wikipedia">Graphics Processing Unit (GPU)</a> fan it apparaat of de kompjûter fan de brûker. De <a data-l10n-name="spec">spesifikaasje</a> is noch hieltyd yn ûntwikkeling. Sjoch <a data-l10n-name="bugzilla">bug 1602129</a> foar mear details.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Media: AVIF
experimental-features-media-avif-description = As dizze funksje ynskeakele is, stipet { -brand-short-name } it AV1 Image File (AVIF)-formaat. Dit is in bestânsformaat foar stilsteande bylden dat gebrûk makket fan de mooglikheden fan de AV1-fideokompresje-algoritmen om de ôfbyldingsgrutte te ferlytsjen. Sjoch <a data-l10n-name="bugzilla">bug 1443863</a> foar mear details.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = Us ymplemintaasje fan it globale attribút <a data-l10n-name="mdn-inputmode">inputmode</a> is bywurke neffens <a data-l10n-name="whatwg">de WHATWG-spesifikaasje</a>, mar wy moatte ek noch oare wizigingen oanbringe, lykas it beskikber meitsjen fan bewurkbere ynhâld. Sjoch <a data-l10n-name="bugzilla">bug 1205133</a> foar mear details.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-link-preload =
    .label = Web API: <link rel="preload">
# Do not translate "rel", "preload" or "link" here, as they are all HTML spec
# values that do not get translated.
experimental-features-web-api-link-preload-description = It attribút <a data-l10n-name="rel">rel</a> mei wearde <code>"preload"</code> op in <a data-l10n-name="link">&lt;link&gt;</a>-elemint is bedoeld om te helpen prestaasjeferbetteringen te realisearjen troch jo boarnen earder yn de libbenssyklus fan de side downloade te litten, sadat se earder beskikber binne en de werjefte fan siden minder fluch blokkearre wurdt. Lês <a data-l10n-name="readmore">‘Preloading content mei <code>rel="preload"</code>’</a> of sjoch <a data-l10n-name="bugzilla">bug 1583604</a> foar mear details.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-focus-visible =
    .label = CSS: Pseudo-class: :focus-visible
experimental-features-css-focus-visible-description = Makket it mooglik om fokusstilen ta te passen op eleminten lykas knoppen en formulierbestjoeringen, allinnich wannear't se de fokus krigen hawwe me help fan it toetseboerd (bygelyks by it gebrûk fan tab tusken eleminten), en net wannear't se skerpsteld binne mei in mûs of oar oanwiisapparaat. Sjoch <a data-l10n-name="bugzilla">bug 1617600</a> foar mear details.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-beforeinput =
    .label = Web API: beforeinput Event
# The terms "beforeinput", "input", "textarea", and "contenteditable" are technical terms
# and shouldn't be translated.
experimental-features-web-api-beforeinput-description = It globale <a data-l10n-name="mdn-beforeinput">beforeinput</a>-barren wurdt aktivearre op <a data-l10n-name="mdn-input">&lt;input&gt;</a>- en <a data-l10n-name="mdn-textarea">&lt;textarea&gt;</a>-eleminten, of elk elemint wêrfan it <a data-l10n-name="mdn-contenteditable">contenteditable</a>-kenmerk ynskeakele is, daliks foardat de wearde fan it elemint feroaret. Mei dit barren kinne webapps it standertgedrach fan de browser oerskriuwe foar brûkersynteraksje, webapps kinne bygelyks brûkersynfier allinnich foar spesifike tekens annulearje of kinne it plakken fan opmakke tekst allinnich wizigje mei goedkarre stilen.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = De tafoeging fan in constructor oan de <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a>-ynterface en in oantal relatearre wizigingen, makket it mooglik om daliks nije stylesheets te meitsjen sûnder it blêd ta te foegjen oan de HTML. Dit makket it folle makliker om op nij brûkbere stylesheets te meitsjen foar gebrûk mei <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Sjoch <a data-l10n-name="bugzilla">bug 1520690</a> foar mear details.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-session-api =
    .label = Web API: Media Session API
experimental-features-media-session-api-description = De folsleine { -brand-short-name }-ymplemintaasje fan de Media Session API is op dit stuit eksperiminteel. Dizze API wurdt brûkt om de ferwurking fan mediarelatearre meldingen oan te passen, om eveneminten en gegevens te behearen dy't nuttich binne foar it presentearjen fan in brûkersynterface foar it behearen fan it ôfspyljen fan media en om metadata fan mediabestannen te krijen. Sjoch <a data-l10n-name="bugzilla">bug 1112032</a> foar mear details.
experimental-features-devtools-color-scheme-simulation =
    .label = Developer Tools: Color Scheme Simulation
experimental-features-devtools-color-scheme-simulation-description = Foeget in opsje ta om ferskate kleureskema's te simulearjen, sadat jo <a data-l10n-name="mdn-preferscolorscheme">@prefers-colour-scheme</a>-mediaquery's teste kinne. Mei help fan dizze mediaquery, kinne jo stylesheet reagearje op de fraach oft de brûker de foarkar jout oan in ljochte of donkere brûkersynterface. Mei dizze funksje kinne jo jo koade teste sûnder dat jo de ynstellingen yn jo browser (of bestjoeringssysteem, as de browser in systeembreed kleureskema folget) hoege te wizigjen. Sjoch <a data-l10n-name="bugzilla1">bug 1550804</a> en <a data-l10n-name="bugzilla2">bug 1137699</a> foar mear details.
experimental-features-devtools-execution-context-selector =
    .label = Developer Tools: Execution Context Selector
experimental-features-devtools-execution-context-selector-description = Dizze funksje jout in knop wer op de opdrachtrigel fan de console wêrmei't jo de kontekst wizigje kinne wêryn de ekspresje dy't jo ynfiere, útfierd wurdt. Sjoch <a data-l10n-name="bugzilla1">bug 1605154</a> en <a data-l10n-name="bugzilla2">bug 1605153</a> foar mear details.
experimental-features-devtools-compatibility-panel =
    .label = Developer Tools: Compatibility Panel
experimental-features-devtools-compatibility-panel-description = In sidepaniel foar de Page Inspector dat ynformaasje toant oer de kompatibiliteitssteat fan de browser yn jo app. Sjoch <a data-l10n-name="bugzilla">bug 1584464</a> foar mear details.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cookies: SameSite=Lax as standert
experimental-features-cookie-samesite-lax-by-default2-description = Cookies standert as ‘SameSite=Lax’ behannelje as der gjin attribút foar ‘SameSite’ spesifisearre is. Untwikkelers moatte de aktuele status kwo fan ûnbeheind gebrûk bewust ynstelle troch eksplisyt ‘SameSite=None’ fêst te lizzen.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cookies: SameSite=None fereasket in feilich attribút
experimental-features-cookie-samesite-none-requires-secure2-description = Foar cookies mei attribút ‘SameSite=None’ is it feilige attribút fereaske. Dizze funksje fereasket ‘Cookies: SameSite=Lax as standert’.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = Opstartbuffer about:home
experimental-features-abouthome-startup-cache-description = In opstartbuffer foar it inisjele about:home-dokumint wurdt by opstarten standert laden. It doel fan dizze buffer is it ferbetterjen fan de opstartprestaasjes.
experimental-features-print-preview-tab-modal =
    .label = Nij ûntwerp fan ôfdrukfoarbyld
experimental-features-print-preview-tab-modal-description = Yntrodusearret it opnij ûntwurpen ôfdrukfoarbyld en makket ôfdrukfoarbyld beskikber op macOS. Dit kin liede ta falen en omfettet net alle ôfdrukrelatearre ynstellingen. Selektearje om tagong te krijen ta alle ôfdrukrelatearre ynstellingen ‘Ofdrukke fia it systeemdialoochfinster…’ yn it paniel Ofdrukke.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Behannelje cookies fan itselfe domein, mar mei ferskate skema's (bygelyks http://example.com en https://example.com) as cross-site yn stee fan deselfe site. Ferbetteret de befeiliging, mar soarget der mooglik foar dat de website net goed wurket.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Developer Tools: Service Worker debugging
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Skeakelet yn it Debugger-paniel eksperimintele stipe foar service workers yn. Dizze funksje kin helpmiddelen foar webûntwikkelers fertrage en it ûnthâldgebrûk ferheegje.
# Desktop zooming experiment
experimental-features-graphics-desktop-zooming =
    .label = Grafysk: Smooth Pinch Zoom
experimental-features-graphics-desktop-zooming-description = Skeakel stipe yn foar soepel zoome troch knipe op oanraakskermen en presysy-touchpads.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = WebRTC Global Mute-skeakelers
experimental-features-webrtc-global-mute-toggles-description = Foeget betsjinningen ta oan de algemiene dielyndikator fan WebRTC, wêrmei brûkers harren mikrofoan- en kamerafeeds algemien dôvje kinne.
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Warp ynskeakelje, in projekt om de prestaasjes fan JavaScript en ûnthâldgebrûk te ferbetterjen.
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (website-isolaasje)
experimental-features-fission-description = Fission (website-isolaasje) is in eksperimintele funksje yn { -brand-short-name } dy't in ekstra beskermingslaach biedt tsjin befeiligingsbugs. Troch elke website yn in apart proses te isolearjen, makket Fission it swierder foar kweawollende websites om tagong te krijen ta ynformaasje fan oare troch jo besochte siden. Dit is in grutte wiziging yn de arsjitektuer fan { -brand-short-name } en wy stelle it op priis as jo it teste en alle problemen dy't jo tsjinkomme rapportearje. Foar mear details, sjoch <a data-l10n-name="wiki">de wiki</a>.
