# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Conectar outro dispositivo
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Se aínda non o fixo, instale <a data-l10n-name="connect-another-device">Firefox no dispositivo móbil</a>.
fxa-qrcode-heading-phase2 = 2. A continuación, inicie sesión en { -sync-brand-short-name } ou, en Android, escanee o código de emparellamento desde a configuración do { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Se aínda non o fixo, instale <a data-l10n-name="connect-another-device">Firefox no seu dispositivo móbil</a>.
fxa-qrcode-heading-step2 = 2. Abra Firefox no seu dispositivo móbil.
fxa-qrcode-heading-step3 = 3. Abra o <b>menú</b> (<img data-l10n-name="ios-menu-icon"/> ou <img data-l10n-name="android-menu-icon"/>), toque en <img data-l10n-name="settings-icon"/> <b>Configuración</b> e seleccione <b>Activar sincronización</b>
fxa-qrcode-heading-step4 = 4. Escanee este código:
fxa-qrcode-error-title = O emparellamento fallou.
fxa-qrcode-error-body = Tentar de novo
