# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Keleier pouezus
heading = Kemmoù d'hoc'h aelad { -brand-short-name }

changed-title = Petra zo cheñchet?
changed-desc-profiles = Un aelad nevez a zo e staliadur { -brand-short-name }. Un aelad a zo an hollad a restroù lec'h ma vez enrollet titouroù gant Firefox evel sinedoù, gerioù-tremen ha gwellvezioù arveriad.
changed-desc-dedicated = Evit ma vefe aesoc'h ha diogeloc'h da cheñch etre staliadurioù Firefox disheñvel (Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition ha Firefox Nighly en o zouez) zo un aelad gouestlet d'ar staliadur-mañ bremañ. Ne rann ket ho titouroù enrollet gant staliadurioù all Firefox.

lost = <b>N'ho p'eus ket kollet roadennoù personel pe personeladurioù.</b> M'ho p'eus enrollet titouroù e Firefox war an urzhiataer-mañ endeo eo c'hoazh hegerz war staliadurioù all Firefox.

options-title = Petra eo ma dibarzhioù?
options-do-nothing = Ma ne rit netra e vo disheñvel roadennoù hoc'h aelad e { -brand-short-name } eus roadennoù an aelad e staliadurioù all Firefox.
options-use-sync = Ma fell deoc'h e vefe ho roadennoù aelad an hevelep hini e holl staliadurioù Firefox e c'hallit arverañ ur { -fxaccount-brand-name } evit mirout anezho goubredet.

resources = Loazioù:
support-link = Arverañ an ardoer aeladoù - Pennad skoazell

sync-header = Kennaskit pe krouit ur { -fxaccount-brand-name }
sync-label = Enankit ho chomlec'h postel
sync-input =
    .placeholder = Chomlec'h postel
sync-button = Kenderc'hel
sync-terms = En ur genderc'hel ec'h asantit d'an <a data-l10n-name="terms">divizoù arver</a> ha d'ar <a data-l10n-name="privacy">reolenn a-fet buhez prevez</a>.
sync-first = Ar wech kentañ a implijit { -sync-brand-name }? Ezhomm ho po kennaskañ da holl staliadurioù Firefox evit goubredañ ho titouroù.
sync-learn = Gouzout hiroc'h
