# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = การเชื่อมต่อปลอดภัยไม่พร้อมใช้งาน
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = คุณกำลังเรียกดูในโหมด HTTPS-Only และรุ่น HTTPS ของ <em>{ $websiteUrl }</em> ไม่พร้อมใช้งาน
about-httpsonly-insecure-explanation-reasons = อาจเป็นไปได้ว่าเว็บไซต์ไม่สนับสนุน HTTPS แต่ก็เป็นไปได้เช่นกันว่าผู้โจมตีกำลังปิดกั้นรุ่น HTTPS อยู่
about-httpsonly-insecure-explanation-exception = ในขณะที่ความเสี่ยงด้านความปลอดภัยมีน้อย หากคุณตัดสินใจเยี่ยมชมรุ่น HTTP ของเว็บไซต์ คุณไม่ควรใส่ข้อมูลใด ๆ ที่ละเอียดอ่อน เช่น รหัสผ่าน อีเมล หรือรายละเอียดบัตรเครดิต
about-httpsonly-button-make-exception = ยอมรับความเสี่ยงแล้วไปยังไซต์ต่อ
about-httpsonly-title = { -brand-short-name } ตรวจพบปัญหาด้านความปลอดภัยที่อาจเกิดขึ้น
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = คุณกำลังเรียกดูในโหมด HTTPS-Only และรุ่น HTTPS ของ <em>{ $websiteUrl }</em> ไม่พร้อมใช้งาน
about-httpsonly-title-alert = การแจ้งเตือนโหมด HTTPS-Only
about-httpsonly-title-connection-not-available = การเชื่อมต่อปลอดภัยไม่พร้อมใช้งาน
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = คุณได้เปิดใช้งานโหมด HTTPS-Only สำหรับความปลอดภัยที่มากขึ้น และรุ่น HTTPS ของ <em>{ $websiteUrl }</em> ไม่พร้อมใช้งาน
about-httpsonly-explanation-question = ปัญหานี้อาจเกิดจากอะไรได้บ้าง?
about-httpsonly-explanation-nosupport = อาจเป็นไปได้มากว่าเว็บไซต์ไม่รองรับ HTTPS
about-httpsonly-explanation-risk = อาจเป็นไปได้ว่ามีผู้โจมตีเข้ามาเกี่ยวข้องด้วย หากคุณตัดสินใจเยี่ยมชมเว็บไซต์ คุณไม่ควรใส่ข้อมูลใด ๆ ที่ละเอียดอ่อน เช่น รหัสผ่าน อีเมล หรือรายละเอียดบัตรเครดิต
about-httpsonly-button-accept-and-continue = ยอมรับความเสี่ยงและดำเนินการต่อ
about-httpsonly-explanation-continue = หากคุณดำเนินการต่อ โหมด HTTPS-Only จะถูกปิดชั่วคราวสำหรับไซต์นี้
about-httpsonly-button-continue-to-site = ดำเนินการต่อไปยังไซต์ HTTP
about-httpsonly-button-go-back = ย้อนกลับ
about-httpsonly-link-learn-more = เรียนรู้เพิ่มเติม…
