# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = Nuguan' garasun' dàj nagi'iô' sa hua a'nan'an
page-subtitle = Ñuna narit nuguan'an rayi'i sa na'ue gi'iaj sun hue'e riña aga' na. Sisi na'na'ui' nuinsaj hua sa hua danaj riña  { -brand-short-name }, ga'ue ni'iaj riña na <a data-l10n-name="support-link">da' rugujñu'un so'</a>.

crashes-title = Nataj sa gire'e
crashes-id = ID nata'
crashes-send-date = Nga ga'an
crashes-all-reports = nataj daran' sa guire'e
crashes-no-config = Nitaj si huaj nata' ma nej sa guire'e.
extensions-title = A'ngô ra'a
extensions-name = Si yuguit
extensions-enabled = Ngà 'iaj sunj
extensions-version = Versión
extensions-id = ID
support-addons-name = Si yuguit
support-addons-version = Versión
support-addons-id = ID
security-software-title = Softwarê nakaj rayi'î'
security-software-type = Dugui'
security-software-name = Si yugui
security-software-antivirus = Sa ri yi'ìi
security-software-antispyware = Sa nará riña sa naga'naj a
security-software-firewall = Sa duna'aj ña'aan
features-title = { -brand-short-name } danaj huaj
features-name = Si yuguit
features-version = Versión
features-id = ID
processes-title = Nej sa 'na' niñaan
processes-type = Dugui'
processes-count = Guênda
app-basics-title = Daj nagui'io' aplicación na
app-basics-name = Si yuguit
app-basics-version = Versión
app-basics-build-id = Id. nagui'iaj chre'
app-basics-update-channel = Riña nagui'iaj nako'
# This message refers to the folder used to store updates on the device,
# as in "Folder for updates". "Update" is a noun, not a verb.
app-basics-update-dir =
    { PLATFORM() ->
        [linux] Nagi'iaj nakà direktorio
       *[other] Nagi'iaj nakà riña màn rasuun
    }
app-basics-update-history = Riña ma sa nagui'iaj nako'
app-basics-show-update-history = Digun' riña ma sa nagui'iaj nako'
# Represents the path to the binary used to start the application.
app-basics-binary = Aplikasiûn binârio
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] Riña nataj ahuin'
       *[other] riña ma daj huo'
    }
app-basics-enabled-plugins = Nga 'iaj sun Plugins
app-basics-build-config = Nagi'iaj chre' ma
app-basics-user-agent = Sí raj sun
app-basics-os = OS
app-basics-memory-use = Daj nikó nichrá ma
app-basics-performance = Performance
app-basics-service-workers = Nej sa ma sa' Service Workers
app-basics-profiles = Sa a'min rayi'i'
app-basics-launcher-process-status = Hìaj 'iaj yugui da' ga'nïn
app-basics-multi-process-support = Ga'i ventana 'iaj sun
app-basics-remote-processes-count = Nej sa gahuin niñaa
app-basics-enterprise-policies = Nuguan' nikaj nej emprêsa
app-basics-location-service-key-google = Da'nga' nikaj sa narì' Google
app-basics-safebrowsing-key-google = Da'nga narì' si'iaj Google
app-basics-key-mozilla = Mozilla Location Service Key
app-basics-safe-mode = Hua ran yi'í man
show-dir-label =
    { PLATFORM() ->
        [macos] Digun' nga Finder
        [windows] Na'nin' carpeta
       *[other] Na'ni' sa ma sa'a
    }
modified-key-prefs-title = Nej sa ña'an doj nga nagi'io'
modified-prefs-name = Si yuguit
modified-prefs-value = Daj du'ue ma
user-js-title = Sa huin ruat nga user.js
user-js-description = Riña ma sa' si rasunt <a data-l10n-name="user-js-link">archivo user.js</a>, nu giri rá sa gu'naj { -brand-short-name }.
locked-key-prefs-title = Nej sa ña'an doj narán
locked-prefs-name = Si yuguit
locked-prefs-value = Daj du'ue ma
graphics-title = Gráficas
graphics-features-title = Daj hua ma
graphics-diagnostics-title = Daj 'iaj sun ma
graphics-failure-log-title = Nachro' sa gire'
graphics-gpu1-title = GPU #1
graphics-gpu2-title = GPU #2
graphics-decision-log-title = Riña nej sa ganahui'
graphics-crash-guards-title = Nej sa Guard Disabled Features
graphics-workarounds-title = Ganahuin ma
# Windowing system in use on Linux (e.g. X11, Wayland).
graphics-window-protocol = Chrej nikaj Bentâna
place-database-title = Places Database
place-database-integrity = Gâ nin
place-database-verify-integrity = Ni'iaj si hua nin
a11y-title = Hua gatu'
a11y-activated = Nga 'iaj sunj
a11y-force-disabled = Si ga'ni' gatu'
a11y-handler-used = Gasunt ngo controlador
a11y-instantiator = Sa ‘iaj hua ni’nïnj gatū’
library-version-title = Nej versión ma
copy-text-to-clipboard-label = Guyun' nej nuguan'
copy-raw-data-to-clipboard-label = Nachrun' datos riña portapapeles
sandbox-title = Sa chruu
sandbox-sys-call-log-title = Rejected System Calls
sandbox-sys-call-index = #
sandbox-sys-call-age = Hiàj ná doj
sandbox-sys-call-pid = PID
sandbox-sys-call-tid = TID
sandbox-sys-call-proc-type = daj 'iaj sun ma
sandbox-sys-call-number = Syscall
sandbox-sys-call-args = Nuin saj
safe-mode-title = Garahue' modo seguro
restart-in-safe-mode-label = Nayi'í ñun' nga nej sa nitaj si 'iaj sun

## Media titles

audio-backend = Sa guni' Backend
max-audio-channels = Kanal Max
sample-rate = Dàj nichrà' hua frecuencia garan' ruhuô'
media-title = Sa ni'io'
media-output-devices-title = Dispositivo sa ahuii
media-input-devices-title = Dispositivo sa âtuj u
media-device-name = Si yuguit
media-device-group = Yi'ni'in
media-device-vendor = So' girì
media-device-state = Dàj huaj
media-device-preferred = Sa huin ruhuô' doj
media-device-format = Formatù
media-device-channels = Nej kanal
media-device-rate = Sa du'ue
media-device-latency = 'Iaj sunj
media-capabilities-title = Dàj nìko ga’ue gimàn multimêdia
# List all the entries of the database.
media-capabilities-enumerate = Ganachrūn nûmero riña basê mà dâto

##

intl-title = Nagi'iô guendâ yumiguìi & Narì' man
intl-app-title = Sa nikaj aplikasiûn
intl-locales-requested = Sa dukuà nana'ui' si doj
intl-locales-available = Sa dukuà huaa
intl-locales-supported = Nej aplikasiûn dukuàa
intl-locales-default = Sa dukuà 'na' niñaa
intl-os-title = Sistêma Operatîbo
intl-os-prefs-system-locales = Nej sistema dukuàa
intl-regional-prefs = Sa nana'uî' doj màn nichrùn'un

## Remote Debugging
##
## The Firefox remote protocol provides low-level debugging interfaces
## used to inspect state and control execution of documents,
## browser instrumentation, user interaction simulation,
## and for subscribing to browser-internal events.
##
## See also https://firefox-source-docs.mozilla.org/remote/

remote-debugging-title = Depurasiûn remota (si protokolô Chromiun)
remote-debugging-accepting-connections = Garāyina koneksiûn
remote-debugging-url = URL

##

# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days =
    { $days ->
        [one] Nej sa guire' { $days } gui
       *[other] Nej sa guire' ne ruku' doj { $days } gui
    }

# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes =
    { $minutes ->
        [one] nga gachin { $minutes } minuto
       *[other] nga gachin ngo { $minutes } minutos
    }

# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours =
    { $hours ->
        [one] Nga gachin { $hours } hora
       *[other] nga gachin { $hours } horas
    }

# Variables
# $days (integer) - Number of days since crash
crashes-time-days =
    { $days ->
        [one] Nga gachin { $days } gui
       *[other] nga gachin { $days } gui
    }

# Variables
# $reports (integer) - Number of pending reports
pending-reports =
    { $reports ->
        [one] Daran' sa guire'e (nun { $reports } sa guire' hua ni'ninj)
       *[other] Daran ché sa guiere'e (nun { $reports } sa guire' hua ni'ninj
    }

raw-data-copied = Nej datos guire' nachru' riña portapapeles
text-copied = Nuguan' ngà nachîn riña portapapeles

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = Naran na sa 'iaj sun nga gráfico.
blocked-gfx-card = Naran ma'an ma da duguminj si tarjeta gráficat dadin' nitaj si 'iaj sun hue'e ma.
blocked-os-version = Nitaj si huaj gi'iaj sunj nga si aga' re'.
blocked-mismatched-version = Nitaj si huaj gi'iaj sunj nga versión 'iaj sunt ni nga DLL.
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = Narán na sa 'iaj sun nga g´ráfico. Garahué nagui'iaj nakat nga gráfico { $driverVersion } nej a'ngo sa naká doj.

# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = Sa nikaj ñu'unj ClearType

compositing = Daj hua ma
hardware-h264 = Hardware H264 Decoding
main-thread-no-omtc = sa ña'anj, doj OMTC
yes = Ga'ue
no = Si ga'ue
unknown = Sê sa ni'în' huin
virtual-monitor-disp = Si pantayê monitor birtual

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

found = Nari' raj
missing = Ña guchi'

gpu-process-pid = GPUProcessPid
gpu-process = GPUProcess
gpu-description = Daj huaj
gpu-vendor-id = ID de Vendor
gpu-device-id = ID nikaj ñu'unj aga' na
gpu-subsys-id = ID si'iaj subsys
gpu-drivers = Drivers
gpu-ram = RAM
gpu-driver-vendor = Sa du'uèj konduktôr
gpu-driver-version = Daj hua aga' na
gpu-driver-date = Ahuin gui huin riña aga' na
gpu-active = Ngà' 'iaj sunj
webgl1-wsiinfo = WebGL 1 Driver WSI Nuguan'an
webgl1-renderer = WebGL 1 Driver Renderer
webgl1-version = WebGL 1 Driver Version
webgl1-driver-extensions = WebGL 1 Driver Extensión
webgl1-extensions = WebGL 1 Extensión
webgl2-wsiinfo = WebGL 1 Driver WSI Nuguan'an
webgl2-renderer = WebGL 2 Driver Renderer
webgl2-version = WebGL 2 Driver Version
webgl2-driver-extensions = WebGL 1 Driver Extensión
webgl2-extensions = WebGL 1 Driver Extensión
blocklisted-bug = Si ga'ue gi'iaj sunj dadin' hua ngo sa gire'

# Variables
# $bugNumber (string) - String of bug number from Bugzilla
bug-link = guire'ej { $bugNumber }

# Variables
# $failureCode (string) - String that can be searched in the source tree.
unknown-failure = Nej sa gire'e; daj hua ma { $failureCode }

d3d11layers-crash-guard = D3D11 Nikaj ñu'unj
d3d11video-crash-guard = D3D11 Sa Ni'io'
d3d9video-crash-guard = D3D11 Sa Ni'io'
glcontext-crash-guard = OpenGL

reset-on-next-restart = Nayi'i' Ne'ña an Doj
gpu-process-kill-button = Ganahuij 'iaj sun GPU
gpu-device-reset = Nagi'iaj aga' nan
gpu-device-reset-button = Ganayi'ì ñun aga' dan
uses-tiling = Garasun Tiling
content-uses-tiling = Garasun Tiling (Sa nika)
off-main-thread-paint-enabled = Hua habilitado ne'e tàj ñaan
off-main-thread-paint-worker-count = Nitaj ne' rà guendâ pinturâ Konde
target-frame-rate = Dàj hìo 'iaj sun aga' nan

min-lib-versions = Versión ana'uij ñun'
loaded-lib-versions = Versi´n raj sun'

has-seccomp-bpf = Seccomp-BPF (riña da'ui gachin sa a'min')
has-seccomp-tsync = Naduyá duhui' Seccomp
has-user-namespaces = Riña gachun si yuguit
has-privileged-user-namespaces = Riña gachun nej sí ña'anj doj si yugui si
can-sandbox-content = Riña gi'iaj sun nej sa ma na
can-sandbox-media = Riña gi'iaj sun sa ni'io'
content-sandbox-level = Content Process Sandbox Level
effective-content-sandbox-level = Dukuán hue’ê doj nun proceso contenido
sandbox-proc-type-content = sa ma
sandbox-proc-type-file = sa nikaj archîbo
sandbox-proc-type-media-plugin = plugin 'iaj sun nga sa ni'io'
sandbox-proc-type-data-decoder = Sa 'iaj dekodifikandô nej dâto

launcher-process-status-0 = Ngà 'iaj sunj
launcher-process-status-1 = Gire'ej ni nitaj si ni'ñan
launcher-process-status-2 = Gire'ej niñan man
launcher-process-status-unknown = Nuni'in nuin saj

# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }
multi-process-status-0 = Nga huaj garasut
multi-process-status-1 = Nga huaj gi'iaj sunj
multi-process-status-2 = Ganikinj
multi-process-status-4 = Nitaj si huaj gatu' ña ma sa raj sun'
multi-process-status-6 = Nitaj si 'iaj sun dadin sê gachun' sa nitaj si hua
multi-process-status-7 = Nitaj si 'iaj sunj rayi'i sa nuto'
multi-process-status-8 = Nitaj si 'iaj sunj
multi-process-status-unknown = Nuni'in nuin saj

async-pan-zoom = Encuadro/zoom asíncrono
apz-none = a'ngoj
wheel-enabled = 'iaj sun yutu gachin
touch-enabled = 'iaj sunj da' duguché ro'o
drag-enabled = ganukuaj ña ma sa raj sun'
keyboard-enabled = Ngà hua teclado
autoscroll-enabled = hua yugui sa 'iaj naché man'an

## Variables
## $preferenceKey (string) - String ID of preference

wheel-warning = nitaj si 'iaj sun yutuu 'iaj si sa ganahui' nu a'ninj: { $preferenceKey }
touch-warning = nitaj si 'iaj sun ma da' duguché ro'o: { $preferenceKey }

## Strings representing the status of the Enterprise Policies engine.

policies-inactive = Hua nâ'a
policies-active = Ngà' 'iaj sunj
policies-error = Nitaj si hua hue'ej
