# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = חדשות חשובות
heading = שינויים בפרופיל ה־{ -brand-short-name } שלך

changed-title = מה השתנה?
changed-desc-profiles = להתקנה זו של { -brand-short-name } יש פרופיל חדש. פרופיל הוא אוסף של קבצים שבו Firefox שומר מידע כגון סימניות, ססמאות והעדפות משתמש.
changed-desc-dedicated = כדי להקל על המעבר בין התקנות של Firefox (לרבות Firefox,‏ Firefox ESR,‏ Firefox Beta,‏ Firefox Developer Edition ו־Firefox Nightly), התקנה זו כוללת מעתה פרופיל ייעודי שלא ישתף את פרטיך עם התקנות אחרות של Firefox באופן אוטומטי.

lost = <b>לא איבדת שום נתונים אישיים או התאמות אישיות.</b> אם כבר שמרת מידע ב־Firefox במחשב זה, הוא עדיין זמין בהתקנה אחרת של Firefox.

options-title = מה הן האפשרויות שלי?
options-do-nothing = בהיעדר פעולה, נתוני הפרופיל שלך ב־{ -brand-short-name } יהיו שונים מנתוני הפרופיל בשאר ההתקנות של Firefox.
options-use-sync = אם ברצונך שכל נתוני הפרופיל שלך יהיו זהים בכל ההתקנות של Firefox, ניתן להשתמש ב־{ -fxaccount-brand-name } כדי לשמור אותם מסונכרנים.

resources = משאבים:
support-link = שימוש במנהל הפרופילים - מאמר תמיכה

sync-header = התחברות או יצירת { -fxaccount-brand-name }
sync-label = נא להכניס את כתובת הדוא״ל שלך
sync-input =
    .placeholder = דוא״ל
sync-button = המשך
sync-terms = בחירה בהמשך התהליך מהווה הסכמה ל<a data-l10n-name="terms">תנאי השירות</a> ול<a data-l10n-name="privacy">הצהרת הפרטיות</a>.
sync-first = פעם ראשונה עם { -sync-brand-name }? יהיה עליך להתחבר לכל התקנה של Firefox כדי לסנכרן את המידע שלך.
sync-learn = מידע נוסף
