# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = Villedende nettsted
safeb-blocked-malware-page-title = Å besøke dette nettstedet kan skade datamaskinen din
safeb-blocked-unwanted-page-title = Nettstedet forut kan inneholde skadelig programvare
safeb-blocked-harmful-page-title = Nettstedet forut kan inneholde skadelig programvare
safeb-blocked-phishing-page-short-desc = { -brand-short-name } blokkerte denne siden fordi den kan få deg til å gjøre noe farlig som å installere programvare eller avsløre personlig informasjon som passord eller kredittkort.
safeb-blocked-malware-page-short-desc = { -brand-short-name } blokkerte denne siden fordi den kan forsøke å installere skadelig programvare som kan stjele eller slette personlig informasjon på datamaskinen din.
safeb-blocked-unwanted-page-short-desc = { -brand-short-name } blokkerte denne nettsiden fordi den kan prøve å lure deg til å installere programmer som skader nettleseropplevelsen din (for eksempel ved å endre startsiden din eller ved å vise ekstra annonser på nettsteder du besøker).
safeb-blocked-harmful-page-short-desc = { -brand-short-name } blokkerte denne siden fordi den kan prøve å installere farlige apper som stjeler eller sletter din informasjon (for eksempel bilder, passord, meldinger og kredittkort).
safeb-palm-advisory-desc = Rådgiving levert av <a data-l10n-name='advisory_provider'>{ $advisoryname }</a>.
safeb-palm-accept-label = Gå tilbake
safeb-palm-see-details-label = Se detaljer
safeb-blocked-phishing-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> er <a data-l10n-name='error_desc_link'>rapportert som et villedende nettsted</a>. Du kan <a data-l10n-name='report_detection'>rapportere et deteksjonsproblem</a> eller <a data-l10n-name='ignore_warning_link'>ignorere risikoen</a> og gå til dette usikre nettstedet.
safeb-blocked-phishing-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> er <a data-l10n-name='error_desc_link'>rapportert som et villedende nettsted</a>. Du kan <a data-l10n-name='report_detection'>rapportere et deteksjonsproblem</a>.
safeb-blocked-phishing-page-learn-more = Les mer om villedende nettsteder og nettfisking på <a data-l10n-name='learn_more_link'>www.antiphishing.org</a>. Les mer om { -brand-short-name } sin beskyttelse mot nettfisking og skadelig programvare på <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> er <a data-l10n-name='error_desc_link'>rapportert å inneholde skadelig programvare</a>. Du kan <a data-l10n-name='report_detection'>rapportere et deteksjonsproblem</a> eller <a data-l10n-name='ignore_warning_link'>ignorere risikoen</a> og gå til dette usikre nettstedet.
safeb-blocked-malware-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> er <a data-l10n-name='error_desc_link'>rapportert å inneholde skadelig programvare</a>. Du kan <a data-l10n-name='report_detection'>rapportere et deteksjonsproblem</a>.
safeb-blocked-malware-page-learn-more = Les mer om skadelig nettinnhold, inkludert virus og annen skadelig programvare, og hvordan du beskytter datamaskinen din på <a data-l10n-name='learn_more_link'>StopBadware.org</a>. Les mer om { -brand-short-name } sin beskyttelse mot nettfisking og skadelig programvare på <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-learn-more-sumo = Les mer om { -brand-short-name } sin beskyttelse mot nettfisking og skadelig programvare på <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-unwanted-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> er <a data-l10n-name='error_desc_link'>rapportert å inneholde skadelig programvare</a>. Du kan <a data-l10n-name='ignore_warning_link'>ignorere risikoen</a> og gå til dette usikre nettstedet.
safeb-blocked-unwanted-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> er <a data-l10n-name='error_desc_link'>rapportert å inneholde skadelig programvare</a>.
safeb-blocked-unwanted-page-learn-more = Les mer om skadelig og uønsket programvare på <a data-l10n-name='learn_more_link'>Uønsket programvarepolicy</a>. Les mer om { -brand-short-name } sin beskyttelse mot nettfisking og skadelig programvare på <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-harmful-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> er <a data-l10n-name='error_desc_link'>rapportert å inneholde potensielt skadelig programvare</a>. Du kan <a data-l10n-name='ignore_warning_link'>ignorere risikoen</a> og gå til dette usikre nettstedet.
safeb-blocked-harmful-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> er <a data-l10n-name='error_desc_link'>rapportert å inneholde potensielt skadelig programvare</a>.
safeb-blocked-harmful-page-learn-more = Les mer om { -brand-short-name } sin beskyttelse mot nettfisking og skadelig programvare på <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-palm-notdeceptive =
    .label = Dette er ikke et villedende nettsted …
    .accesskey = d
