# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Conectar otro dispositivo
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Si aún no lo ha hecho, instale <a data-l10n-name="connect-another-device">Firefox en su dispositivo móvil</a>.
fxa-qrcode-heading-phase2 = 2. Después inicie sesión en { -sync-brand-short-name }, o escanee en Android el código de conexión dentro de los ajustes de { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Si aún no lo ha hecho, instale <a data-l10n-name="connect-another-device">Firefox en su dispositivo móvil</a>.
fxa-qrcode-heading-step2 = 2. Abra Firefox en su dispositivo móvil.
fxa-qrcode-heading-step3 = 3. Abra el <b>menú</b> (<img data-l10n-name = "ios-menu-icon" /> o <img data-l10n-name = "android-menu-icon" />), toque <img data-l10n-name = "settings-icon" /> <b>Ajustes</b> y seleccione <b>Activar sincronización</b>
fxa-qrcode-heading-step4 = 4. Escanee este código:
fxa-qrcode-error-title = Emparejamiento fallido.
fxa-qrcode-error-body = Volver a intentar.
