# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = 실험적인 CSS Masonry 레이아웃 기능을 지원합니다. 기능에 대한 자세한 내용은 <a data-l10n-name="explainer">설명자</a>를 참조하세요. 사용자 의견을 제공하시려면, <a data-l10n-name="w3c-issue">이 GitHub 문제</a> 또는 <a data-l10n-name="bug">이 버그</a>에 의견을 보내주세요.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = 이 새로운 API는 사용자의 장치 또는 컴퓨터의 <a data-l10n-name="wikipedia">GPU (그래픽 처리 장치)</a>를 사용하여 계산 및 그래픽 렌더링을 수행하기 위한 낮은 수준의 지원을 제공합니다. <a data-l10n-name="spec">사양</a>은 여전히 진행 중입니다. 자세한 내용은 <a data-l10n-name="bugzilla">bug 1602129</a>를 참고하세요.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Media: AVIF
experimental-features-media-avif-description = 이 기능을 사용하면 { -brand-short-name }는 AVIF (AV1 이미지 파일) 형식을 지원합니다. 이것은 이미지 크기를 줄이기 위해 AV1 비디오 압축 알고리즘의 기능을 활용하는 정지 이미지 파일 형식입니다. 자세한 내용은 <a data-l10n-name="bugzilla">bug 1443863</a>을 참고하세요.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = <a data-l10n-name="mdn-inputmode">inputmode</a> 전역 속성 구현은 <a data-l10n-name="whatwg">WHATWG 사양</a>에 따라 업데이트되었습니다. 그러나 contenteditable 콘텐츠에서 사용할 수 있도록 하는 것과 같은 다른 변경도 여전히 필요합니다. 자세한 내용은 <a data-l10n-name="bugzilla">bug 1205133</a>을 참고하세요.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-link-preload =
    .label = Web API: <link rel="preload">
# Do not translate "rel", "preload" or "link" here, as they are all HTML spec
# values that do not get translated.
experimental-features-web-api-link-preload-description = <a data-l10n-name="link">&lt;link&gt;</a> 요소에서 <code>"preload"</code> 값을 가진 <a data-l10n-name="rel">rel</a> 속성은 페이지 수명 주기 초기에 리소스를 다운로드하여 리소스를 더 일찍 사용할 수 있게 하고 페이지 렌더링을 차단할 가능성을 줄임으로써 성능을 향상하는데 도움이 됩니다. 자세한 내용은 <a data-l10n-name="readmore">“<code>rel="preload"</code>를 사용하여 콘텐츠 사전로드”</a> 또는 <a data-l10n-name="bugzilla">bug 1583604</a>를 참고하세요.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-focus-visible =
    .label = CSS: Pseudo-class: :focus-visible
experimental-features-css-focus-visible-description = 마우스나 기타 포인팅 장치를 사용하여 포커스를 맞추지 않고 키보드를 사용하여 포커스를 맞춘 경우에만 (예: 요소 간 탭 이동) 포커스 스타일을 버튼 및 양식 컨트롤과 같은 요소에 적용합니다. 자세한 내용은 <a data-l10n-name="bugzilla">bug 1617600</a>을 참고하세요.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-beforeinput =
    .label = Web API: beforeinput Event
# The terms "beforeinput", "input", "textarea", and "contenteditable" are technical terms
# and shouldn't be translated.
experimental-features-web-api-beforeinput-description = 전역 <a data-l10n-name="mdn-beforeinput">beforeinput</a> 이벤트는 요소의 값이 변경되기 직전에 <a data-l10n-name="mdn-input">&lt;input&gt;</a> 및 <a data-l10n-name="mdn-textarea">&lt;textarea&gt;</a> 요소 또는 <a data-l10n-name="mdn-contenteditable">contenteditable</a> 속성이 활성화된 요소에서 발생합니다. 이 이벤트를 통해 웹 앱은 사용자 상호 작용에 대한 브라우저의 기본 동작을 재정의할 수 있습니다. 예를 들어 웹 앱은 특정 문자에 대해서만 사용자 입력을 취소하거나 승인된 스타일로만 붙여넣기 스타일의 텍스트를 수정할 수 있습니다.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> 인터페이스에 생성자를 추가하는 것뿐만 아니라 다양한 관련 변경으로 인해 시트를 HTML에 추가하지 않고도 새로운 스타일시트를 직접 만들 수 있습니다. 이를 통해 <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>과 함께 사용할 수 있는 재사용 가능한 스타일시트를 훨씬 쉽게 만들 수 있습니다. 자세한 내용은 <a data-l10n-name="bugzilla">bug 1520690</a>을 참고하세요.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-session-api =
    .label = Web API: Media Session API
experimental-features-media-session-api-description = 미디어 세션 API의 전체 { -brand-short-name } 구현은 현재 실험 중입니다. 이 API는 미디어 관련 알림 처리를 사용자 정의하고, 미디어 재생 관리를 위한 사용자 인터페이스를 제공하는데 유용한 이벤트 및 데이터를 관리하고, 미디어 파일 메타데이터를 얻는데 사용됩니다. 자세한 내용은 <a data-l10n-name="bugzilla">bug 1112032</a>를 참고하세요.
experimental-features-devtools-color-scheme-simulation =
    .label = 개발자 도구: 색 구성표 시뮬레이션
experimental-features-devtools-color-scheme-simulation-description = <a data-l10n-name="mdn-preferscolorscheme">@prefers-color-scheme</a> 미디어 쿼리를 테스트 할 수 있는 다양한 색 구성표를 시뮬레이션하는 옵션을 추가합니다. 이 미디어 쿼리를 사용하면 스타일시트가 사용자가 밝은 사용자 인터페이스를 선호하는지 어두운 사용자 인터페이스를 선호하는지에 응답할 수 있습니다. 이 기능을 사용하면 브라우저(또는 브라우저가 시스템 전체 색 구성표 설정을 따르는 경우는 운영 체제)의 설정을 변경하지 않고도 코드를 테스트 할 수 있습니다. 자세한 내용은 <a data-l10n-name="bugzilla1">bug 1550804</a> 및 <a data-l10n-name="bugzilla2">bug 1137699</a>를 참고하세요.
experimental-features-devtools-execution-context-selector =
    .label = 개발자 도구: 실행 컨텍스트 선택기
experimental-features-devtools-execution-context-selector-description = 이 기능은 콘솔의 명령줄에 입력한 표현식이 실행될 컨텍스트를 변경할 수 있는 버튼을 표시합니다. 자세한 내용은 <a data-l10n-name="bugzilla1">bug 1605154</a> 및 <a data-l10n-name="bugzilla2">bug 1605153</a>을 참고하세요.
experimental-features-devtools-compatibility-panel =
    .label = 개발자 도구: 호환성 패널
experimental-features-devtools-compatibility-panel-description = 앱의 브라우저 간 호환성 상태를 자세히 설명하는 정보를 표시하는 페이지 검사기의 측면 패널입니다. 자세한 내용은 <a data-l10n-name="bugzilla">bug 1584464</a>를 참고하세요.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cookies: SameSite=Lax가 기본값
experimental-features-cookie-samesite-lax-by-default2-description = 쿠키에 “SameSite” 속성이 지정되지 않은 경우 “SameSite=Lax”를 기본값으로 간주합니다. 무제한 사용시에는 개발자는 “SameSite=None”을 명확하게 명시해야 합니다.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cookies: SameSite=None은 secure 속성 필요
experimental-features-cookie-samesite-none-requires-secure2-description = “SameSite=None” 속성을 가진 쿠키에는 secure 속성이 필요합니다. 이 기능에는 “Cookies: SameSite=Lax가 기본값”이 필요합니다.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = about:home 시작 캐시
experimental-features-abouthome-startup-cache-description = 시작시 기본적으로 로드되는 초기 about:home 문서에 대한 캐시입니다. 캐시의 목적은 시작 성능을 향상시키는 것입니다.
experimental-features-print-preview-tab-modal =
    .label = 인쇄 미리보기 새 디자인
experimental-features-print-preview-tab-modal-description = 새롭게 디자인된 인쇄 미리보기를 소개하고 macOS에서 인쇄 미리보기를 사용할 수 있도록 합니다. 이로 인해 손상이 발생할 수 있으며 인쇄 관련 설정이 모두 포함되어 있지는 않습니다. 모든 인쇄 관련 설정에 액세스하려면, 인쇄 패널에서 "시스템 대화 상자를 사용하여 인쇄…"를 선택하세요.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = 같은 도메인이지만 다른 체계 (예: http://example.com과 https://example.com)의 쿠키를 same-site 대신 cross-site로 처리합니다. 보안을 향상시키지만 잠재적으로 깨짐이 발생할 수 있습니다.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = 개발자 도구: Service Worker 디버깅
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = 디버거 패널에서 Service Worker를 실험적으로 지원합니다. 이 기능은 개발자 도구의 속도를 저하시키고 메모리 소비를 증가시킬 수 있습니다.
# Desktop zooming experiment
experimental-features-graphics-desktop-zooming =
    .label = 그래픽: 부드러운 핀치 확대/축소
experimental-features-graphics-desktop-zooming-description = 터치 스크린 및 정밀 터치 패드에서 부드러운 핀치 확대/축소를 지원합니다.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = WebRTC 전역 음소거 설정/해제
experimental-features-webrtc-global-mute-toggles-description = WebRTC 전역 공유 표시기에 컨트롤을 추가하여 사용자가 전역적으로 마이크 및 카메라 피드를 음소거 할 수 있습니다.
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = JavaScript 성능 및 메모리 사용량을 향상시키는 프로젝트인 Warp를 활성화합니다.
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (사이트 격리)
experimental-features-fission-description = Fission (사이트 격리)은 { -brand-short-name }의 실험적 기능으로 보안 버그에 대한 추가적인 방어 계층을 제공합니다. 각 사이트를 별도의 프로세스로 분리함으로써 Fission은 악성 웹 사이트가 방문 중인 다른 페이지의 정보에 액세스하는 것을 더 어렵게 합니다. 이는 { -brand-short-name }의 주요 아키텍처 변경 사항이며 발생할 수 있는 문제를 테스트하고 보고해 주셔서 감사합니다. 자세한 내용은 <a data-l10n-name="wiki">위키</a>를 참조하세요.
