# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Connexion secur indisponibile
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Tu naviga in Modo HTTPS-solo, e un version secur HTTPS de <em>{ $websiteUrl }</em> non es disponibile.
about-httpsonly-insecure-explanation-reasons = Multo probabilemente le sito web non supporta HTTPS, ma il es alsi possibile que un attaccante bloca le version HTTPS.
about-httpsonly-insecure-explanation-exception = Ben que le risco de securitate es basse, si tu decide visitar le version HTTP del sito web, tu non deberea inserer ulle datos sensibile como contrasignos, emails, o detalios del carta de credito.
about-httpsonly-button-make-exception = Acceptar le risco e continuar al sito
about-httpsonly-title = { -brand-short-name } ha disvelate un potential problema de securitate
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = Tu naviga in Modo HTTPS-solo, e un version secur HTTPS de <em>{ $websiteUrl }</em> non es disponibile.
about-httpsonly-title-alert = Alerta del modo solo HTTPS
about-httpsonly-title-connection-not-available = Connexion secur non disponibile
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Tu ha activate le modo solo HTTPS pro melior securitate, ma non es disponibile un version HTTPS de <em>{ $websiteUrl }</em>.
about-httpsonly-explanation-question = Cosa pote causar lo?
about-httpsonly-explanation-nosupport = Multo probabilemente, le sito web simplemente non supporta HTTPS.
about-httpsonly-explanation-risk = Il es alsi possibile que un attaccante es implicate. Si tu decide visitar le sito web, tu non deberea inserer ulle datos sensibile como contrasignos, emails o detalios del carta de credito.
about-httpsonly-button-accept-and-continue = Acceptar le risco e continuar
about-httpsonly-explanation-continue = Si tu continua, le modo solo HTTPS essera temporarimente disactivate pro iste sito.
about-httpsonly-button-continue-to-site = Continuar al sito HTTP
about-httpsonly-button-go-back = Retornar
about-httpsonly-link-learn-more = Saper plus…
