# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Opret forbindelse til en ny enhed
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Installer <a data-l10n-name="connect-another-device">Firefox på din mobile enhed</a>, hvis du ikke allerede har gjort det.
fxa-qrcode-heading-phase2 = 2. Log ind på { -sync-brand-short-name }. Anvender du Android, kan du skanne parrings-koden i indstillingerne for { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1.<a data-l10n-name="connect-another-device">Installer Firefox på din mobile enhed,</a> hvis du ikke allerede har gjort det.
fxa-qrcode-heading-step2 = 2. Åbn Firefox på din mobile enhed.
fxa-qrcode-heading-step3 = 3. Åbn<b>menuen</b> (<img data-l10n-name="ios-menu-icon"/> eller <img data-l10n-name="android-menu-icon"/>), tryk på <img data-l10n-name="settings-icon"/> <b>Indstillinger</b> og vælg <b>Aktiver Sync</b>
fxa-qrcode-heading-step4 = 4. Skan denne kode:
fxa-qrcode-error-title = Parring mislykkedes.
fxa-qrcode-error-body = Prøv igen.
