# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Uma nova atualização do { -brand-shorter-name } está disponível.
    .buttonlabel = Baixar atualização
    .buttonaccesskey = B
    .secondarybuttonlabel = Agora não
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Atualize o { -brand-shorter-name } para ganhar mais velocidade e privacidade.
appmenu-update-manual =
    .label = Não é possível atualizar o { -brand-shorter-name } para a versão mais recente.
    .buttonlabel = Baixar o { -brand-shorter-name }
    .buttonaccesskey = B
    .secondarybuttonlabel = Agora não
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Baixe uma nova cópia do { -brand-shorter-name } e ajudaremos a instalar.
appmenu-update-whats-new =
    .value = Veja o que há de novo.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } não conseguiu atualizar para a versão mais recente.
    .buttonlabel = Saiba mais
    .buttonaccesskey = S
    .secondarybuttonlabel = Fechar
    .secondarybuttonaccesskey = F
appmenu-update-unsupported-message = A versão mais recente do { -brand-shorter-name } não é suportada pelo seu sistema.
appmenu-update-restart =
    .label = Reiniciar o { -brand-shorter-name } para atualizar.
    .buttonlabel = Reiniciar e restaurar
    .buttonaccesskey = R
    .secondarybuttonlabel = Agora não
    .secondarybuttonaccesskey = n
appmenu-update-restart-message = Após um reinício rápido, o { -brand-shorter-name } irá restaurar todas as abas e janelas abertas que não sejam de navegação privativa.
appmenu-addon-private-browsing-installed =
    .buttonlabel = OK, entendi
    .buttonaccesskey = O
appmenu-addon-post-install-message = Gerencie extensões clicando em <image data-l10n-name='addon-install-icon'></image> no menu <image data-l10n-name='addon-menu-icon'></image>
appmenu-addon-post-install-incognito-checkbox =
    .label = Permitir esta extensão em janelas privativas
    .accesskey = P
appmenu-new-tab-controlled =
    .label = Sua nova aba foi alterada.
    .buttonlabel = Manter alterações
    .buttonaccesskey = M
    .secondarybuttonlabel = Desativar extensão
    .secondarybuttonaccesskey = D
appmenu-homepage-controlled =
    .label = Sua página inicial foi alterada.
    .buttonlabel = Manter alterações
    .buttonaccesskey = M
    .secondarybuttonlabel = Desativar extensão
    .secondarybuttonaccesskey = D
appmenu-tab-hide-controlled =
    .label = Acessar suas abas ocultadas
    .buttonlabel = Manter abas ocultadas
    .buttonaccesskey = M
    .secondarybuttonlabel = Desativar extensão
    .secondarybuttonaccesskey = D
