# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = { -brand-full-name } பற்றி

releaseNotes-link = புதியவைகள்

update-checkForUpdatesButton =
    .label = புதியவை உள்ளதா எனப்பார்
    .accesskey = C

update-updateButton =
    .label = { -brand-shorter-name } புதுப்பிக்க மீள்துவக்கு
    .accesskey = R

update-checkingForUpdates = புதுப்பித்தல்களுக்கு சரிபார்க்கிறது…
update-downloading = <img data-l10n-name="icon"/>புதுப்பித்தல்களைப் பதிவிறக்குகிறது — <label data-l10n-name="download-status"/>
update-applying = மேம்படுத்தலை செயல்படுத்துகிறது...

update-failed = புதுப்பித்தல் தோல்வியுற்றது. <label data-l10n-name="failed-link">சமீபத்திய பதிப்பைப் பதிவிறக்கவும்</label>
update-failed-main = புதுப்பித்தல் தோல்வியுற்றது. <a data-l10n-name="failed-link-main">சமீபத்திய பதிப்பைப் பதிவிறக்கவும்</a>

update-adminDisabled = புதுப்பித்தல்கள் உங்கள் கணினி நிர்வாகி மூலம் செயல்நீக்கப்பட்டுள்ளன
update-noUpdatesFound = { -brand-short-name } புத்தம் புதியது
update-otherInstanceHandlingUpdates = { -brand-short-name } மற்றொரு நேர்வின் மூலம் புதுப்பிக்கப்படுகிறது

update-manual = புதுப்பித்தல்கள் இங்கே உள்ளன <label data-l10n-name="manual-link"/>

update-unsupported = இந்த கணினியில் நீங்கள் மேலும் புதுப்பித்தல்களை மேற்கொள்ள முடியாது. <label data-l10n-name="unsupported-link">மேலும் அறிய</label>

update-restarting = மறுதுவக்கம்…

channel-description = நீங்கள் தற்போது <label data-l10n-name="current-channel"></label> உலாவியை மேம்படுத்தப்போகிறீர்கள்.

warningDesc-version = { -brand-short-name } சோதனைக்காக மற்றும் நிலையற்றதாக இருக்கலாம்.

community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> இது ஒரு <label data-l10n-name="community-exp-creditsLink">உலகளாவிய சமூகம்</label> இணையத்தை திறந்ததாக , பொதுவானதாக மற்றும் அனைவருக்கும் கிடைக்கும் வகையில் இருக்க இணைந்து உழைக்கிறது.

community-2 = { -brand-short-name } ஐ வடிவமைத்து <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, ஒரு <label data-l10n-name="community-creditsLink">உலகளாவிய சமூகம்</label> இணையத்தை திறந்ததாக , பொதுவானதாக மற்றும் அனைவருக்கும் கிடைக்கும் வகையில் இருக்க இணைந்து உழைக்கிறது.

helpus = உதவ விருப்பமா? <label data-l10n-name="helpus-donateLink">கொடை வழங்குங்கள்</label> அல்லது <label data-l10n-name="helpus-getInvolvedLink">பங்காற்றுங்கள்!</label>

bottomLinks-license = உரிம தகவல்
bottomLinks-rights = பயனர் உரிமைகள்
bottomLinks-privacy = தனியுரிமை கொள்கை

# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-பிட்)

# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version }({ $isodate })({ $bits }-பிட்)
