# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = 安全な接続が利用できません

# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = HTTPS-Only Mode でブラウジングしていますが、安全な HTTPS バージョンの <em>{ $websiteUrl }</em> が利用できません。
about-httpsonly-insecure-explanation-reasons = おそらく、ウェブサイトが HTTPS をサポートしていないか、攻撃者が HTTPS バージョンをブロックしている可能性もあります。
about-httpsonly-insecure-explanation-exception = セキュリティの危険性が低いと判断して HTTP バージョンのウェブサイトへ移動することにした場合でも、パスワードやメールアドレス、クレジットカードなどの取り扱いに注意が必要な情報を入力してはいけません。

about-httpsonly-button-make-exception = 危険性を承知の上でサイトへ移動する

about-httpsonly-title = { -brand-short-name } が潜在的なセキュリティの問題を検出しました

# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = HTTPS-Only モードでブラウジングしていますが、安全な HTTPS バージョンの <em>{ $websiteUrl }</em> が利用できません。

about-httpsonly-title-alert = HTTPS-Only モード警告
about-httpsonly-title-connection-not-available = 安全な接続が利用できません

# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = セキュリティを強化する HTTPS-Only モードは有効ですが、<em>{ $websiteUrl }</em> の HTTPS バージョンは利用できません。
about-httpsonly-explanation-question = この問題の原因は？
about-httpsonly-explanation-nosupport = おそらく、ウェブサイトが HTTPS をサポートしていないだけでしょう。
about-httpsonly-explanation-risk = また、攻撃者が関係している可能性もあります。ウェブサイトへ移動することにした場合でも、パスワードやメールアドレス、クレジットカードなどの取り扱いに注意が必要な情報を入力してはいけません。

about-httpsonly-button-accept-and-continue = 危険性を承知の上で続ける
about-httpsonly-explanation-continue = 続ける場合、このサイトでは HTTPS-Only モードが一時的にオフになります。

about-httpsonly-button-continue-to-site = HTTP サイトを開く
about-httpsonly-button-go-back = 戻る
about-httpsonly-link-learn-more = 詳細情報...
