# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Ottaa käyttöön tuen kokeelliselle CSS Masonry Layout -ominaisuudelle. Yleiskuvauksen ominaisuudesta saa englanniksi <a data-l10n-name="explainer">tästä selostuksesta</a>. Palautetta voi antaa englanniksi kommentoimalla <a data-l10n-name="w3c-issue">tähän GitHub-issueen</a> tai <a data-l10n-name="bug">tähän bugiraporttiin</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Tämä uusi API tarjoaaa matalan tason tuen laskennan suorittamiseen ja grafiikan piirtämiseen käyttäen käyttäjän laitteen <a data-l10n-name="wikipedia">grafiikkaprosessoria (GPU)</a>. <a data-l10n-name="spec">Määrittely</a> on vielä keskeneräinen. Lisätietoja on <a data-l10n-name="bugzilla">bugissa 1602129</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Media: AVIF
experimental-features-media-avif-description = Kun tämä ominaisuus on käytössä, { -brand-short-name } tukee AV1-kuvatiedostomuotoa (AVIF). Se on liikkumattoman kuvan tiedostomuoto, joka hyödyntää AV1-videopakkausalgoritmin keinoja kuvan koon pienentämiseksi. Lisätietoja on <a data-l10n-name="bugzilla">bugissa 1443863</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = Globaalin attribuutin <a data-l10n-name="mdn-inputmode">inputmode</a> toteutuksemme on päivitetty <a data-l10n-name="whatwg">WHATWG-määrittelyn</a> mukaisesti, mutta meidän tarvitsee vielä tehdä muitakin muutoksia, kuten mahdollistaa sen käyttö contenteditable-sisällössä. Lisätietoja on <a data-l10n-name="bugzilla">bugissa 1205133</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-link-preload =
    .label = Web API: <link rel="preload">
# Do not translate "rel", "preload" or "link" here, as they are all HTML spec
# values that do not get translated.
experimental-features-web-api-link-preload-description = <a data-l10n-name="rel">rel</a>-attribuutin arvo <code>"preload"</code> <a data-l10n-name="link">&lt;link&gt;</a>-elementissä on tarkoitettu auttamaan suorituskyvyn parantamisessa. Arvon ansiosta resurssit voidaan ladata aiemmin sivun elinkaaren aikana, minkä johdosta ne ovat saatavilla aiemmin ja siten estävät epätodennäköisemmin sivun piirtämisen. Lue lisää artikkelista <a data-l10n-name="readmore">”Preloading content with <code>rel="preload"</code>”</a> tai <a data-l10n-name="bugzilla">bugista 1583604</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-focus-visible =
    .label = CSS: Pseudo-class: :focus-visible
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-beforeinput =
    .label = Web API: beforeinput Event
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-devtools-color-scheme-simulation =
    .label = Web-työkalut: Väriteeman simulointi
experimental-features-devtools-execution-context-selector =
    .label = Web-työkalut: Suorituskontekstin valitsin
experimental-features-devtools-execution-context-selector-description = Tämä ominaisuus näyttää konsolin komentorivillä painikkeen, josta voi vaihtaa kontekstin, missä kirjoitettu lauseke suoritetaan. Lisätietoja on <a data-l10n-name="bugzilla1">bugissa 1605154</a> ja <a data-l10n-name="bugzilla2">bugissa 1605153</a>.
experimental-features-devtools-compatibility-panel =
    .label = Web-työkalut: Compatibility-paneeli
experimental-features-devtools-compatibility-panel-description = Sivupaneeli sivun Inspector-työkalulle. Näyttää tietoja sovelluksen selainyhteensopivuudesta. Lisätietoja on <a data-l10n-name="bugzilla">bugissa 1584464</a>.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Evästeet: SameSite=Lax oletusarvoisesti
experimental-features-cookie-samesite-lax-by-default2-description = Käsittele evästeet oletusarvoisesti kuin niillä olisi attribuutti ”SameSite=Lax”, jos ”SameSite”-attribuuttia ei ole annettu. Kehittäjien täytyy valita nykytilanteen mukainen rajaton käyttö antamalla eksplisiittisesti attribuutti ”SameSite=None”.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Evästeet: SameSite=None vaatii secure-attribuutin
experimental-features-cookie-samesite-none-requires-secure2-description = Attribuutin ”SameSite=None” sisältävät evästeet vaativat secure-attribuutin. Tämä ominaisuus vaatii ominaisuuden ”Evästeet: SameSite=Lax oletusarvoisesti”.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = about:home-sivun käynnistyksen välimuisti
experimental-features-abouthome-startup-cache-description = Käynnistyksessä oletuksena ladattavan about:home-sivun välimuisti. Sen tarkoitus on parantaa käynnistymisen suorituskykyä.
experimental-features-print-preview-tab-modal =
    .label = Tulostuksen esikatselun uusi design
experimental-features-print-preview-tab-modal-description = Ottaa käyttöön tulostuksen esikatselun uuden designin ja mahdollistaa tulostuksen esikatselun macOS-käyttöjärjestelmässä. Tämä ei välttämättä toimi täysin eikä sisällä kaikki tulostusasetuksia. Loppujen tulostusasetusten muuttamiseksi tarvitsee valita ”Tulosta käyttäen järjestelmän tulostusikkunaa…” Tulosta-paneelista.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Evästeet: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Käsittele evästeitä samasta verkkotunnuksesta mutta eri skeemasta (esim. http://example.com ja https://example.com) sivustorajat ylittävinä äläkä saman sivuston evästeinä. Parantaa tietoturvaa, mutta voi aiheuttaa toimimattomuutta.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Web-työkalut: Service Worker -vianjäljitys
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Ottaa käyttöön kokeellisen Service Worker -tuen Debugger-paneelissa. Tämä voi hidastaa web-työkaluja ja lisätä muistinkulutusta.
# Desktop zooming experiment
experimental-features-graphics-desktop-zooming =
    .label = Grafiikka: Sulava nipistyszoomaus
experimental-features-graphics-desktop-zooming-description = Ota käyttöön tuki zoomaamiseen nipistämällä, kun käytetään kosketusnäyttöä tai tarkkuuskosketuslevyä.
