# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Activa le assistentia al functionalitate de mappa Masonry CSS experimental. Vide le <a data-l10n-name="explainer">explainer</a> pro un alte nivello de description del functionalitate. Pro fornir commentarios, per favor commenta in <a data-l10n-name="w3c-issue">iste problema de GitHub</a> o <a data-l10n-name="bug">iste error</a>
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Iste nove API offere le supporto a basse nivello pro prestationes de computation e rendition graphic per le <a data-l10n-name="wikipedia">Unitate de Processo Graphic - (GPU)</a> del apparato del usator. Le <a data-l10n-name="spec">specificationes</a> es ancora un labor in curso. Vide <a data-l10n-name="bugzilla">bug 1602129</a> pro altere detalios.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Medios: AVIF
experimental-features-media-avif-description = Con iste functionalitate activate, { -brand-short-name } supporta le formato de file de imagine AV1 (AVIF). Isto es un altere formato de file imagine que potentia le capacitates del algorithmos de compression video AV1 pro reducer le dimension imagine. Vide <a data-l10n-name="bugzilla">bug 1443863</a> pro altere detalios.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = Nostre implementation del attributo global <a data-l10n-name="mdn-inputmode">inputmode</a> ha essite actualisate secundo le <a data-l10n-name="whatwg">specificationes WHATWG</a>, ma nos debe ancora facer altere cambiamentos, p.ex. render lo disponibile pro contento "contenteditable". Vide <a data-l10n-name="bugzilla">bug 1205133</a> pro plus detalios.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-link-preload =
    .label = Web API: <link rel="preload">
# Do not translate "rel", "preload" or "link" here, as they are all HTML spec
# values that do not get translated.
experimental-features-web-api-link-preload-description = Le attributo <a data-l10n-name="rel">rel</a> con valor <code>"preload"</code> sur un elemento <a data-l10n-name="link">&lt;link&gt;</a> servi meliorar le prestationes, discargante ressources in le phase initial del cyclo de vita del pagina. Assi le ressources es disponibile plus rapidemente e es minus probabile le bloco del rendition del pagina. Lege <a data-l10n-name="readmore">“Pre-cargamento del contento con <code>rel="preload"</code>”</a> o vide <a data-l10n-name="bugzilla">error 1583604</a> pro altere detalios.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-focus-visible =
    .label = CSS: pseudo-classe :focus-visible
experimental-features-css-focus-visible-description = Consenti applicar stilos foco a elementos como buttones e controlo de modulo, solo quando illos es eligite per le claviero (e.g. passante inter elementos per le clave de tabulation) e non quando illos es eligite per un mus o altere dispositivo pro punctar. Vide <a data-l10n-name="bugzilla">bug 1617600</a> pro altere detalios.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-beforeinput =
    .label = Web API: beforeinput Event
# The terms "beforeinput", "input", "textarea", and "contenteditable" are technical terms
# and shouldn't be translated.
experimental-features-web-api-beforeinput-description = Le evento global <a data-l10n-name="mdn-beforeinput">beforeinput</a> es activate sur elementos <a data-l10n-name="mdn-input">&lt;input&gt;</a> and <a data-l10n-name="mdn-textarea">&lt;textarea&gt;</a> o ulle elemento del qual es activate le attributo <a data-l10n-name="mdn-contenteditable">contenteditable</a>, immediatemente ante le cambiamentos de valor del elemento. Le evento consenti al applicationes web de supplantar le comportamento predefinite del navigator pro le interactiones del usator, e.g. web applicationes poter cancellar entrata del usator solo pro specific characteres o pote modificar le texto collate stylisate solo con stilos approbate.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = Le addition de un constructor al interfacie  <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a>  e un varietate de cambiamentos correlate rende possibile crear directemente nove folios de stilo sin deber adder le folio al HTML. Iste rende multo plus facile crear folios de stilo reusabile pro <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Vide <a data-l10n-name="bugzilla">bug 1520690</a> pro altere detalios.
experimental-features-devtools-color-scheme-simulation =
    .label = Utensiles de disveloppator: simulation schema colores
experimental-features-devtools-color-scheme-simulation-description = Adde un option pro simular plure schemas de color e te permitte testar consultation de medios per <a data-l10n-name="mdn-preferscolorscheme">@prefers-color-scheme</a>. Per iste functionalitate tu pote testar tu codice sin deber cambiar parametros in tu navigator (o in tu systema operative, si le navigator seque un configuration del combination de colores pro le systema-integre). Vide <a data-l10n-name="bugzilla1">bug 1550804</a> e <a data-l10n-name="bugzilla2">bug 1137699</a> pro major detalios.
experimental-features-devtools-execution-context-selector =
    .label = Utensiles de disveloppator: selector del contexto de execution
experimental-features-devtools-execution-context-selector-description = Iste function monstra un button sur le linea de commando del consola pro cambiar le contexto in le qual le expression que tu insere sera executate. Vide <a data-l10n-name="bugzilla1">bug 1605154</a> e <a data-l10n-name="bugzilla2">bug 1605153</a> pro ulterior detalios.
experimental-features-devtools-compatibility-panel =
    .label = Utensiles de disveloppator: quadro compatibilitate
experimental-features-devtools-compatibility-panel-description = Un quadro lateral pro le Inspector de pagina que te monstra informationes detaliate super le stato de compatibilitate inter le navigatores de tu application. Vide <a data-l10n-name="bugzilla">bug 1584464</a> pro altere detalios.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cookie: SameSite=lax predefinite
experimental-features-cookie-samesite-lax-by-default2-description = Tractar cookies como “SameSite=lax” predefinite si nulle attributo “sameSite” es specificate. Le disveloppatores debe eliger le actual stato de utilisation sin restrictiones per definir explicitemente “SameSite=none”.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cookies: SameSite=None require le attributo secur
experimental-features-cookie-samesite-none-requires-secure2-description = Le cookies con attributo “SameSite=None” require le attributo "secure". Iste function require “Cookies: SameSite=Lax predefinite”.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = cache de initio pro about:home
experimental-features-abouthome-startup-cache-description = Cache pro le contento initial del pagina about:home que es normalmente cargate al initio. Le cache es pro augmentar le velocitate del initialisation.
experimental-features-print-preview-tab-modal =
    .label = Nove vista preliminar del impression
experimental-features-print-preview-tab-modal-description = Introduce le nove version transformate del vista preliminar del impression e rende le vista preliminar del impression disponibile sur macOS. Isto pote causar defectos e non include tote le configurationes associate al impression. Pro acceder a tote le configurationes associate al impression, selige "Imprimer usante le dialogo del systema…” ab le pannello Imprimer.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Tracta cookies del mesme dominio, ma con differente schemas (e.g. http://example.com e https://example.com) como inter-sitos in vice del mesme-sito. Meliora le securitate, ma pote introducer problemas.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Utensiles de disveloppator: depuration de obrero de servicio
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Activa supporto experimental pro Service Workers in le quadro Depurator. Iste function pote relentar le Utensiles de disveloppator e augmentar le consumption de memoria.
# Desktop zooming experiment
experimental-features-graphics-desktop-zooming =
    .label = Graphica: zoom a prisa lisie
experimental-features-graphics-desktop-zooming-description = Activa le supporto al zoom a prisa lisie sur schermos tactile e placas tactile de precision.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = Activar/disactivar audio e video WebRTC globalmente
experimental-features-webrtc-global-mute-toggles-description = Adder controlos al indicator de compartimento global WebRTC que permitte al usatores de silentiar globalmente le fluxos de lor microphono e camera.
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Activar Warp, un projecto pro meliorar prestation e uso de memoria de JavaScript.
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (Isolation de sitos)
experimental-features-fission-description = Fission (isolamento de sitos) es un function experimental in { -brand-short-name } que forni un strato additional de defensa contra defectos de securitate. Isolante cata sito in un processo separate, Fission rende plus difficile pro sitos web maligne acceder a informationes de altere paginas que tu visita. Isto es un grande cambiamento architectural in { -brand-short-name } e nos multo appreciarea tu adjuta a testar isto e reportar omne problemas que tu incontra. Pro plus detalios, vider <a data-l10n-name="wiki">le wiki</a>.
