# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Connexiun segirada betg disponibla
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Ti navigheschas en il modus «mo HTTPS» ed ina versiun HTTPS segira da <em>{ $websiteUrl }</em> na stat betg a disposiziun.
about-httpsonly-insecure-explanation-reasons = Probablamain na sustegna la website betg HTTPS, ma igl è era pussaivel ch'in attatgader blochescha la versiun HTTPS.
about-httpsonly-insecure-explanation-exception = Schebain che la ristga per la segirezza è pitschna: Sche ti ta decidas da visitar la versiun HTTP da la website, na duessas ti endatar naginas infurmaziuns sensiblas sco pleds-clav, e-mails u detagls da cartas da credit.
about-httpsonly-button-make-exception = Acceptar la ristga e chargiar la pagina
about-httpsonly-title = { -brand-short-name } ha chattà in problem da segirezza potenzial
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = Ti navigheschas en il modus «mo HTTPS» ed ina versiun HTTPS segira da <em>{ $websiteUrl }</em> na stat betg a disposiziun.
about-httpsonly-title-alert = Avis dal modus mo HTTPS
about-httpsonly-title-connection-not-available = Connexiun segirada betg disponibla
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Ti has activà il modus «mo HTTPS» per augmentar la segirezza ed ina versiun HTTPS da <em>{ $websiteUrl }</em> na stat betg a disposiziun.
about-httpsonly-explanation-question = Tge pudess esser il motiv?
about-httpsonly-explanation-nosupport = Pli probabel na sustegna la website simplamain betg HTTPS.
about-httpsonly-explanation-risk = Igl è era pussaivel ch'in attatgader è involvì. Sche ti ta decidas da visitar la website, na duessas ti endatar naginas infurmaziuns sensiblas sco pleds-clav, e-mails u detagls da cartas da credit.
about-httpsonly-button-accept-and-continue = Acceptar la ristga e cuntinuar
about-httpsonly-explanation-continue = Sche ti cuntinueschas, vegn il modus mo HTTPS deactivà temporarmain per questa website.
about-httpsonly-button-continue-to-site = Cuntinuar cun la website HTTP
about-httpsonly-button-go-back = Turnar
about-httpsonly-link-learn-more = Ulteriuras infurmaziuns…
