# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = May mapanlinlang na site
safeb-blocked-malware-page-title = Ang pagbisita sa website na ito ay maaaring makapinsala sa iyong computer
safeb-blocked-unwanted-page-title = Ang site na pupuntahan ay maaaring maglaman ng mga mapanganib na programa
safeb-blocked-harmful-page-title = Ang site na nasa unahan ay maaaring maglaman ng malware
safeb-blocked-phishing-page-short-desc = Hinarang ng { -brand-short-name } ang page na ito dahil maaari ka nitong linlangin at malagay sa alanganin kagaya ng pagkabit ng software o kaya'y magbigay ng personal na impormasyon kagaya ng mga password at credit card.
safeb-blocked-malware-page-short-desc = Hinarang ng { -brand-short-name } ang pahinang ito dahil maaari nitong subukang magkabit ng mapaminsalang software na maaaring magnakaw o magbura ng personal na impormasyon sa iyong computer.
safeb-blocked-unwanted-page-short-desc = Hinarang ng { -brand-short-name } ang page na ito dahil maaari ka nitong linlangin na magkabit ng mga program na makasasama sa iyong browsing experience (halimbawa, sa pagpalit ng iyong homepage o kaya magpakita ng dagdag na ad sa mga binibisita mong site).
safeb-blocked-harmful-page-short-desc = Hinarang ng { -brand-short-name } ang page na ito dahil maaari nitong subukang magkabit ng mga delikadong app na nagnanakaw o nagbubura ng iyong mga impormasyon (halimbawa, mga larawan, password, mensahe at credit card).
safeb-palm-advisory-desc = Ang pagpapayo ay ibinigay ng <a data-l10n-name='advisory_provider'>{ $advisoryname }</a>.
safeb-palm-accept-label = Bumalik
safeb-palm-see-details-label = Tignan ang detalye
safeb-blocked-phishing-page-error-desc-override = Ang <span data-l10n-name='sitename'>{ $sitename }</span> ay <a data-l10n-name='error_desc_link'>naiulat bilang isang deceptive site</a>. Maaari mong <a data-l10n-name='report_detection'>i-report ito bilang isang detection problem</a> o <a data-l10n-name='ignore_warning_link'>hindi pansinin ang panganib</a> at pumunta sa hindi ligtas na site na ito.
safeb-blocked-phishing-page-error-desc-no-override = Ang <span data-l10n-name='sitename'>{ $sitename }</span> ay <a data-l10n-name='error_desc_link'>iniulat bilang isang deceptive site</a>. Maaari mong <a data-l10n-name='report_detection'>i-report ito bilang isang detection problem</a>.
safeb-blocked-phishing-page-learn-more = Alamin ang tungkol sa mga deceptive site at phishing sa <a data-l10n-name='learn_more_link'>www.antiphishing.org</a>. Alamin ang tungkol sa Phishing at Malware Protection ng { -brand-short-name } sa <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override = Ang <span data-l10n-name='sitename'>{ $sitename }</span> ay <a data-l10n-name='error_desc_link'>naiulat na may nilalamang mapanganib na software</a>. Maaari kang <a data-l10n-name='report_detection'>magsumbong ng detection problem</a> o <a data-l10n-name='ignore_warning_link'>huwag pansinin ang panganib</a> at puntahan ang di-ligtas na site na ito.
safeb-blocked-malware-page-error-desc-no-override = ang <span data-l10n-name='sitename'>{ $sitename }</span> ay <a data-l10n-name='error_desc_link'>inireport na nagkokontamina ng mapaminsalang software</a>. Maaari ka <a data-l10n-name='report_detection'>mag-ulat ng isang problema sa pag-detect</a>.
safeb-blocked-malware-page-learn-more = Alamin ang tungkol sa mapanganib na web content kabilang na ang mga virus at iba pang malware at kung paano mapoprotektahan ang iyong computer sa <a data-l10n-name='learn_more_link'>StopBadware.org</a>. Alamin ang tungkol sa Phishing at Malware Protection ng { -brand-short-name } sa <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-learn-more-sumo = Alamin ang tungkol sa Phishing at Malware Protection ng { -brand-short-name } sa <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-unwanted-page-error-desc-override = Ang <span data-l10n-name='sitename'>{ $sitename }</span> ay <a data-l10n-name='error_desc_link'>naiulat na naglalaman ng mapanganib na software</a>. Maaari mong <a data-l10n-name='ignore_warning_link'>hindi pansinin ang panganib</a> at puntahan ang di-ligtas na site na ito.
safeb-blocked-unwanted-page-error-desc-no-override = Ang <span data-l10n-name='sitename'>{ $sitename }</span> ay <a data-l10n-name='error_desc_link'>naiulat na naglalaman ng mapanganib na software</a>.
safeb-blocked-unwanted-page-learn-more = Alamin ang tungkol sa mapanganib at di-kanais-nais na software sa <a data-l10n-name='learn_more_link'>Unwanted Software Policy</a>. Alamin ang tungkol sa Phishing at Malware Protection ng { -brand-short-name } sa <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-harmful-page-error-desc-override = Ang <span data-l10n-name='sitename'>{ $sitename }</span> ay <a data-l10n-name='error_desc_link'>naiulat na naglalaman ng application na may potensyal na makasira</a>. Maaari mong <a data-l10n-name='ignore_warning_link'>hindi pansinin ang panganib</a> at puntahan ang di-ligtas na site na ito.
safeb-blocked-harmful-page-error-desc-no-override = Ang <span data-l10n-name='sitename'>{ $sitename }</span> ay <a data-l10n-name='error_desc_link'>naiulat na naglalaman ng application na may potensyal na makasira</a>.
safeb-blocked-harmful-page-learn-more = Matuto ng higit pa patungkol sa { -brand-short-name }’s Phishing at Malware proteksyon sa <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-palm-notdeceptive =
    .label = Ito ay hindi mapagkunwaring site...
    .accesskey = d
