# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Drugi rěd zwězaś
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Jolic to hyšći njejsćo cynił, instalěrujśo <a data-l10n-name="connect-another-device">Firefox na swójom mobilnem rěźe</a>.
fxa-qrcode-heading-phase2 = 2. Pśizjawjśo se pótom pla { -sync-brand-short-name } abo skannujśo na Android koplowański kod z nastajenjow { -sync-brand-short-name } wen.
fxa-qrcode-heading-step1 = 1. Jolic to hyšći njejsćo cynił, instalěrujśo <a data-l10n-name="connect-another-device">Firefox na swójom mobilnem rěźe</a>.
fxa-qrcode-heading-step2 = 2. Wócyńśo Firefox na swójom mobilnem rěźe.
fxa-qrcode-heading-step3 = 3. Wócyńśo <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> abo <img data-l10n-name="android-menu-icon"/>), pótusniśo <img data-l10n-name="settings-icon"/> <b>Nastajenja</b> a wubjeŕśo <b>Synchronizěrowanje zmóžniś</b>
fxa-qrcode-heading-step4 = Toś ten kod skannowaś:
fxa-qrcode-error-title = Koplowanje njejo se raźiło.
fxa-qrcode-error-body = Hyšći raz wopytaś.
