# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = Obmanjujuća stranica
safeb-blocked-malware-page-title = Posjećivanje ove stranice može naštetiti tvom računalu
safeb-blocked-unwanted-page-title = Sljedeća stranica može sadržavati zlonamjerne programe
safeb-blocked-harmful-page-title = Sljedeća stranica može sadržavati zlonamjerni softver
safeb-blocked-phishing-page-short-desc = { -brand-short-name } je blokirao ovu stranicu jer bi te mogla navesti da učiniš nešto opasno, poput instaliranja softvera ili otkrivanja osobnih podataka kao što lozinke ili brojevi kreditnih kartica.
safeb-blocked-malware-page-short-desc = { -brand-short-name } je blokirao ovu stranicu jer može pokušati instalirati zlonamjeran softver koji bi mogao ukrasti ili izbrisati osobne podatke na tvom računalu.
safeb-blocked-unwanted-page-short-desc = { -brand-short-name } je blokirao ovu stranicu jer bi te mogla navesti na instaliranje programa koji štete tvom načinu surfanja (npr. mijenja početnu stranicu ili da ti prikazuje oglase na stranicama koje posjećuješ).
safeb-blocked-harmful-page-short-desc = { -brand-short-name } je blokirao ovu stranicu iz razloga što možda pokušava instalirati zlonamjerne aplikacije koje kradu ili brišu tvoje podatke (npr. slike, lozinke, poruke i kreditne kartice).
safeb-palm-advisory-desc = Savjetovanje pruža <a data-l10n-name='advisory_provider'>{ $advisoryname }</a>.
safeb-palm-accept-label = Idi natrag
safeb-palm-see-details-label = Pogledaj detalje
safeb-blocked-phishing-page-error-desc-override = Stranica <span data-l10n-name='sitename'>{ $sitename }</span> je <a data-l10n-name='error_desc_link'>prijavljena kao obmanjujuća stranica</a>. Možete <a data-l10n-name='report_detection'>prijaviti problem</a> ili <a data-l10n-name='ignore_warning_link'>ignorirati rizik</a> i posjetiti nesigurnu stranicu.
safeb-blocked-phishing-page-error-desc-no-override = Stranica <span data-l10n-name='sitename'>{ $sitename }</span> je <a data-l10n-name='error_desc_link'>prijavljena kao obmanjujuća</a>. Možete <a data-l10n-name='report_detection'>prijaviti problem</a>.
safeb-blocked-phishing-page-learn-more = Saznaj više o obmanjujućim stranicama i phishingu <a data-l10n-name='learn_more_link'>www.antiphishing.org</a>. Saznaj više o { -brand-short-name } zaštiti od phishinga i štetnog softvera na <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override = Stranica <span data-l10n-name='sitename'>{ $sitename }</span> je <a data-l10n-name='error_desc_link'>prijavljena da sadrži zlonamjeran softver</a>. Možete <a data-l10n-name='report_detection'>prijaviti problem</a> ili <a data-l10n-name='ignore_warning_link'>ignorirati rizik</a> i posjetiti ovu nesigurnu stranicu.
safeb-blocked-malware-page-error-desc-no-override = Stranica <span data-l10n-name='sitename'>{ $sitename }</span> je prijavljena da <a data-l10n-name='error_desc_link'>sadrži zlonamjeran softver</a>. Možete <a data-l10n-name='report_detection'>prijaviti problem</a>.
safeb-blocked-malware-page-learn-more = Saznaj više o štetnom web sadržaju uključujući viruse i druge štetne softvere te kako zaštititi tvoje računalo na <a data-l10n-name='learn_more_link'>StopBadware.org</a>. Saznaj više o { -brand-short-name } zaštiti od phishinga i štetnog softvera na <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-learn-more-sumo = Saznaj više o { -brand-short-name }ovoj zaštiti od phishinga i zlonamjernog softvera na <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-unwanted-page-error-desc-override = Stranica <span data-l10n-name='sitename'>{ $sitename }</span> je <a data-l10n-name='error_desc_link'>prijavljena da sadrži štetan softver</a>. Možete <a data-l10n-name='ignore_warning_link'>ignorirati rizik</a> i posjetiti ovu nesigurnu stranicu.
safeb-blocked-unwanted-page-error-desc-no-override = Stranica <span data-l10n-name='sitename'>{ $sitename }</span> je <a data-l10n-name='error_desc_link'>prijavljena da sadrži štetan softver</a>.
safeb-blocked-unwanted-page-learn-more = Saznaj više o štetnom i neželjenom softveru na stranici <a data-l10n-name='learn_more_link'>politike o neželjenom softveru</a>. Saznaj više o { -brand-short-name } zaštiti od phishinga i štetnog softvera na <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-harmful-page-error-desc-override = Stranica <span data-l10n-name='sitename'>{ $sitename }</span> je <a data-l10n-name='error_desc_link'>prijavljens da sadrži potencijalno štetnu aplikaciju</a>. Možete <a data-l10n-name='ignore_warning_link'>ignorirati rizik</a> i posjetiti ovu nesigurnu stranicu.
safeb-blocked-harmful-page-error-desc-no-override = Stranica <span data-l10n-name='sitename'>{ $sitename }</span> je <a data-l10n-name='error_desc_link'>prijavljena da sadrži potencijalno štetnu aplikaciju</a>.
safeb-blocked-harmful-page-learn-more = Saznaj više o { -brand-short-name } zaštiti od phishinga i štetnog softvera na <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-palm-notdeceptive =
    .label = Ovo nije obmanjujuća stranica…
    .accesskey = d
