# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Boas-vindas ao { -brand-full-name }
account-settings = Configurações da conta
#   $accounts (Number) - the number of configured accounts
setup-title = Escolha o que configurar
about-title = Sobre o { -brand-full-name }
resources-title = Recursos
release-notes =
    .title = Sobre o { -brand-full-name }
email-label = E-mail
    .aria-label = Conectar à sua conta de e-mail já existente
email-description = O { -brand-short-name } permite conectar-se à sua conta de e-mail existente, para ler seus e-mails de maneira conveniente e eficiente dentro do aplicativo.
calendar-label = Agenda
    .aria-label = Criar uma nova agenda
calendar-description = O { -brand-short-name } permite gerenciar eventos e manter você organizado. A conexão com uma agenda remota mantém todos os seus eventos sincronizados em todos os seus dispositivos.
chat-label = Conversa
    .aria-label = Conectar-se à sua conta de conversas
chat-description = O { -brand-short-name } permite conectar-se a várias contas de mensagens instantâneas, oferecendo suporte a várias plataformas.
filelink-label = Filelink
    .aria-label = Configurar anexos online
filelink-description = O { -brand-short-name } permite configurar uma conveniente conta na nuvem de links de arquivos para enviar anexos grandes com facilidade.
addressbook-label = Catálogo de endereços
    .aria-label = Criar um novo catálogo de endereços
addressbook-description = O { -brand-short-name } permite organizar todos os seus contatos em um catálogo de endereços. Você também pode se conectar a um catálogo de endereços remoto para manter todos os seus contatos sincronizados.
feeds-label = RSS
    .aria-label = Conectar-se a RSS
feeds-description = O { -brand-short-name } permite conectar-se a feeds RSS/Atom para obter notícias e atualizações de todos os lados.
newsgroups-label = Grupos de notícias
    .aria-label = Conectar a um grupos de notícias
newsgroups-description = O { -brand-short-name } permite conectar-se a todos os grupos de notícias que deseja.
import-title = Importar de outro programa
import-paragraph = O { -brand-short-name } permite importar mensagens de e-mail, itens do catálogo de endereços, assinaturas de feeds, preferências e/ou filtros de outros programas de e-mail e formatos comuns de catálogo de endereços.
import-label = Importar
    .aria-label = Importar dados de outros programas
about-paragraph = O Thunderbird é o principal cliente de e-mail e agenda de código aberto, multiplataforma e livre para uso comercial e pessoal. Queremos que ele permaneça seguro e melhore ainda mais. Uma doação nos permitirá contratar mais desenvolvedores, pagar a infraestrutura e continuar a aprimorar.
about-paragraph-2 = <b>O Thunderbird é financiado por usuários como você! Se gosta de usar o Thunderbird, considere fazer uma doação.</b> A melhor maneira de garantir que o Thunderbird permaneça disponível é
about-donation = fazer uma doação
about-paragraph-consider-donation = <b>O Thunderbird é financiado por usuários como você! Se você gosta do Thunderbird, considere fazer uma doação.</b> A melhor maneira de garantir que o Thunderbird continue disponível é <a data-l10n-name="donation-link">fazer uma doação</a>.
explore-link = Explorar recursos
support-link = Suporte
involved-link = Envolva-se
developer-link = Documentação do desenvolvedor
read = Ler mensagens
compose = Escrever uma nova mensagem
search = Pesquisar mensagens
filter = Gerenciar filtros de mensagens
nntp-subscription = Gerenciar inscrições em grupos de notícias
rss-subscription = Gerenciar inscrições em RSS
e2e = Criptografia de ponta a ponta
