# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = Παραπλανητική ιστοσελίδα
safeb-blocked-malware-page-title = Η επίσκεψη σε αυτή την ιστοσελίδα μπορεί να βλάψει τον υπολογιστή σας
safeb-blocked-unwanted-page-title = Η ακόλουθη ιστοσελίδα ενδέχεται να περιέχει επιβλαβή προγράμματα
safeb-blocked-harmful-page-title = Η ιστοσελίδα αυτή ενδέχεται να περιέχει κακόβουλο λογισμικό
safeb-blocked-phishing-page-short-desc = Το { -brand-short-name } απέκλεισε αυτή τη σελίδα, επειδή ενδέχεται να σάς παραπλανήσει ώστε να κάνετε κάτι επικίνδυνο, όπως να εγκαταστήσετε λογισμικό ή να αποκαλύψετε προσωπικά δεδομένα, όπως κωδικούς πρόσβασης ή πιστωτικές κάρτες.
safeb-blocked-malware-page-short-desc = Το { -brand-short-name } απέκλεισε αυτή τη σελίδα, επειδή ενδέχεται να επιχειρήσει να εγκαταστήσει κακόβουλο λογισμικό που μπορεί να υποκλέψει ή να διαγράψει προσωπικές πληροφορίες στον υπολογιστή σας.
safeb-blocked-unwanted-page-short-desc = Το { -brand-short-name } απέκλεισε αυτή τη σελίδα, επειδή ενδέχεται να προσπαθήσει να σάς παραπλανήσει ώστε να εγκαταστήσετε προγράμματα που βλάπτουν την εμπειρία περιήγησής σας (για παράδειγμα, αλλάζοντας την αρχική σας σελίδα ή εμφανίζοντας επιπλέον διαφημίσεις στις ιστοσελίδες που επισκέπτεστε).
safeb-blocked-harmful-page-short-desc = Το { -brand-short-name } απέκλεισε αυτή τη σελίδα, επειδή ενδέχεται να αποπειραθεί να εγκαταστήσει επικίνδυνες εφαρμογές, που υποκλέπτουν ή διαγράφουν τις πληροφορίες σας (για παράδειγμα, φωτογραφίες, κωδικοί πρόσβασης, μηνύματα και πιστωτικές κάρτες).
safeb-palm-advisory-desc = Παροχή υποδείξεων από <a data-l10n-name='advisory_provider'>{ $advisoryname }</a>.
safeb-palm-accept-label = Επιστροφή
safeb-palm-see-details-label = Δείτε λεπτομέρειες
safeb-blocked-phishing-page-error-desc-override = Το <span data-l10n-name='sitename'>{ $sitename }</span> έχει <a data-l10n-name='error_desc_link'>αναφερθεί ως παραπλανητική ιστοσελίδα</a>. Μπορείτε να <a data-l10n-name='report_detection'>αναφέρετε το πρόβλημα</a> ή να <a data-l10n-name='ignore_warning_link'>αγνοήσετε τον κίνδυνο</a> και να συνεχίσετε σε αυτή την επισφαλή ιστοσελίδα.
safeb-blocked-phishing-page-error-desc-no-override = Το <span data-l10n-name='sitename'>{ $sitename }</span> έχει <a data-l10n-name='error_desc_link'>αναφερθεί ως παραπλανητική ιστοσελίδα</a>. Μπορείτε να <a data-l10n-name='report_detection'>αναφέρετε το πρόβλημα</a>.
safeb-blocked-phishing-page-learn-more = Μάθετε περισσότερα σχετικά με τις παραπλανητικές ιστοσελίδες και το ηλεκτρονικό ψάρεμα στο <a data-l10n-name='learn_more_link'>www.antiphishing.org</a>. Μάθετε περισσότερα σχετικά με την προστασία από ηλεκτρονικό ψάρεμα και κακόβουλο λογισμικό του { -brand-short-name } στο <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override = Το <span data-l10n-name='sitename'>{ $sitename }</span> έχει <a data-l10n-name='error_desc_link'> αναφερθεί ότι περιέχει κακόβουλο λογισμικό</a>. Μπορείτε να <a data-l10n-name='report_detection'>αναφέρετε το πρόβλημα</a> ή να <a data-l10n-name='ignore_warning_link'> αγνοήσετε τον κίνδυνο</a> και να μεταβείτε σε αυτή την επισφαλή ιστοσελίδα.
safeb-blocked-malware-page-error-desc-no-override = Το <span data-l10n-name='sitename'>{ $sitename }</span> έχει <a data-l10n-name='error_desc_link'> αναφερθεί ότι περιέχει κακόβουλο λογισμικό</a>. Μπορείτε να <a data-l10n-name='report_detection'>αναφέρετε το πρόβλημα</a>.
safeb-blocked-malware-page-learn-more = Μάθετε περισσότερα σχετικά με το επιβλαβές διαδικτυακό περιεχόμενο, όπως ιοί και άλλο κακόβουλο λογισμικό, καθώς και το πώς να προστατέψετε τον υπολογιστή σας στο <a data-l10n-name='learn_more_link'>StopBadware.org</a>. Μάθετε περισσότερα σχετικά με την προστασία από ηλεκτρονικό ψάρεμα και κακόβουλο λογισμικό του { -brand-short-name } στο <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override-sumo = Το <span data-l10n-name='sitename'>{ $sitename }</span> έχει <a data-l10n-name='error_desc_link'>αναφερθεί ότι περιέχει κακόβουλο λογισμικό</a>. Μπορείτε να <a data-l10n-name='ignore_warning_link'>αγνοήσετε τον κίνδυνο</a> και να συνεχίσετε σε αυτή την επισφαλή ιστοσελίδα.
safeb-blocked-malware-page-error-desc-no-override-sumo = Το <span data-l10n-name='sitename'>{ $sitename }</span> έχει <a data-l10n-name='error_desc_link'>αναφερθεί ότι περιέχει κακόβουλο λογισμικό</a>.
safeb-blocked-malware-page-learn-more-sumo = Μάθετε περισσότερα σχετικά με την προστασία από ηλεκτρονικό ψάρεμα και κακόβουλο λογισμικό του { -brand-short-name } στο <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-unwanted-page-error-desc-override = Το <span data-l10n-name='sitename'>{ $sitename }</span> έχει <a data-l10n-name='error_desc_link'>αναφερθεί ότι περιέχει επιβλαβές λογισμικό</a>. Μπορείτε να <a data-l10n-name='ignore_warning_link'>αγνοήσετε τον κίνδυνο</a> και να συνεχίσετε σε αυτή την επισφαλή ιστοσελίδα.
safeb-blocked-unwanted-page-error-desc-no-override = Το <span data-l10n-name='sitename'>{ $sitename }</span> έχει <a data-l10n-name='error_desc_link'>αναφερθεί ότι περιέχει επιβλαβές λογισμικό</a>.
safeb-blocked-unwanted-page-learn-more = Μάθετε περισσότερα σχετικά με το επιβλαβές και ανεπιθύμητο λογισμικό στην <a data-l10n-name='learn_more_link'>Πολιτική ανεπιθύμητου λογισμικού</a>. Μάθετε περισσότερα σχετικά με την προστασία από ηλεκτρονικό ψάρεμα και κακόβουλο λογισμικό του { -brand-short-name } στο <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-harmful-page-error-desc-override = Το <span data-l10n-name='sitename'>{ $sitename }</span> έχει <a data-l10n-name='error_desc_link'>αναφερθεί ότι περιέχει πιθανώς επιβλαβή εφαρμογή</a>. Μπορείτε να <a data-l10n-name='ignore_warning_link'>αγνοήσετε τον κίνδυνο</a> και να συνεχίσετε σε αυτή την επισφαλή ιστοσελίδα.
safeb-blocked-harmful-page-error-desc-no-override = Το <span data-l10n-name='sitename'>{ $sitename }</span> έχει <a data-l10n-name='error_desc_link'>αναφερθεί ότι περιέχει πιθανώς επιβλαβή εφαρμογή</a>.
safeb-blocked-harmful-page-learn-more = Μάθετε περισσότερα σχετικά με την προστασία από ηλεκτρονικό ψάρεμα και κακόβουλο λογισμικό του { -brand-short-name } στο <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-palm-notdeceptive =
    .label = Αυτή δεν είναι μια παραπλανητική ιστοσελίδα…
    .accesskey = δ
