# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Pripojenie ďalšieho zariadenia
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Ak ste tak ešte neurobili, <a data-l10n-name="connect-another-device">nainštalujte si Firefox na svoje mobilné zariadenie</a>.
fxa-qrcode-heading-phase2 = 2. Potom sa prihláste ku službe { -sync-brand-short-name }, alebo v Androide naskenujte párovací kód z nastavení služby { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Ak ste to ešte neurobili, <a data-l10n-name="connect-another-device">nainštalujte si Firefox na svoje mobilné zariadenie</a>.
fxa-qrcode-heading-step2 = 2. Otvorte Firefox na svojom mobilnom zariadení.
fxa-qrcode-heading-step3 = 3. Otvorte <b>ponuku</b> (<img data-l10n-name="ios-menu-icon"/> alebo <img data-l10n-name="android-menu-icon"/>), ťuknite na <img data-l10n-name="settings-icon"/> <b>Nastavenia</b> a vyberte možnosť <b>Zapnúť synchronizáciu</b>
fxa-qrcode-heading-step4 = 4. Naskenujte tento kód:
fxa-qrcode-error-title = Párovanie nebolo úspešné.
fxa-qrcode-error-body = Skúste to znova.
