# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Ynghylch { -brand-full-name }

releaseNotes-link = Beth sy'n newydd

update-checkForUpdatesButton =
    .label = Gwirio am ddiweddariadau
    .accesskey = G

update-updateButton =
    .label = Ailgychwyn i ddiweddaru { -brand-shorter-name }
    .accesskey = A

update-checkingForUpdates = Gwirio am ddiweddariadau…
update-downloading = <img data-l10n-name="icon"/>Llwytho'r diweddariad i lawr — <label data-l10n-name="download-status"/>
update-applying = Gosod y diweddariad…

update-failed = Methodd y diweddaru. <label data-l10n-name="failed-link">Llwythwch y fersiwn diweddaraf i lawr</label>
update-failed-main = Methodd y diweddaru. <a data-l10n-name="failed-link-main">Llwythwch y fersiwn diweddaraf i lawr</a>

update-adminDisabled = Mae'r diweddariad wedi ei analluogi gan eich gweinyddwr
update-noUpdatesFound = Mae { -brand-short-name } yn gyfredol
update-otherInstanceHandlingUpdates = Mae { -brand-short-name } yn cael ei ddiweddaru gan enghraifft arall

update-manual = Diweddariadau ar gael yn <label data-l10n-name="manual-link"/>

update-unsupported = Nid oes modd i chi ddiweddaru'r system hon ymhellach. <label data-l10n-name="unsupported-link">Dysgu rhagor</label>

update-restarting = Ailgychwyn…

channel-description = Rydych ar sianel diweddaru <label data-l10n-name="current-channel"></label>.

warningDesc-version = Mae { -brand-short-name } yn arbrofol a gall fod yn ansad.

community-exp = <label data-l10n-name="community-exp-mozillaLink">Mae { -vendor-short-name }</label> yn <label data-l10n-name="community-exp-creditsLink">gymuned fyd-eang</label> sy'n cydweithio i gadw'r We yn agored, cyhoeddus ac ar gael i bawb.

community-2 = Cynlluniwyd { -brand-short-name } gan <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, <label data-l10n-name="community-creditsLink">cymuned fyd-eang</label> sy'n cydweithio i gadw'r We yn agored, cyhoeddus ac ar gael i bawb.

helpus = Eisiau helpu? <label data-l10n-name="helpus-donateLink">Gallwch wneud rhodd</label> neu <label data-l10n-name="helpus-getInvolvedLink">ymuno â ni!</label>

bottomLinks-license = Manylion Trwyddedu
bottomLinks-rights = Hawliau'r Defnyddiwr
bottomLinks-privacy = Polisi Preifatrwydd

# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-did)

# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-did)
