# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Маңызды жаңалықтар
heading = Сіздің { -brand-short-name } профиліңізге өзгерістер

changed-title = Не өзгерді?
changed-desc-profiles = Бұл { -brand-short-name } орнатуында жаңа профиль бар. Профиль - бұл Firefox бетбелгілер, парольдер және пайдаланушы баптаулары сияқты ақпаратты сақтайтын файлдар жиыны.
changed-desc-dedicated = Әр түрлі Firefox орнатулары арасында (соның ішінде Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition, және Firefox Nightly) ауысуды жеңілдеу әрі қауіпсіздеу қылу үшін, бұл орнату бөлек профильді қолданады. Ол сіздің сақталған ақпаратымен басқа Firefox орнатуларымен автоматты түрде бөліспейді.

lost = <b>Сіз ешбір жеке деректі немесе баптауды жоғалтқан жоқсыз.</b> Егер сіз бұл компьютерде Firefox-та ақпарат сақтаған болсаңыз, ол басқа Firefox орнатуында әлі де қолжетерлік.

options-title = Менің таңдауым қандай бола алады?
options-do-nothing = Ешнәрсе жасамасаңыз, сіздің { -brand-short-name } ішіндегі профиль деректері басқа Firefox орнатулары профиль деректерінен өзгеше болады.
options-use-sync = Егер сіз барлық профиль деректеріңіздің барлық Firefox орнатулары арасында бірдей болуды қаласаңыз, онда оларды біркелкі түрде ұстау үшін { -fxaccount-brand-name } қолдануыңызға болады.

resources = Ресурстар:
support-link = Профильдер басқарушысын қолдану - қолдау көрсету мақаласы

sync-header = Жүйеге кіріңіз немесе { -fxaccount-brand-name } жасаңыз
sync-label = Эл. поштаны енгізіңіз
sync-input =
    .placeholder = Эл. пошта
sync-button = Жалғастыру
sync-terms = Жалғастыру арқылы сіз <a data-l10n-name="terms">Қызмет көрсету шарттары</a> және <a data-l10n-name="privacy">Жекелік ескертуі</a> шарттарымен келісесіз.
sync-first = { -sync-brand-name } бірінші рет қолданып тұрсыз ба? Ақпаратыңызды синхрондау үшін, оған әр Firefox орнатуынан кіруіңіз керек.
sync-learn = Көбірек білу
