# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = 关于 { -brand-full-name }
releaseNotes-link = 新版变化
update-checkForUpdatesButton =
    .label = 检查更新
    .accesskey = C
update-updateButton =
    .label = 重启 { -brand-shorter-name } 以更新
    .accesskey = R
update-checkingForUpdates = 正在检查更新…
update-downloading = <img data-l10n-name="icon"/>正在下载更新 — <label data-l10n-name="download-status"/>
update-applying = 正在应用更新…
update-failed = 更新失败。 <label data-l10n-name="failed-link">下载最新版本</label>
update-failed-main = 更新失败。 <a data-l10n-name="failed-link-main">下载最新版本</a>
update-adminDisabled = 更新已被系统管理员禁用
update-noUpdatesFound = { -brand-short-name } 已是最新
update-otherInstanceHandlingUpdates = { -brand-short-name } 正在由其他实例更新
update-manual = 可访问 <label data-l10n-name="manual-link"/>
update-unsupported = 您无法在这个系统上进一步更新。<label data-l10n-name="unsupported-link">详细了解</label>
update-restarting = 正在重启浏览器…
channel-description = 您目前在 <label data-l10n-name="current-channel"></label> 更新通道。
warningDesc-version = { -brand-short-name } 是实验性的测试版本，可能不够稳定。
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> 是一个<label data-l10n-name="community-exp-creditsLink">全球社区</label>，携手致力于让互联网保持开放、公开且人人可用。
community-2 = { -brand-short-name } 诞生于 <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>。我们是一个<label data-l10n-name="community-creditsLink">全球社区</label>，携手致力于让互联网保持开放、公开且人人可用。
helpus = 想支持我们吗？<label data-l10n-name="helpus-donateLink">向我们捐款</label>或者<label data-l10n-name="helpus-getInvolvedLink">参与进来</label>！
bottomLinks-license = 授权信息
bottomLinks-rights = 最终用户权利
bottomLinks-privacy = 隐私政策
# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits } 位)
# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits } 位)
