# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Novas importante
heading = Cambios a tu profilo de { -brand-short-name }
changed-title = Que ha cambiate?
changed-desc-profiles = Iste installation de { -brand-short-name } ha un nove profilo. Un profilo es un collection de files ubi Firefox salva informationes como marcapaginas, contrasignos e preferentias de usator.
changed-desc-dedicated = Pro render plus facile e plus secur passar inter installationes de Firefox (anque Firefox, Firefox ESR, Firefox Beta, Firefox Edition pro disveloppatores, e Firefox Nightly), iste installation ora ha un profilo dedicate. Illo non comparti automaticamente tu informationes salvate con altere installationes de Firefox.
lost = <b>Tu non ha perdite alcun datos o personalisationes.</b> Si tu ha jam salvate informationes in Firefox sur iste computator, illos es ancora disponibile in un altere installation de Firefox.
options-title = Quales es mi optiones?
options-do-nothing = Si tu face nihil, tu datos de profilo in { -brand-short-name } essera differente del datos de profilo in altere installationes de Firefox.
options-use-sync = Si tu desira que tote le datos de tu profilo es identic sur tote le installationes de Firefox, tu pote usar un { -fxaccount-brand-name } pro mantener los in synchronia.
resources = Ressources:
support-link = Usar le gestor de profilos - Articulo de supporto
sync-header = Aperi session o crea un { -fxaccount-brand-name }
sync-label = Insere tu adresse de e-mail
sync-input =
    .placeholder = E-mail
sync-button = Continuar
sync-terms = Si tu continua, tu accepta le <a data-l10n-name="terms">terminos de servicio</a> e le <a data-l10n-name="privacy">aviso de confidentialitate</a>.
sync-first = Es le prime vice que tu usa { -sync-brand-name }? Tu debe aperir session in cata installation de Firefox pro synchronisar tu informationes.
sync-learn = Saper plus
