# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Media: AVIF
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-link-preload =
    .label = Web API: <link rel="preload">‎
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-focus-visible =
    .label = CSS: Pseudo-class: :focus-visible
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-beforeinput =
    .label = ‏Web API: אירוע beforeinput
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-devtools-color-scheme-simulation =
    .label = כלי פיתוח: הדמיית ערכת צבעים
experimental-features-devtools-execution-context-selector =
    .label = כלי פיתוח: בורר הקשר לביצוע
experimental-features-devtools-compatibility-panel =
    .label = כלי פיתוח: חלונית תאימות
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = עוגיות: SameSite=Lax כברירת מחדל
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = מטמון הפעלה של about:home
experimental-features-abouthome-startup-cache-description = מטמון עבור המסמך about:home הראשוני שנטען כברירת מחדל בעת ההפעלה. מטרת המטמון היא לשפר את ביצועי ההפעלה.
experimental-features-print-preview-tab-modal =
    .label = עיצוב מחדש לתצוגה לפני הדפסה
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = כלי פיתוח: ניפוי שגיאות של Service Worker
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = הפעלת תמיכה ניסיונות עבור Service Workers בחלונית 'ניפוי שגיאות' שבכלי הפיתוח. תכונה זו עשויה להאט את כלי הפיתוח ולהגדיל את צריכת הזיכרון.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = מתגים להשתקה גלובלית של WebRTC
experimental-features-webrtc-global-mute-toggles-description = הוספת פקדים למחוון השיתוף הגלובלי של WebRTC המאפשר למשתמשים להשתיק את הזנות המיקרופון והמצלמה שלהם.
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = הפעלת Warp, מיזם לשיפור הביצועים וניצול הזיכרון של JavaScript.
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = ‏Fission (בידוד אתרים)
experimental-features-fission-description = ‏Fission (בידוד אתרים) היא תכונה ניסיונית ב־{ -brand-short-name } המספקת שכבת הגנה נוספת מפני באגים של אבטחה. על־ידי בידוד כל אתר לתהליך נפרד, Fission מקשה על אתרים זדוניים לקבל גישה למידע מדפים אחרים בהם המשתמש מבקר. זהו שינוי אדריכלי משמעותי ב־{ -brand-short-name } ונשמח לקבל דיווחים על כל בעיה שתימצא בבדיקות. לפרטים נוספים ניתן לקרוא את  <a data-l10n-name="wiki">הוויקי</a>.
