# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Novetats importantas
heading = Modificacions de vòstre perfil { -brand-short-name }

changed-title = Qué a cambiat ?
changed-desc-profiles = Aquesta installacion de { -brand-short-name } a un perfil novèl. Un perfil es un ensemble de fichièrs ont Firefox enregistra las informacions coma los marcapaginas, los senhals e las preferéncias de l’utilizaire.
changed-desc-dedicated = Per tal que far mai aisit e segur de bascular entre las installcions de Firefox (coma Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition, e Firefox Nightly), aquesta installacion dispausa ara d'un perfil dedicat. Parteja pas automaticament vòstras informacions enregistradas amb d'autras installacions de Firefox.

lost = <b>Avètz pas perdut cap de donadas personalas o de personalizacion.</b>S’aviatz ja d’informacions enregistradas dins Firefox sus aqueste ordenador, son encara disponiblas sus una autra installacion.

options-title = Quinas opcions ai ?
options-do-nothing = Se fasètz pas res, vòstras donadas de perfil dins { -brand-short-name } seràn diferentas de las donadas de perfil dins d'autras installacions de Firefox.
options-use-sync = Se volètz que totas las donadas de vòstre perfil sián identicas sus totas las installacions de Firefox, podètz utilizar un { -fxaccount-brand-name } per las gardar sincronizadas.

resources = Ressorsas :
support-link = Utilizar lo gestionari de perfils – Article de l’assisténcia

sync-header = Connectatz-vos o creatz un { -fxaccount-brand-name }
sync-label = Picatz vòstra adreça electronica
sync-input =
    .placeholder = Adreça electronica
sync-button = Contunhar
sync-terms = Se contunhatz, acceptatz las <a data-l10n-name="terms">Condicions d’utilizacion</a> e l’<a data-l10n-name="privacy">Avís de privacitat</a>.
sync-first = Es lo primièr còp qu’utilizatz { -sync-brand-name } ? Vos cal d’iniciar una session sus cada installacion de Firefox per sincronizar vòstras informacions.
sync-learn = Ne saber mai
