# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = El sitio siguiente es engañoso
safeb-blocked-malware-page-title = Visitar este sitio puede dañar su computadora
safeb-blocked-unwanted-page-title = El próximo sitio puede contener programas dañinos
safeb-blocked-harmful-page-title = El siguiente sitio puede contener malware
safeb-blocked-phishing-page-short-desc = { -brand-short-name } ha bloqueado esta página porque puede engañarlo para que realice algo peligroso como instalar software o revelar información personas como contraseñas o tarjetas de crédito.
safeb-blocked-malware-page-short-desc = { -brand-short-name } bloqueó este sitio porque podría intentar instalar programas maliciosos que podrían robar o eliminar información personal de su computadora.
safeb-blocked-unwanted-page-short-desc = { -brand-short-name } bloqueó está página porque puede intentar engañarlo para instalar programas que pueden complicar su experiencia de navegación (por ejemplo, al cambiar su página de inicio o mostrar más avisos en los sitios que visita).
safeb-blocked-harmful-page-short-desc = { -brand-short-name } bloqueó esta pagina porque podría intentar instalar aplicaciones peligrosas que roben o eliminen tu información (por ejemplo fotos, contraseñas, mensajes y tarjetas de crédito).
safeb-palm-advisory-desc = Advertencia brindada por <a data-l10n-name='advisory_provider'>{ $advisoryname }</a>.
safeb-palm-accept-label = Retroceder
safeb-palm-see-details-label = Ver detalles
safeb-blocked-phishing-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> ha sido <a data-l10n-name='error_desc_link'>reportado como un sitio de engaño</a>. Puede <a data-l10n-name='report_detection'>informar sobre un problema de detección</a> o <a data-l10n-name='ignore_warning_link'>ignorar el riesgo</a> y visitar el sitio inseguro.
safeb-blocked-phishing-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> ha sido <a data-l10n-name='error_desc_link'>reportado como un sitio engañoso</a>. Puede <a data-l10n-name='report_detection'>informar sobre un problema de detección</a>.
safeb-blocked-phishing-page-learn-more = Conozca más sobre los sitios engañosos y de phishing en <a data-l10n-name='learn_more_link'>www.antiphishing.org</a>. También puede leer más sobre la protección anti phishing y malware de { -brand-short-name } en <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> ha sido <a data-l10n-name='error_desc_link'>reportado por contener software malicioso</a>. Puede <a data-l10n-name='report_detection'>informar sobre un problema de detección</a> o <a data-l10n-name='ignore_warning_link'>ignorar el riesgo</a> y visitar el sitio que no es seguro.
safeb-blocked-malware-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> ha sido <a data-l10n-name='error_desc_link'>reportado por contener software malicioso</a>. Puede <a data-l10n-name='report_detection'>reportar un problema de detección</a>.
safeb-blocked-malware-page-learn-more = Conozca más sobre el contenido web que puede ser perjudicial, incluyendo virus y otro tipo de software malicioso y cómo proteger su computadora en <a data-l10n-name='learn_more_link'>StopBadware.org</a>. Lea más sobre la protección anti phishing y software malicioso de { -brand-short-name } en <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> fue <a data-l10n-name='error_desc_link'>reportado por contener una aplicación maliciosa</a>. Puede <a data-l10n-name='ignore_warning_link'>ignorar el riesgo</a> e ir al sitio inseguro.
safeb-blocked-malware-page-error-desc-no-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> fue <a data-l10n-name='error_desc_link'>reportado por contener software malicioso</a>.
safeb-blocked-malware-page-learn-more-sumo = Conocer más sobre la protección de phishing y malware de { -brand-short-name } en <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-unwanted-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> ha sido <a data-l10n-name='error_desc_link'>reportado por contener software malicioso</a>. Puede <a data-l10n-name='ignore_warning_link'>ignorar el riesgo</a> y visitar el sitio inseguro.
safeb-blocked-unwanted-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> ha sido <a data-l10n-name='error_desc_link'>reportado por contener software malicioso</a>.
safeb-blocked-unwanted-page-learn-more = Lea más sobre software malicioso en <a data-l10n-name='learn_more_link'>Política de Software no buscado</a>. También puede leer más acerca de la protección contra Phishing y software malicioso de { -brand-short-name } en <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-harmful-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> ha sido <a data-l10n-name='error_desc_link'>reportado por contener una aplicación posiblemente riesgosa</a>. Puede <a data-l10n-name='ignore_warning_link'>ignorar el riesgo</a> e ir al sitio inseguro.
safeb-blocked-harmful-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> ha sido <a data-l10n-name='error_desc_link'>reportado por contener una aplicación potencialmente peligrosa</a>.
safeb-blocked-harmful-page-learn-more = Conozca más acerca de la protección contra phishing y malware de { -brand-short-name } en <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-palm-notdeceptive =
    .label = Este sitio no es engañoso…
    .accesskey = e
