# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Безбедна веза није доступна
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = Прегледате у режиму само за HTTPS, а сигурна HTTPS верзија <em>{ $websiteUrl }</em> није доступна.
about-httpsonly-insecure-explanation-reasons = Највероватније је да страница не подржава HTTPS, али такође је могуће да нападач блокира HTTPS верзију.
about-httpsonly-insecure-explanation-exception = Иако је безбедносни ризик мали, ако се одлучите да посетите HTTP верзију странице, најбоље је избегавати уношење осетљивих података као што су лозинке, адресе е-поште или подаци о кредитној картици.
about-httpsonly-button-make-exception = Прихватите ризик и наставите на страницу
about-httpsonly-title = { -brand-short-name } је открио потенцијални сигурносни проблем
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = Прегледате у HTTPS-Only режиму, а сигурна HTTPS верзија <em>{ $websiteUrl }</em> адресе није доступна.
about-httpsonly-title-alert = HTTPS-Only упозорење
about-httpsonly-title-connection-not-available = Сигурна веза није доступна
about-httpsonly-explanation-question = Шта би могао бити узрок овоме?
about-httpsonly-explanation-nosupport = Највероватније, страница једноставно не подржава HTTPS.
about-httpsonly-explanation-risk = Могуће је и да је уплетен нападач. Ако се одлучите да посетите ову страницу, не треба да уносите осетљиве податке као што су лозинке, адресе е-поште или подаци о кредитној картици.
about-httpsonly-button-accept-and-continue = Прихватите ризик и наставите
about-httpsonly-button-go-back = Иди назад
