# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Konekti alian aparaton
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Se vi ankoraŭ ne faris tion – instalu <a data-l10n-name="connect-another-device">Firefox en via poŝaparato</a>.
fxa-qrcode-heading-phase2 = 2. Poste komencu seancon en { -sync-brand-short-name } aŭ skanu la asocian kodon en la agordoj de { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Se vi ankoraŭ ne faris tion – instalu <a data-l10n-name="connect-another-device">Firefox en via poŝaparato</a>.
fxa-qrcode-heading-step2 = 2. Malfermu Firefox en via poŝaparato.
fxa-qrcode-heading-step3 = 3. Malfermu la <b>menuon</b> (<img data-l10n-name="ios-menu-icon"/> aŭ <img data-l10n-name="android-menu-icon"/>), tuŝetu <img data-l10n-name="settings-icon"/> <b>Agordoj</b> kaj elektu <b>Ŝalti speguladon</b>
fxa-qrcode-heading-step4 = 4. Skanu tiun ĉi kodon:
fxa-qrcode-error-title = Malsukcesa asociado.
fxa-qrcode-error-body = Klopodu denove.
