# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Вітаємо в { -brand-full-name }
account-settings = Налаштування облікового запису
#   $accounts (Number) - the number of configured accounts
setup-title = Виберіть що налаштувати
about-title = Про { -brand-full-name }
resources-title = Ресурси
release-notes =
    .title = Про { -brand-full-name }
email-label = Електронна пошта
    .aria-label = Під'єднайте наявний обліковий запис вашої електронної пошти
email-description = { -brand-short-name } дозволяє під'єднати наявний обліковий запис вашої електронної пошти для зручного та ефективного її перегляду в програмі.
calendar-label = Календар
    .aria-label = Створити новий календар
calendar-description = { -brand-short-name } дозволяє керувати вашими подіями та допомагає бути організованішим. Під'єднання віддаленого календаря дає змогу синхронізувати всі ваші події на всіх ваших пристроях.
chat-label = Чат
    .aria-label = Під'єднайте обліковий запис вашого чату
chat-description = { -brand-short-name } дозволяє під'єднати кілька облікових записів служб миттєвого обміну повідомленнями, надаючи підтримку різних платформ.
filelink-label = Filelink
    .aria-label = Налаштуйте Filelink
filelink-description = { -brand-short-name } дозволяє налаштувати зручний обліковий запис хмарних посилань на файл для легкого надсилання великих вкладень.
addressbook-label = Адресна книга
    .aria-label = Створити нову адресну книгу
addressbook-description = { -brand-short-name } дозволяє впорядкувати всі ваші контакти в адресній книзі. Також, ви можете під'єднати віддалену адресну книгу для синхронізації всіх контактів.
feeds-label = Стрічки
    .aria-label = Під'єднайте стрічки
feeds-description = { -brand-short-name } дозволяє вам під'єднатися до RSS/Atom стрічок та отримувати новини й оновлення подій звідусіль.
newsgroups-label = Групи новин
    .aria-label = Під'єднатися до групи новин
newsgroups-description = { -brand-short-name } дозволяє під'єднуватися до будь-яких цікавих вам груп новин.
import-title = Імпорт даних з іншої поштової програми
import-paragraph = { -brand-short-name } дозволяє імпортувати електронні листи, записи адресних книг, підписки на стрічки, налаштування чи/та фільтри з інших поштових програм та поширених форматів адресних книг.
import-label = Імпортувати
    .aria-label = Імпортувати дані з інших поштових програм
about-paragraph = Thunderbird є найпопулярнішим поштовим клієнтом з відкритим програмним кодом для багатьох платформ, безплатний для корпоративного та особистого користування. Ми хочемо щоб він залишався безпечним та ставав ще кращим. Внесок дозволить нам наймати розробників, оплачувати інфраструктуру і продовжувати вдосконалення.
about-paragraph-2 = <b>Thunderbird існує завдяки таким користувачами як і ви! Якщо вам до вподоби Thunderbird, будь ласка, подумайте про допомогу проєкту.</b> Найкращий спосіб впевнитися, що Thunderbird й надалі буде доступним - це
about-donation = зробити внесок
about-paragraph-consider-donation = <b>Thunderbird підтримується такими користувачами, як ви! Якщо вам подобається Thunderbird, будь ласка, розгляньте можливість допомоги своїм внеском.</b> Найкращим способом забезпечення подальшого розвитку Thunderbird є <a data-l10n-name="donation-link"> підтримка внеском</a>.
explore-link = Дослідіть можливості
support-link = Підтримка
involved-link = Долучитися
developer-link = Документація розробника
read = Читати повідомлення
compose = Написати повідомлення
search = Пошук повідомлень
filter = Керувати фільтрами повідомлень
nntp-subscription = Керувати підписками на групи новин
rss-subscription = Керувати підписками стрічок
e2e = Наскрізне шифрування
