# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Tocante a { -brand-full-name }

releaseNotes-link = Qué hai nuevo

update-checkForUpdatesButton =
    .label = Comprobar anovamientos
    .accesskey = C

update-updateButton =
    .label = Reaniciar p'anovar { -brand-shorter-name }
    .accesskey = R

update-checkingForUpdates = Comprobando anovamientos…
update-downloading = <img data-l10n-name="icon"/>Baxando anovamientu — <label data-l10n-name="download-status"/>
update-applying = Aplicando anovamientu…

update-failed = Falló l'anovamientu. <label data-l10n-name="failed-link">Baxar la cabera versión</label>
update-failed-main = Falló l'anovamientu. <a data-l10n-name="failed-link-main">Baxar la cabera versión</a>

update-adminDisabled = Anovamientos deshabilitaos pol to alministrador de sistemes
update-noUpdatesFound = { -brand-short-name } ta anováu
update-otherInstanceHandlingUpdates = { -brand-short-name } ta anovándose per otra instancia

update-manual = Anovamientos disponible en <label data-l10n-name="manual-link"/>

update-unsupported = Nun pues facer más anovamientos nesti sistema.<label data-l10n-name="unsupported-link">Deprendi más</label>

update-restarting = Reaniciando…

channel-description = Anguaño tas na canal <label data-l10n-name="current-channel"></label> d'anovamientos. 

warningDesc-version = { -brand-short-name } ye esperimental y quiciabes seya inestable.

community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> ye una <label data-l10n-name="community-exp-creditsLink">comunidá global</label> que trabaya xunida pa caltener la web abierta, pública y accesible pa toos.

community-2 = { -brand-short-name } ta diseñáu por <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, una <label data-l10n-name="community-creditsLink">comunidá global</label> que trabaya xunida pa caltener la web abierta, pública y accesible pa toos.

helpus = ¿Quies ayudar? <label data-l10n-name="helpus-donateLink">¡Fai una donación</label> o <label data-l10n-name="helpus-getInvolvedLink">andecha!</label>

bottomLinks-license = Información de llicencia
bottomLinks-rights = Drechos del usuariu final
bottomLinks-privacy = Política de privacidá

# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits } bits)

# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits } bits)
