# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Koble til en annen enhet
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Om du ikke allerede har installert, installer <a data-l10n-name="connect-another-device">Firefox på din mobile enhet</a>.
fxa-qrcode-heading-phase2 = 2 . Logg deg deretter inn på { -sync-brand-short-name } eller skann tilkoblingskoden på Android fra innstillingene i { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Om du ikke allerede har installert, installer <a data-l10n-name="connect-another-device">Firefox på din mobile enhet</a>.
fxa-qrcode-heading-step2 = 2. Åpne Firefox på mobilenheten din.
fxa-qrcode-heading-step3 = 3. Åpne <b>menyen</b> (<img data-l10n-name="ios-menu-icon"/> eller <img data-l10n-name="android-menu-icon"/>), trykk på <img data-l10n-name="settings-icon"/><b>Innstillinger</b> og velg <b>Slå på synkronisering</b>
fxa-qrcode-heading-step4 = 4. Skann denne koden:
fxa-qrcode-error-title = Mislykket tilkobling.
fxa-qrcode-error-body = Prøv igjen.
