# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = Пра Glean
about-glean-description = <a data-l10n-name="glean-sdk-doc-link">Glean SDK</a> — гэта бібліятэка збору дадзеных, выкарыстаная ў прадуктах Mozilla. Гэта старонка прызначана для распрацоўшчыкаў і тэставальнікаў, якім патрэбна <a data-l10n-name="fog-debug-doc-link">наладзіць стан адладкі і вядзення журналу ў Glean SDK</a>.
about-glean-warning = Няправільнае выкарыстанне гэтага інтэрфейсу можа прывесці да краху { -brand-short-name }.
tag-pings-label = Пазначыць усе адпраўленыя пінгі гэтым тэгам
log-pings-label = Рэгістраваць змесціва пінга перад адпраўкай?
send-pings-label = Даслаць названы пінг
controls-button-label = Адправіць налады
