# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Kople til ei anna eining
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Om du ikkje allereie har installert <a data-l10n-name="connect-another-device">Firefox på den mobile eininga di</a>.
fxa-qrcode-heading-phase2 = 2. Logg inn på { -sync-brand-short-name } eller skann paringskoden på Android frå innstillingane i { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Om du ikkje allereie har han, installer <a data-l10n-name="connect-another-device">Firefox på mobileininga di</a>.
fxa-qrcode-heading-step2 = 2. Opne Firefox på mobileininga di.
fxa-qrcode-heading-step3 = 3. Opne <b>menyen</b> (<img data-l10n-name="ios-menu-icon"/> eller <img data-l10n-name="android-menu-icon"/>), trykk på <img data-l10n-name="settings-icon"/><b>Innstillingar</b> og vel <b>Slå på synkronisering</b>
fxa-qrcode-heading-step4 = 4. Skann denne koden:
fxa-qrcode-error-title = Mislykka paring.
fxa-qrcode-error-body = Prøv ein gong til.
