# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Ενεργοποιεί την υποστήριξη για την πειραματική λειτουργία CSS Masonry Layout. Δείτε την <a data-l10n-name="explainer">επεξήγηση</a> για μια περιγραφή υψηλού επιπέδου της λειτουργίας. Για να παρέχετε σχόλια, σχολιάστε σε <a data-l10n-name="w3c-issue"> αυτό το ζήτημα GitHub</a> ή <a data-l10n-name="bug"> αυτό το σφάλμα </a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Αυτό το νέο API παρέχει υποστήριξη χαμηλού επιπέδου για την εκτέλεση υπολογισμού και απόδοσης γραφικών, χρησιμοποιώντας τη <a data-l10n-name="wikipedia">κάρτα γραφικών (GPU)</a> της συσκευής ή του υπολογιστή του χρήστη. Η <a data-l10n-name="spec">προδιαγραφή</a> είναι υπό επεξεργασία. Δείτε το <a data-l10n-name="bugzilla">σφάλμα 1602129</a> για περισσότερες λεπτομέρειες.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Πολυμέσα: AVIF
experimental-features-media-avif-description = Με αυτή τη λειτουργία, το { -brand-short-name } υποστηρίζει τη μορφή εικόνας AV1 (AVIF). Πρόκειται για μια μορφή αρχείου ακίνητης εικόνας που αξιοποιεί τις δυνατότητες των αλγορίθμων συμπίεσης βίντεο AV1 για τη μείωση του μεγέθους της. Δείτε το <a data-l10n-name="bugzilla">σφάλμα 1443863 </a> για περισσότερες λεπτομέρειες.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = Η δική μας υλοποίηση της καθολικής ιδιότητας <a data-l10n-name="mdn-inputmode">inputmode</a> έχει ενημερωθεί βάσει της <a data-l10n-name="whatwg">προδιαγραφής WHATWG</a>, αλλά υπάρχουν κι άλλες αλλαγές που πρέπει να κάνουμε, όπως η διάθεση σε περιεχόμενο contenteditable. Δείτε το <a data-l10n-name="bugzilla">σφάλμα 1205133</a> για περισσότερες λεπτομέρειες.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-link-preload =
    .label = Web API: <link rel="preload">
# Do not translate "rel", "preload" or "link" here, as they are all HTML spec
# values that do not get translated.
experimental-features-web-api-link-preload-description = Η ιδιότητα <a data-l10n-name="rel">rel</a> με την τιμή <code>"preload"</code> σε στοιχείο <a data-l10n-name="link">&lt;link&gt;</a> έχει ως σκοπό να συνεισφέρει στη βελτίωση επιδόσεων, κάνοντας λήψη των πόρων νωρίτερα στον κύκλο ζωής της σελίδας, διασφαλίζοντας ότι είναι διαθέσιμοι νωρίτερα και έτσι, είναι λιγότερο πιθανό να αποκλειστεί η απεικόνιση της σελίδας. Διαβάστε το <a data-l10n-name="readmore">“Προφόρτωση περιεχομένου με <code>rel="preload"</code>”</a> ή δείτε το <a data-l10n-name="bugzilla">σφάλμα 1583604</a> για περισσότερες λεπτομέρειες.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-focus-visible =
    .label = CSS: Pseudo-class: :focus-visible
experimental-features-css-focus-visible-description = Επιτρέπει στα στυλ εστίασης να εφαρμοστούν σε στοιχεία, όπως κουμπιά και στοιχεία ελέγχου φορμών, μόνο όταν έχει γίνει εστίαση με πληκτρολόγιο (π.χ. κατά την εναλλαγή μεταξύ στοιχείων με το πλήκτρο Tab) και όχι όταν γίνεται εστίαση με ποντίκι ή άλλη συσκευή κατάδειξης. Δείτε το <a data-l10n-name="bugzilla">σφάλμα 1617600</a> για περισσότερες λεπτομέρειες.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-beforeinput =
    .label = Web API: beforeinput Event
# The terms "beforeinput", "input", "textarea", and "contenteditable" are technical terms
# and shouldn't be translated.
experimental-features-web-api-beforeinput-description = Το καθολικό συμβάν <a data-l10n-name="mdn-beforeinput">beforeinput</a> ενεργοποιείται σε στοιχεία <a data-l10n-name="mdn-input">&lt;input&gt;</a> και <a data-l10n-name="mdn-textarea">&lt;textarea&gt;</a>, ή όποιο στοιχείο έχει ενεργή ιδιότητα <a data-l10n-name="mdn-contenteditable">contenteditable</a>, αμέσως πριν την αλλαγή της τιμής του στοιχείου. Το συμβάν επιτρέπει σε εφαρμογές web να παρακάμπτουν την προεπιλεγμένη συμπεριφορά του προγράμματος περιήγησης για αλληλεπίδραση με το χρήστη, π.χ., οι εφαρμογές web μπορούν να ακυρώσουν την είσοδο χρήστη μόνο για συγκεκριμένους χαρακτήρες ή να τροποποιήσουν την επικόλληση του κειμένου μόνο με εγκεκριμένη μορφοποίηση.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = Η προσθήκη κατασκευαστή στο περιβάλλον <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> καθώς και μια ποικιλία σχετικών αλλαγών καθιστούν δυνατή την απευθείας δημιουργία νέων φύλλων στυλ χωρίς να πρέπει να προσθέσετε το φύλλο στο HTML. Έτσι, γίνεται πολύ πιο εύκολη η δημιουργία επαναχρησιμοποιήσιμων φύλλων στυλ για το <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Δείτε το <a data-l10n-name="bugzilla">σφάλμα 1520690</a> για περισσότερες λεπτομέρειες.
experimental-features-devtools-color-scheme-simulation =
    .label = Εργαλεία προγραμματιστή: Προσομοίωση συνόλου χρωμάτων
experimental-features-devtools-color-scheme-simulation-description = Προσθέτει μια επιλογή για προσομοίωση διαφορετικών μοτίβων χρωμάτων που σας επιτρέπουν να δοκιμάσετε τα media queries <a data-l10n-name="mdn-preferscolorscheme">@prefers-color-scheme</a>. Με αυτό το media query, το φύλλο στυλ σας μπορεί να αποκριθεί στην προτίμηση του χρήστη για φωτεινό ή σκούρο περιβάλλον χρήστη. Αυτή η λειτουργία σας επιτρέπει να δοκιμάσετε τον κώδικά σας χωρίς να πρέπει να αλλάξετε τις ρυθμίσεις στο πρόγραμμα περιήγησης (ή το λειτουργικό σύστημα, αν χρησιμοποιείται καθολικά η ρύθμιση των μοτίβων χρωμάτων του). Δείτε το <a data-l10n-name="bugzilla1">σφάλμα 1550804</a> και το <a data-l10n-name="bugzilla2">σφάλμα 1137699</a> για περισσότερες λεπτομέρειες.
experimental-features-devtools-execution-context-selector =
    .label = Εργαλεία προγραμματιστή: Επιλογή περιβάλλοντος εκτέλεσης
experimental-features-devtools-execution-context-selector-description = Αυτή η λειτουργία εμφανίζει ένα κουμπί στη γραμμή εντολών της κονσόλας που σας επιτρέπει να αλλάξετε το πλαίσιο στο οποίο θα εκτελεστεί η έκφραση που εισάγετε. Δείτε το <a data-l10n-name="bugzilla1">σφάλμα 1605154</a> και το <a data-l10n-name="bugzilla2">σφάλμα 1605153</a> για περισσότερες λεπτομέρειες.
experimental-features-devtools-compatibility-panel =
    .label = Εργαλεία προγραμματιστή: Πίνακας συμβατότητας
experimental-features-devtools-compatibility-panel-description = Ένας πλευρικός πίνακας για την Επιθεώρηση σελίδας που εμφανίζει πληροφορίες που περιγράφουν την κατάσταση συμβατότητας μεταξύ προγραμμάτων περιήγησης της εφαρμογής σας. Δείτε το <a data-l10n-name="bugzilla">σφάλμα 1584464 </a> για περισσότερες λεπτομέρειες.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cookies: SameSite=Lax από προεπιλογή
experimental-features-cookie-samesite-lax-by-default2-description = Αντιμετώπιση των cookies ως “SameSite=Lax” από προεπιλογή αν δεν καθορίζεται ιδιότητα “SameSite”. Οι προγραμματιστές πρέπει να επιλέξουν στο τρέχον status quo της απεριόριστης χρήσης, δηλώνοντας ρητά ότι “SameSite=None”.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cookies: Το SameSite=None απαιτεί την ιδιότητα "secure"
experimental-features-cookie-samesite-none-requires-secure2-description = Τα cookies με την ιδιότητα “SameSite=None” απαιτούν την ιδιότητα "secure". Αυτή η λειτουργία απαιτεί το “Cookies: SameSite=Lax από προεπιλογή”.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = Προσωρινή μνήμη εκκίνησης του about:home
experimental-features-abouthome-startup-cache-description = Μια προσωρινή μνήμη για το έγγραφο about:home που φορτώνεται από προεπιλογή κατά την εκκίνηση. Ο σκοπός της προσωρινής μνήμης είναι η βελτίωση της απόδοσης εκκίνησης.
experimental-features-print-preview-tab-modal =
    .label = Ανασχεδιασμός προεπισκόπησης εκτύπωσης
experimental-features-print-preview-tab-modal-description = Παρουσιάζει την ανασχεδιασμένη προεπισκόπηση εκτύπωσης και καθιστά διαθέσιμη την προεπισκόπηση εκτύπωσης στο macOS. Αυτό ίσως προκαλέσει προβλήματα και δεν περιέχει όλες τις ρυθμίσεις εκτύπωσης. Για πρόσβαση σε όλες τις ρυθμίσεις εκτύπωσης, επιλέξτε “Εκτύπωση μέσω διαλόγου συστήματος…” από το παράθυρο εκτύπωσης.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Διαχείριση των cookies ίδιου τομέα αλλά διαφορετικού μοτίβου (π.χ. http://example.com και https://example.com) ως cookies πολλαπλών ιστοσελίδων αντί cookies ίδιας ιστοσελίδας. Βελτιώνει την ασφάλεια, αλλά ενδέχεται να προκαλέσει προβλήματα.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Εργαλεία προγραμματιστή: Εντοπισμός σφαλμάτων service worker
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Ενεργοποιεί την πειραματική υποστήριξη για Service Workers στον πίνακα εντοπισμού σφαλμάτων. Αυτή η δυνατότητα ενδέχεται να επιβραδύνει τα εργαλεία προγραμματιστή και να αυξήσει την κατανάλωση μνήμης.
# Desktop zooming experiment
experimental-features-graphics-desktop-zooming =
    .label = Γραφικά: Ζουμ με ομαλό "τσίμπημα" (pinch)
experimental-features-graphics-desktop-zooming-description = Ενεργοποιεί την υποστήριξη για ομαλό ζουμ σε οθόνες αφής και επιφάνειες αφής ακριβείας.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = Καθολικοί διακόπτες σίγασης WebRTC
experimental-features-webrtc-global-mute-toggles-description = Προσθήκη στοιχείων ελέγχου στον καθολικό δείκτη κοινής χρήσης WebRTC που επιτρέπει στους χρήστες να κάνουν καθολική σίγαση του μικροφώνου και της κάμεράς τους.
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Ενεργοποίηση του Warp - ένα έργο για τη βελτίωση των επιδόσεων JavaScript και της χρήσης μνήμης.
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (Απομόνωση ιστοσελίδας)
experimental-features-fission-description = Το Fission (απομόνωση ιστοσελίδας) είναι μια πειραματική λειτουργία στο { -brand-short-name }, ώστε να παρέχει ένα επιπλέον επίπεδο προστασίας από σφάλματα ασφαλείας. Απομονώνοντας την κάθε σελίδα σε ξεχωριστή διεργασία, το Fission καθιστά δυσκολότερη την πρόσβαση κακόβουλων ιστοσελίδων σε πληροφορίες άλλων ιστότοπων που επισκέπτεστε. Πρόκειται για μια μεγάλη αρχιτεκτονική αλλαγή στο { -brand-short-name } και θα το εκτιμούσαμε ιδιαίτερα αν δοκιμάζατε τη λειτουργία και αναφέρατε τυχόν ζητήματα. Για περισσότερες λεπτομέρειες, δείτε <a data-l10n-name="wiki">το wiki</a>.
