# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Apie „{ -brand-full-name }“

releaseNotes-link = Kas naujo

update-checkForUpdatesButton =
    .label = Patikrinti ar yra naujinimų
    .accesskey = P

update-updateButton =
    .label = Perleiskite, norėdami atnaujinti „{ -brand-shorter-name }“
    .accesskey = P

update-checkingForUpdates = Tikrinama, ar yra naujinimų…
update-downloading = <img data-l10n-name="icon"/>Atsiunčiamas naujinimas — <label data-l10n-name="download-status"/>
update-applying = Diegiamas naujinimas…

update-failed = Programos atnaujinti nepavyko. <label data-l10n-name="failed-link">Atsisiųskite paskiausią laidą</label>
update-failed-main = Programos atnaujinti nepavyko. <a data-l10n-name="failed-link-main">Atsisiųskite paskiausią laidą</a>

update-adminDisabled = Naujinimus uždraudė sistemos administratorius
update-noUpdatesFound = Naudojama paskiausia „{ -brand-short-name }“ laida
update-otherInstanceHandlingUpdates = Programa „{ -brand-short-name }“ šiuo metu naujinama

update-manual = Atsisiųskite naujinimą iš <label data-l10n-name="manual-link"/>

update-unsupported = Tolesni naujinimai, naudojantis šia sistema, yra negalimi. <label data-l10n-name="unsupported-link">Sužinoti daugiau</label>

update-restarting = Paleidžiama iš naujo…

channel-description = Šiuo metu naudojamas <label data-l10n-name="current-channel"></label> naujinimų kanalas.

warningDesc-version = „{ -brand-short-name }“ yra eksperimentinė programa ir gali būti nestabili.

community-exp = <label data-l10n-name="community-exp-mozillaLink">„{ -vendor-short-name }“</label> – tai <label data-l10n-name="community-exp-creditsLink">pasaulinė bendruomenė</label>, siekianti, kad saitynas būtų atviras, viešas ir prieinamas kiekvienam.

community-2 = „{ -brand-short-name }“ kuria ir tobulina <label data-l10n-name="community-mozillaLink">„{ -vendor-short-name }“</label> – <label data-l10n-name="community-creditsLink">pasaulinė bendruomenė</label>, siekianti, kad saitynas būtų atviras, viešas ir prieinamas kiekvienam.

helpus = Norite padėti? <label data-l10n-name="helpus-donateLink">Paaukokite</label> arba <label data-l10n-name="helpus-getInvolvedLink">įsitraukite į veiklą!</label>

bottomLinks-license = Informacija apie licencijavimą
bottomLinks-rights = Galutinio naudotojo teisės
bottomLinks-privacy = Privatumo nuostatai

# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits } bitų)

# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits } bitų)
