# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Svarbios naujienos
heading = Pasikeitimai jūsų „{ -brand-short-name }“ profilyje

changed-title = Kas pasikeitė?
changed-desc-profiles = Ši „{ -brand-short-name }“ įdiegtis turi naują profilį. Profilis yra failų rinkinys, kur „Firefox“ saugo tokią informaciją, kaip adresyno įrašai, slaptažodžiai, vartotojo nuostatos.
changed-desc-dedicated = Kad būtų paprasčiau ir saugiau naudotis skirtingomis „Firefox“ įdiegtimis („Firefox“, „Firefox ESR“, „Firefox Beta“, „Firefox Developer Edition“, ir „Firefox Nightly“), ši įdiegtis dabar turi atskirą profilį. Jis automatiškai nesidalina jūsų įrašyta informacija su kitomis „Firefox“ įdiegtimis.

lost = <b>Jūs nepraradote jokių savo duomenų ar pritaikymų.</b> Jeigu jau esate įrašę informacijos į „Firefox“ šiame kompiuteryje, ji bus pasiekiama kitoje „Firefox“ įdiegtyje.

options-title = Kokie mano pasirinkimai?
options-do-nothing = Jeigu nieko nedarysite, jūsų profilio duomenys iš „{ -brand-short-name }“ skirsis nuo kitų „Firefox“ įdiegčių profilių duomenų.
options-use-sync = Jeigu norite, kad jūsų profilio duomenys būtų vienodi visose „Firefox“ įdiegtyse, galite naudoti „{ -fxaccount-brand-name }“ jiems sinchronizuoti.

resources = Šaltiniai:
support-link = Naudojimasis profilių tvarkytuve – pagalbos straipsnis

sync-header = Prisijunkite arba susikurkite „{ -fxaccount-brand-name }“
sync-label = Įveskite savo el. paštą
sync-input =
    .placeholder = El. paštas
sync-button = Tęsti
sync-terms = Tęsdami, išreiškiate sutikimą su <a data-l10n-name="terms">Paslaugos teikimo nuostatais</a> ir <a data-l10n-name="privacy">Privatumo pranešimu</a>.
sync-first = Naudojate „{ -sync-brand-name }“ pirmą kartą? Norėdami sinchronizuoti savo informaciją, turėsite prisijungti kiekvienoje „Firefox“ įdiegtyje.
sync-learn = Sužinoti daugiau
