# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = მნიშვნელოვანი სიახლეები
heading = ცვლილებები თქვენს { -brand-short-name }-პროფილთან დაკავშირებით

changed-title = რა შეიცვალა?
changed-desc-profiles = ეს ახლად დაყენებული { -brand-short-name } ახალი პროფილითაა. პროფილი წარმოადგენს ფაილების კრებულს, სადაც Firefox ინახავს ისეთ მონაცემებს, როგორიცაა სანიშნები, პაროლები და მომხმარებლის პარამეტრები.
changed-desc-dedicated = Firefox-ის სხვადასხვა დაყენებულ ვერსიებს შორის (როგორიცაა Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition და Firefox Nightly) მარტივად და უსაფრთხოდ გადასართავად, მოცემული ვერსია ახლა უკვე განცალკევებულ პროფილს იყენებს. იგი თქვენ მიერ შენახულ მონაცემებს, Firefox-ის დანარჩენ დაყენებულ ვერსიებთან არ გააზიარებს.

lost = <b>პირადი მონაცემები და მორგებული პარამეტრები არ დაიკარგება.</b> თუ უკვე გაქვთ შენახული ინფორმაცია Firefox-ში ამ კომპიუტერზე, იგი ისევ ხელმისაწვდომი იქნება Firefox-ის სხვა დაყენებულ ვერსიაზე.

options-title = რა არჩევანია?
options-do-nothing = თუ არაფერს მოიმოქმედებთ, თქვენი პროფილის მონაცემები, რომელსაც { -brand-short-name } იყენებს, განსხვავებული იქნება Firefox-ის სხვა დაყენებული ვერსიების პროფილებისგან.
options-use-sync = თუ გსურთ, ყველა თქვენი პროფილის მონაცემები ერთი და იგივე იყოს Firefox-ის სხვადასხვა დაყენებულ ვერსიებზე, შეგიძლიათ გამოიყენოთ { -fxaccount-brand-name }, დასინქრონებისთვის.

resources = მასალები:
support-link = პროფილის მმართველის გამოყენება – მხარდაჭერის სტატია

sync-header = შედით ან შექმენით { -fxaccount-brand-name }
sync-label = შეიყვანეთ თქვენი ელფოსტა
sync-input =
    .placeholder = ელფოსტა
sync-button = გაგრძელება
sync-terms = თუ განაგრძობთ, თქვენ ეთანხმებით <a data-l10n-name="terms">მომსახურების პირობებსა</a> და <a data-l10n-name="privacy">პირადი მონაცემების დაცვის განაცხადს</a>.
sync-first = აქამდე არ გამოგიყენებიათ { -sync-brand-name }? მონაცემების დასინქრონებისთვის, Firefox-ის ყველა დაყენებული ვერსიიდან უნდა შეხვიდეთ ანგარიშზე.
sync-learn = იხილეთ ვრცლად
