# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Conectar otro dispositivo
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Si aún no lo has hecho, instala <a data-l10n-name="connect-another-device"> Firefox en tu dispositivo móvil </a>.
fxa-qrcode-heading-phase2 = 2. Luego, conéctate a  { -sync-brand-short-name }, o en tu Android escena el código de emparejamiento disponible en los ajustes de { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Si aún no lo has hecho, instala <a data-l10n-name="connect-another-device"> Firefox en tu dispositivo móvil </a>.
fxa-qrcode-heading-step2 = 2. Abre Firefox en tu dispositivo móvil.
fxa-qrcode-heading-step3 = 3. Abre el <b>menú</b> (<img data-l10n-name="ios-menu-icon"/> o <img data-l10n-name="android-menu-icon"/>), toca <img data-l10n-name="settings-icon"/> <b>Ajustes</b> y selecciona <b>Activar sincronización</b>
fxa-qrcode-heading-step4 = 4. Escanea este código:
fxa-qrcode-error-title = No se pudo emparejar.
fxa-qrcode-error-body = Vuelve a intentarlo.
