# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = { -brand-full-name }(r)i buruz

releaseNotes-link = Nobedadeak

update-checkForUpdatesButton =
    .label = Bilatu eguneraketak
    .accesskey = B

update-updateButton =
    .label = Berrabiarazi { -brand-shorter-name } eguneratzeko
    .accesskey = B

update-checkingForUpdates = Eguneraketak bilatzen…
update-downloading = <img data-l10n-name="icon"/>Eguneraketa deskargatzen — <label data-l10n-name="download-status"/>
update-applying = Eguneraketa aplikatzen…

update-failed = Eguneraketak huts egin du.<label data-l10n-name="failed-link">Deskargatu azken bertsioa</label>
update-failed-main = Eguneraketak huts egin du.<a data-l10n-name="failed-link-main">Deskargatu azken bertsioa</a>

update-adminDisabled = Eguneraketak desgaitu ditu sistemaren administratzaileak
update-noUpdatesFound = { -brand-short-name } eguneratuta dago
update-otherInstanceHandlingUpdates = Beste instantzia bat ari da { -brand-short-name } eguneratzen

update-manual = Eskuratu eguneraketak <label data-l10n-name="manual-link"/>

update-unsupported = Ezin duzu eguneraketa gehiago burutu sistema honetan.<label data-l10n-name="unsupported-link">Argibide gehiago</label>

update-restarting = Berrabiarazten…

channel-description = Une honetan <label data-l10n-name="current-channel"></label> eguneraketa-kanalean zaude.

warningDesc-version = { -brand-short-name } esperimentala da eta ezegonkorra izan liteke.

community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> weba ireki, publiko eta guztiontzat atzigarri mantentzeko lanean dabilen <label data-l10n-name="community-exp-creditsLink">komunitate globala</label> da.

community-2 = ‌‌<label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>k diseinatzen du { -brand-short-name }, weba ireki, publiko eta guztiontzat atzigarri mantentzeko lanean dabilen <label data-l10n-name="community-creditsLink">komunitate globalak</label>.

helpus = Lagundu nahi duzu? <label data-l10n-name="helpus-donateLink">Egin dohaintza</label> edo <label data-l10n-name="helpus-getInvolvedLink">hartu parte!</label>

bottomLinks-license = Lizentziaren informazioa
bottomLinks-rights = Erabiltzailearen eskubideak
bottomLinks-privacy = Pribatutasun-politika

# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-bit)

# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-bit)
