# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Hubungkan Perangkat Lainnya
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-phase1 = 1. Jika belum, instal <a data-l10n-name="connect-another-device">Firefox pada perangkat seluler Anda</a>.
fxa-qrcode-heading-phase2 = 2. Kemudian masuk ke { -sync-brand-short-name }, atau pindai kode pemasangan pada Android di pengaturan { -sync-brand-short-name }.
fxa-qrcode-heading-step1 = 1. Jika belum, instal <a data-l10n-name="connect-another-device">Firefox pada perangkat seluler Anda</a>.
fxa-qrcode-heading-step2 = 2. Buka Firefox di perangkat seluler Anda.
fxa-qrcode-heading-step3 = 3. Buka <b>menu</b> (<img data-l10n-name="ios-menu-icon" /> atau <img data-l10n-name="android-menu-icon" />), ketuk <img data-l10n-name="settings-icon" /> <b>Pengaturan</b> dan pilih <b>Aktifkan Sinkronisasi</b>
fxa-qrcode-heading-step4 = 4. Pindai kode ini:
fxa-qrcode-error-title = Pemasangan gagal.
fxa-qrcode-error-body = Coba lagi.
