# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = ਅਗਲੀ ਸਾਈਟ ਭਰਮਪੂਰਕ ਹੈ
safeb-blocked-malware-page-title = ਇਹ ਸਾਈਟ ਖੋਲ੍ਹਣ ਨਾਲ ਤੁਹਾਡੇ ਕੰਪਿਊਟਰ ਨੂੰ ਨੁਕਸਾਨ ਹੋ ਸਕਦਾ ਹੈ
safeb-blocked-unwanted-page-title = ਅਗਲੀ ਸਾਈਟ ਕੁਝ ਨੁਕਸਾਨਦਾਇਕ ਪਰੋਗਰਾਮ ਰੱਖਦੀ ਹੋ ਸਕਦੀ ਹੈ
safeb-blocked-harmful-page-title = ਅਗਲੀ ਸਾਈਟ ਮਾਲਵੇਅਰ ਰੱਖਦੀ ਹੋ ਸਕਦੀ ਹੈ
safeb-blocked-phishing-page-short-desc = { -brand-short-name } ਨੇ ਇਸ ਸਫ਼ੇ ਉੱਤੇ ਪਾਬੰਦੀ ਲਾਈ ਹੈ, ਕਿਉਂਕਿ ਇਹ ਤੁਹਾਨੂੰ ਕੁਝ ਖ਼ਤਰਨਾਕ ਕਰਨ ਲਈ ਫ਼ਰੇਬ ਦੇ ਸਕਦਾ ਹੈ, ਜਿਵੇਂ ਕਿ ਸਾਫਟਵੇਅਰ ਇੰਸਟਾਲ ਕਰਨ ਜਾਂ ਪਾਸਵਰਡ ਜਾਂ ਕਰੈਡਿਟ ਕਾਰਡ ਵਰਗੀ ਨਿੱਜੀ ਜਾਣਕਾਰੀ ਦੇਣ ਲਈ।
safeb-blocked-malware-page-short-desc = { -brand-short-name } ਇਸ ਸਫ਼ੇ ਉੱਤੇ ਪਾਬੰਦੀ ਲਗਾਈ ਹੈ, ਕਿਉਂਕਿ ਇਹ ਦੋਖੀ ਸਾਫ਼ਟਵੇਅਰ ਇੰਸਟਾਲ ਕਰਨ ਦੀ ਕੋਸ਼ਿਸ਼ ਕਰ ਸਕਦਾ ਹੈ, ਜੋ ਕਿ ਤੁਹਾਡੇ ਕੰਪਿਊਟਰ ਤੋਂ ਨਿੱਜੀ ਜਾਣਕਾਰੀ ਨੂੰ ਚੋਰੀ ਜਾਂ ਹਟਾ ਸਕਦਾ ਹੈ।
safeb-blocked-unwanted-page-short-desc = { -brand-short-name } ਨੇ ਇਸ ਸਫ਼ੇ ਉੱਤੇ ਪਾਬੰਦੀ ਲਾਈ ਹੈ, ਕਿਉਂਕਿ ਇਹ ਤੁਹਾਨੂੰ ਅਜਿਹੇ ਪਰੋਗਰਾਮ ਇੰਸਟਾਲ ਕਰਨ ਲਈ ਫ਼ਰੇਬ ਦੇ ਸਕਦਾ ਹੈ, ਜੋ ਕਿ ਤੁਹਾਡੇ ਬਰਾਊਜ਼ਰ ਤਜਰਬੇ ਨੂੰ ਨੁਕਸਾਨ ਕਰ ਸਕਦੇ ਹਨ (ਜਿਵੇਂ ਕਿ ਤੁਹਾਡੇ ਮੁੱਖ ਸਫ਼ੇ ਨੂੰ ਬਦਲ ਕੇ ਜਾਂ ਤੁਹਾਡੇ ਵਲੋਂ ਖੋਲ੍ਹੀਆਂ ਜਾਣ ਵਾਲੀਆਂ ਸਾਈਟਾਂ ਲਈ ਵਾਧੂ ਇਸ਼ਤਿਹਾਰ ਦਿਖਾ ਕੇ)।
safeb-blocked-harmful-page-short-desc = { -brand-short-name } ਨੇ ਇਹ ਸਫ਼ੇ ਉੱਤੇ ਇਸ ਕਰਕੇ ਪਾਬੰਦੀ ਲਗਾਈ ਹੈ ਕਿ ਇਸ ਖ਼ਤਰਨਾਕ ਐਪਾਂ ਨੂੰ ਇੰਸਟਾਲ ਕਰਨ ਦੀ ਕੋਸ਼ਿਸ਼ ਕਰਦਾ ਹੋ ਸਕਦਾ ਹੈ, ਜੋ ਕਿ ਤੁਹਾਡੀ ਜਾਣਕਾਰੀ (ਮਿਸਾਲ ਵਜੋਂ ਫ਼ੋਟੋ, ਪਾਸਵਰਡ, ਸੁਨੇਹੇ ਅਤੇ ਕਰੈਡਿਟ ਕਾਰਡ) ਨੂੰ ਚੋਰੀ ਕਰ ਜਾਂ ਹਟਾ ਸਕਦੀਆਂ ਹਨ।
safeb-palm-advisory-desc = <a data-l10n-name='advisory_provider'>{ $advisoryname }</a> ਵਲੋਂ ਦਿੱਤੀ ਗਈ ਸਲਾਹ।
safeb-palm-accept-label = ਵਾਪਸ ਜਾਓ
safeb-palm-see-details-label = ਵੇਰਵੇ ਵੇਖੋ
safeb-blocked-phishing-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> ਨੂੰ <a data-l10n-name='error_desc_link'> ਭਰਮਪੂਰਨ ਸਾਈਟ ਵਜੋਂ ਰਿਪੋਰਟ ਕੀਤਾ ਗਿਆ ਹੈ</a>। ਤੁਸੀਂ <a data-l10n-name=REport_detection'>ਕਿਸੇ ਖੋਜ ਸਮੱਸਿਆ ਦੀ ਰਿਪੋਰਟ ਕਰ ਸਕਦੇ ਹੋ </a> ਜਾਂ <a data-l10n-name='ignore_warning_link'> ਖ਼ਤਰ ਨੂੰ ਅਣਡਿੱਠਾ ਕਰਕੇ</a> ਇਸ ਅਸੁਰੱਖਿਅਤ ਸਾਈਟ ‘ਤੇ ਜਾ ਸਕਦੇ ਹੋ।
safeb-blocked-phishing-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> ਬਾਰੇ <a data-l10n-name='error_desc_link'>ਭਰਮਪੂਰਨ ਸਾਈਟ ਵਜੋਂ ਰਿਪੋਰਟ ਕੀਤਾ</a> ਜਾ ਚੁੱਕਾ ਹੈ। ਤੁਸੀ <a data-l10n-name='report_detection'>ਖੋਜੀ ਸਮੱਸਿਆ ਦੀ ਰਿਪੋਰਟ</a> ਦੇ ਸਕਦੇ ਹੋ।
safeb-blocked-phishing-page-learn-more = <a data-l10n-name='learn_more_link'>www.antiphishing.org</a> ‘ਤੇ ਭਰਮਪੂਰਨ ਸਾਈਟ ਅਤੇ ਫਿਸ਼ਿੰਗ ਬਾਰੇ ਹੋਰ ਜਾਣੋ। <{ -brand-short-name } ਦੀ ਫਿਸ਼ਿੰਗ ਅਤੇ ਮਾਲਵੇਅਰ ਸੁਰੱਖਿਆ ਬਾਰੇ ਹੋਰ <a data-l10n-name='firefox_support'>support.mozilla.org</a> ਤੋਂ ਜਾਣੋ।
safeb-blocked-malware-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> <a data-l10n-name='error_desc_link'> ਨੂੰ ਖਤਰਨਾਕ ਸਾਫਟਵੇਅਰ ਰੱਖਣ ਲਈ ਰਿਪੋਰਟ ਕੀਤਾ ਗਿਆ ਹੈ </a>। ਤੁਸੀਂ <a data-l10n-name=REport_detection'>ਕਿਸੇ ਖੋਜ ਸਮੱਸਿਆ ਦੀ ਰਿਪੋਰਟ ਕਰ ਸਕਦੇ ਹੋ </a> ਜਾਂ <a data-l10n-name='ignore_warning_link'>ਖ਼ਤਰੇ ਨੂੰ ਅਣਡਿੱਠਾ ਕਰਕੇ</a> ਇਸ ਅਸੁਰੱਖਿਅਤ ਸਾਈਟ ‘ਤੇ ਜਾ ਸਕਦੇ ਹੋ।
safeb-blocked-malware-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> ਬਾਰੇ <a data-l10n-name='error_desc_link'>ਖੁਣਸੀ ਸਾਫਟਵੇਅਰ ਰੱਖਣ ਵਜੋਂ ਰਿਪੋਰਟ ਕੀਤਾ</a> ਜਾ ਚੁੱਕਾ ਹੈ। ਤੁਸੀ <a data-l10n-name='report_detection'>ਖੋਜੀ ਸਮੱਸਿਆ ਦੀ ਰਿਪੋਰਟ</a> ਦੇ ਸਕਦੇ ਹੋ।
safeb-blocked-malware-page-learn-more = ਵਾਇਰਸ ਅਤੇ ਹੋਰ ਮਾਲਵੇਅਰ ਸਮੇਤ ਹਾਨੀਕਾਰਕ ਵੈੱਬ ਸਮੱਗਰੀ ਬਾਰੇ ਅਤੇ ਆਪਣੇ ਕੰਪਿਊਟਰ ਨੂੰ ਸੁਰੱਖਿਅਤ ਬਣਾਉਣ ਲਈ <a data-l10n-name='learn_more_link'>StopBadware.org</a> ‘ਤੇ ਹੋਰ ਜਾਣੋ। <a data-l10n-name='firefox_support'>support.mozilla.org</a> ‘ਤੇ { -brand-short-name } ਦੀ ਫਿਸ਼ਿੰਗ ਅਤੇ ਮਾਲਵੇਅਰ ਸੁਰੱਖਿਆ ਬਾਰੇ ਹੋਰ ਜਾਣੋ।
safeb-blocked-malware-page-error-desc-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> ਨੂੰ <a data-l10n-name='error_desc_link'>ਨੁਕਸਾਨਦੇਹ ਸਾਫਟਵੇਅਰ ਰੱਖਣ ਲਈ ਰਿਪੋਰਟ</a> ਕੀਤਾ ਗਿਆ ਹੈ। ਤੁਸੀਂ <a data-l10n-name='ignore_warning_link'>ਖ਼ਤਰੇ ਨੂੰ ਅਣਡਿੱਠਾ</a> ਕਰਕੇ ਇਸ ਅਸੁਰੱਖਿਅਤ ਸਾਈਟ ਉੱਤੇ ਜਾ ਸਕਦੇ ਹੋ।
safeb-blocked-malware-page-error-desc-no-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> ਨੂੰ <a data-l10n-name='error_desc_link'>ਨੁਕਸਾਨਦੇਹ ਸਾਫਟਵੇਅਰ ਰੱਖਣ ਵਜੋਂ ਰਿਪੋਰਟ</a> ਕੀਤਾ ਗਿਆ ਸੀ।
safeb-blocked-malware-page-learn-more-sumo = { -brand-short-name } ਦੀ ਫਿਸ਼ਿੰਗ ਅਤੇ ਮਾਲਵੇਅਰ ਸੁਰੱਖਿਆ ਬਾਰੇ ਹੋਰ <a data-l10n-name='firefox_support'>support.mozilla.org</a> ਤੋਂ ਜਾਣੋ।
safeb-blocked-unwanted-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> <a data-l10n-name='error_desc_link'> ਨੂੰ ਨੁਕਸਾਨਦੇਹ ਸਾਫਟਵੇਅਰ ਰੱਖਣ ਲਈ ਰਿਪੋਰਟ ਕੀਤਾ ਗਿਆ ਹੈ </a>। ਤੁਸੀਂ <a data-l10n-name='ignore_warning_link'>ਖ਼ਤਰੇ ਨੂੰ ਅਣਡਿੱਠਾ ਕਰਕੇ</a> ਇਸ ਅਸੁਰੱਖਿਅਤ ਸਾਈਟ ‘ਤੇ ਜਾ ਸਕਦੇ ਹੋ।
safeb-blocked-unwanted-page-error-desc-no-override = <a data-l10n-name='error_desc_link'>{ $sitename }</span> ਨੂੰ<a data-l10n-name='error_desc_link'>ਨੁਕਸਾਨਦੇਹ ਸਾਫਟਵੇਅਰ ਰੱਖਣ ਵਾਲੀ ਵਜੋਂ ਰਿਪੋਰਟ</a> ਕੀਤਾ ਗਿਆ ਹੈ।
safeb-blocked-unwanted-page-learn-more = <a data-l10n-name='learn_more_link'>ਬੇਲੋੜੇ ਸਾਫਟਵੇਅਰ ਪਾਲਸੀ </a> ‘ਤੇ ਨੁਕਸਾਨਦੇਹ ਅਤੇ ਬੇਲੋੜੇ ਸਾਫਟਵੇਅਰਾਂ ਬਾਰੇ ਹੋਰ ਜਾਣੋ </a>। { -brand-short-name } ਦੀ ਫਿਸ਼ਿੰਗ ਅਤੇ ਮਾਲਵੇਅਰ ਸੁਰੱਖਿਆ ਬਾਰੇ ਹੋਰ <a data-l10n-name='firefox_support'>support.mozilla.org</a> ਤੋਂ ਜਾਣੋ।
safeb-blocked-harmful-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span>  <a data-l10n-name='error_desc_link'> ਨੂੰ ਸੰਭਾਵਿਤ ਤੌਰ ‘ਤੇ ਨੁਕਸਾਨਦੇਹ ਐਪਲੀਕੇਸ਼ਨ ਰੱਖਣ ਲਈ ਰਿਪੋਰਟ ਕੀਤਾ ਗਿਆ ਹੈ </a>। ਤੁਸੀਂ <a data-l10n-name='ignore_warning_link'>ਖ਼ਤਰੇ ਨੂੰ ਅਣਡਿੱਠਾ ਕਰਕੇ</a> ਇਸ ਅਸੁਰੱਖਿਅਤ ਸਾਈਟ ‘ਤੇ ਜਾ ਸਕਦੇ ਹੋ।
safeb-blocked-harmful-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> ਬਾਰੇ ਸੰਭਾਵਿਤ ਖ਼ਤਰਨਾਕ ਐਪਲੀਕੇਸ਼ਨ ਰੱਖਣ ਕਰਕੇ <a data-l10n-name='error_desc_link'> ਰਿਪੋਰਟ ਕੀਤੀ ਗਈ ਹੈ</a>।
safeb-blocked-harmful-page-learn-more = { -brand-short-name } ਦੀ ਫ਼ਿੰਸ਼ਿੰਗ ਅਤੇ ਮਾਲਵੇਅਰ ਸੁਰ਼ਖਿਆ ਦੇ ਬਾਰੇ ਹੋਰ ਜਾਣਕਾਰੀ ਲੈਣ ਲਈ <a data-l10n-name='firefox_support'>support.mozilla.org</a> ਵੇਖੋ।
safeb-palm-notdeceptive =
    .label = ਇਹ ਭਰਮਪੂਰਨ ਸਾਈਟ ਨਹੀਂ ਹੈ…
    .accesskey = d
