# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-insecure-title = Secure Connection Unavailable
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-insecure-explanation-unavailable = You’re browsing in HTTPS-Only Mode, and a secure HTTPS version of <em>{ $websiteUrl }</em> is not available.
about-httpsonly-insecure-explanation-reasons = Most likely, the web site does not support HTTPS, but it is also possible that an attacker is blocking the HTTPS version.
about-httpsonly-insecure-explanation-exception = While the security risk is low, if you decide to visit the HTTP version of the web site, you should not enter any sensitive information like passwords, emails, or credit card details.
about-httpsonly-button-make-exception = Accept the Risk and Continue to Site
about-httpsonly-title = { -brand-short-name } Detected a Potential Security Issue
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable = You’re browsing in HTTPS-Only Mode, and a secure HTTPS version of <em>{ $websiteUrl }</em> is not available.
about-httpsonly-title-alert = HTTPS-Only Mode Alert
about-httpsonly-title-connection-not-available = Secure Connection Not Available
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = You’ve enabled HTTPS-Only Mode for enhanced security, and a HTTPS version of <em>{ $websiteUrl }</em> is not available.
about-httpsonly-explanation-question = What could be causing this?
about-httpsonly-explanation-nosupport = Most likely, the web site simply does not support HTTPS.
about-httpsonly-explanation-risk = It’s also possible that an attacker is involved. If you decide to visit the web site, you should not enter any sensitive information like passwords, emails, or credit card details.
about-httpsonly-button-accept-and-continue = Accept the Risk and Continue
about-httpsonly-explanation-continue = If you continue, HTTPS-Only Mode will be turned off temporarily for this site.
about-httpsonly-button-continue-to-site = Continue to HTTP Site
about-httpsonly-button-go-back = Go Back
about-httpsonly-link-learn-more = Learn More…
