# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = Site enganoso à frente
safeb-blocked-malware-page-title = Visitar este site pode danificar seu computador
safeb-blocked-unwanted-page-title = O site adiante pode conter programas nocivos
safeb-blocked-harmful-page-title = O site adiante pode conter malware (código malicioso)
safeb-blocked-phishing-page-short-desc = O { -brand-short-name } bloqueou esta página porque ela pode te enganar, induzindo a fazer algo perigoso como instalar software ou revelar informações pessoais como senhas ou números de cartões de crédito.
safeb-blocked-malware-page-short-desc = O { -brand-short-name } bloqueou esta página porque ela pode tentar instalar programas maliciosos que podem roubar ou apagar informações pessoais no seu computador.
safeb-blocked-unwanted-page-short-desc = { -brand-short-name } bloqueou esta página porque ela pode tentar te convencer a instalar programas que prejudiquem sua experiência de navegação (por exemplo, alterando sua página inicial ou exibindo mais anúncios nos sites que você visita).
safeb-blocked-harmful-page-short-desc = O { -brand-short-name } bloqueou esta página porque ela pode tentar instalar aplicativos perigosos que roubam ou apagam suas informações (por exemplo, fotos, senhas, mensagens e cartões de crédito).
safeb-palm-advisory-desc = Assessoria fornecida por <a data-l10n-name='advisory_provider'>{ $advisoryname }</a>.
safeb-palm-accept-label = Voltar
safeb-palm-see-details-label = Ver detalhes
safeb-blocked-phishing-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>denunciado como um site enganoso</a>. Você pode <a data-l10n-name='report_detection'>relatar um problema de detecção</a> ou <a data-l10n-name='ignore_warning_link'>ignorar o risco</a> e ir para este site inseguro.
safeb-blocked-phishing-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>denunciado como um site enganoso</a>. Você pode <a data-l10n-name='report_detection'>relatar um problema de detecção</a>.
safeb-blocked-phishing-page-learn-more = Saiba mais sobre sites enganosos e fraudes online em <a data-l10n-name='learn_more_link'>www.antiphishing.org</a>. Saiba mais sobre a Proteção contra Malware e Fraude online do { -brand-short-name } em <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override = O site <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>denunciado por conter programas maliciosos</a>. Você pode <a data-l10n-name='report_detection'>relatar um problema de detecção</a> ou <a data-l10n-name='ignore_warning_link'>ignorar o risco</a> e visitar o site inseguro.
safeb-blocked-malware-page-error-desc-no-override = O site <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>denunciado por conter programas maliciosos</a>. Você pode <a data-l10n-name='report_detection'>relatar um problema de detecção</a>.
safeb-blocked-malware-page-learn-more = Saiba mais sobre conteúdo web prejudicial, incluindo vírus e outros códigos maliciosos, e como proteger seu computador em <a data-l10n-name='learn_more_link'>StopBadware.org</a>. Saiba mais sobre a proteção do { -brand-short-name } contra phishing (fraude online) e malware (código malicioso) em <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>denunciado por conter software malicioso</a>. Você pode <a data-l10n-name='ignore_warning_link'>ignorar o risco</a> e seguir para este site inseguro.
safeb-blocked-malware-page-error-desc-no-override-sumo = <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>denunciado por conter software malicioso</a>.
safeb-blocked-malware-page-learn-more-sumo = Saiba mais sobre a proteção do { -brand-short-name } contra phishing (fraude online) e malware (código malicioso) em <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-unwanted-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>denunciado por conter software prejudicial</a>. Você pode <a data-l10n-name='ignore_warning_link'>ignorar o risco</a> e ir para este site inseguro.
safeb-blocked-unwanted-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>denunciado por conter software prejudicial</a>.
safeb-blocked-unwanted-page-learn-more = Saiba mais sobre software nocivo e indesejável na <a data-l10n-name='learn_more_link'>Política de Software Indesejável</a>. Saiba mais sobre a proteção do { -brand-short-name } contra phishing (fraude online) e malware (código malicioso) em <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-harmful-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>denunciado por conter uma aplicação potencialmente prejudicial</a>. Você pode <a data-l10n-name='ignore_warning_link'>ignorar o risco</a> e ir para este site inseguro.
safeb-blocked-harmful-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> foi <a data-l10n-name='error_desc_link'>denunciado por conter uma aplicação potencialmente prejudicial</a>.
safeb-blocked-harmful-page-learn-more = Saiba mais sobre a proteção do { -brand-short-name } contra phishing (fraude online) e malware (código malicioso) em <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-palm-notdeceptive =
    .label = Este não é um site enganoso…
    .accesskey = e
