# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = { -brand-full-name } rehegua

releaseNotes-link = Oĩpa mba’e pyahu

update-checkForUpdatesButton =
    .label = Tekopyahu reka
    .accesskey = T

update-updateButton =
    .label = Emoñepyrũjey embohekopyahu hag̃ua { -brand-shorter-name }
    .accesskey = E

update-checkingForUpdates = Tekopyahu jehechajey…
update-downloading = <img data-l10n-name="icon"/>Oñemboguejyhína tekopyahu —<label data-l10n-name="download-status"/>
update-applying = Ojepuruhína tekopyahu…

update-failed = Tekopyahu ndoikói.<label data-l10n-name="failed-link">Emboguejy apopy ipyahuvéva</label>
update-failed-main = Tekopyahu ndoikói.<a data-l10n-name="failed-link-main">Emboguejy apopy ipyahuvéva</a>

update-adminDisabled = Tekopyahu ñangarekohára omongeva’ekue
update-noUpdatesFound = { -brand-short-name } hekopyahúma
update-otherInstanceHandlingUpdates = { -brand-short-name } oñembohekopyahuhína ambuéva rupi

update-manual = Tekopyahu rejuhukuaáva ápe<label data-l10n-name="manual-link"/>

update-unsupported = Ndaikatuvéima reipuru ambue tekopyahu ko apopyvusúpe.<label data-l10n-name="unsupported-link">Kuaave</label>

update-restarting = Moñepyrũjey…

channel-description = Oiporuhína mbohapeha<label data-l10n-name="current-channel"></label> tekopyahurã.

warningDesc-version = { -brand-short-name } oñeha’ãva gueteri ha ne’ĩrava oĩmba.

community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label>ha’e peteĩ<label data-l10n-name="community-exp-creditsLink">Yvóra rekoha</label>Ñamba’apo oñondivepa ikatu hag̃uáicha ñanduti ijuruja, opavavépe g̃uarã ha oikekuaahápe oimeraẽva.

community-2 = { -brand-short-name } apohare<label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, peteĩ <label data-l10n-name="community-creditsLink">Yvóra rekoha</label>ñamba’apo oñondivepa ikatu hag̃uáicha ñanduti ijuruja, opavavépe g̃uarã ha oikekuaahápe oimeraẽva.

helpus = Reipytyvõsepa<label data-l10n-name="helpus-donateLink">Mba’eme’ẽ</label> térã<label data-l10n-name="helpus-getInvolvedLink">eiképy</label>

bottomLinks-license = Marandu ñe’ẽme’ẽguigua
bottomLinks-rights = Puruhára paha mba’engatu
bottomLinks-privacy = Temiñemi purureko

# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-bit)

# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-bit)
